<!--start display appls and documents-->
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/datetime-moment.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
@* <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="all" /> *@
<script src="~/scripts/dataTables.bootstrap4.min.js"></script>

<!-- Bootstrap Font Icon CSS -->
@* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> *@


<style>

    table.dataTable thead th { 
       background: transparent !important; 
       white-space: nowrap; 
    } 

   table.dataTable thead span.sort-icon {
      display: inline;
      padding-left: 20px;
      width: 20px;
   }

   table.dataTable thead .sorting span {
      background: no-repeat url('../../Content/images/sort-alpha-down.svg') center right;
   }

   table.dataTable thead .sorting_asc span {
      background: no-repeat url('../../Content/images/sort-alpha-up.svg') center right;
   }

   table.dataTable thead .sorting_desc span {
      background: url('../../Content/images/sort-alpha-down.svg') no-repeat center right;
   }

   table.dataTable thead .sorting_disabled span {
      /* background: url('../../Content/images/sort-alpha-down.svg') no-repeat center right; */
      /* background-size: contain; */
      /* border-left: solid transparent; */
      /* border-right:  solid transparent; */
      /* border-top: solid blue; */

   }

   table.dataTable thead .sorting_asc_disabled span {
      /* background: url('../../Content/images/sort-alpha-down.svg') no-repeat center right; */
      /* background-size: contain; */
      /* border-left: solid transparent; */
      /* border-right:  solid transparent; */
      /* border-top: solid blue; */
   }

   table.dataTable thead .sorting_desc_disabled span {
      /* background: url('../../Content/images/sort-alpha-up.svg') no-repeat center right; */
      /* border-left: solid transparent; */
      /* border-right:  solid transparent; */
      /* border-top: solid blue; */
      /* background-size: contain; */
   }

   table.dataTable thead .sorting::before,
   table.dataTable thead .sorting_asc::before,
   table.dataTable thead .sorting_desc::before,
   table.dataTable thead .sorting_asc_disabled::before,
   table.dataTable thead .sorting_desc_disabled::before {
      content: "" !important;
   }

   table.dataTable thead .sorting::after,
   table.dataTable thead .sorting_asc::after,
   table.dataTable thead .sorting_desc::after,
   table.dataTable thead .sorting_asc_disabled::after,
   table.dataTable thead .sorting_desc_disabled::after {
      content: "" !important;
   }



   table.dataTable tbody tr.even-row {
      background-color: #ffffff;
      height: 30px;
   }

   table.dataTable tbody tr.odd-row {
      background-color: #AED6F1;
      height: 30px;
   }

   #overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 99999;
      background-color: white;
      filter: alpha(opacity=75);
      opacity: 0.75;
      display: none;
   }
</style>

<script language="JavaScript" type="text/javascript">

   function show_doc(docurl) {
      var ImageServer = document.getElementById("hidImageServer").value;
      if (docurl.substring(0, 12) == "https://s2s.") {
         var url = "@Url.Action("show_era_doc", "EgrantsDoc")?docurl=" + docurl;
      } else if (docurl.substring(0, 5) == "/data") {
         var url = ImageServer + docurl.substring(1, docurl.length);
      } else if (docurl.substring(0, 5) == "data/") {
         var url = ImageServer + docurl;
      } else url = docurl;
      window.open(url);
   }

   function show_qc(document_id, type) {
      document_id = document_id.split("_")[2];
      //var el = document_id;
      if (type == 1) {
         if (document.getElementById("qc_checkbox_" + document_id)) {
            document.getElementById("qc_checkbox_" + document_id).style.display = "inline";
         }
         document.getElementById("show_qc_" + document_id).style.display = "none";
         document.getElementById("hide_qc_" + document_id).style.display = "inline";
      }
      if (type == 0) {
         if (document.getElementById("qc_checkbox_" + document_id)) {
            document.getElementById("qc_checkbox_" + document_id).style.display = "none";
         }
         document.getElementById("show_qc_" + document_id).style.display = "inline";
         document.getElementById("hide_qc_" + document_id).style.display = "none";
      }
   }

   //to upload document image
   function upload_doc(document_id) {
      var url = "@Url.Action("doc_upload_default", "EgrantsDoc")?doc_id=" + document_id;
      window.self.location = url;
   }

   //to modify index for normal document
   function update_doc(document_id) {
      var current_url = encodeURIComponent(currenturl);
      var url = "@Url.Action("doc_index_update_default", "EgrantsDoc")?document_id=" + document_id + "&previous_url=" + current_url;
      window.document.location.href = url;
   }

   //modify index for Unidentified documents
   function unidentified_update_doc(document_id, document_date, category_id) {
      var url = "@Url.Action("unidentified_doc_modify", "EgrantsDoc")?document_id=" + document_id + "&category_id=" + category_id + "&document_date=" + document_date + "&current_url=" + currenturl;
      window.document.location.href = url;
   }
</script>
@{
   var appl_id = Model;
   <div id="overlay">
      <img style="width: 150px; height: 150px; margin-left: 400px; margin-top: 150px;" src="~/Content/images/Loading.gif" />
   </div>


   <div id="data_table">
      <div class="container">
         <br />
         <div style="width: 880px;  float:left">
            <table id="loadgrid_@appl_id" class="" style="width: 100%">
               <thead>
                  <tr>
                     <th>
                        @if (Convert.ToInt16(Session["position_id"]) >= 2)
                        {
                           <div id='show_qc_all_@appl_id' style='display: none;'>
                              @*class="show_qc_all"*@
                              <a class='showmodeall' href='javascript:void(0);' title='show all qc mode'>
                                 <img name='show_qc_all' style="height: 30px;" src='~/Content/images/plus.png' />
                              </a>
                           </div>
                           <div id='hide_qc_all_@appl_id' style='display: none;'>
                              @*class="hide_qc_all"*@
                              <a class='hidemodeall' href='javascript:void(0);' title='hide all qc mode'>
                                 <img name='hide_qc_all' style="height: 30px;" src='~/Content/images/minus.png' />
                              </a>
                           </div>
                        }
                     </th>
                     <th>Document Name<span class="sort-icon"></span></th>
                     <th>Date<span class="sort-icon" ></span></th>
                     <th>Pages</th>
                     <th>
                        @if (Convert.ToInt16(Session["position_id"]) >= 2)
                        {
                           <span>Upload</span>
                        }
                     </th>
                     <th>
                        @if (Convert.ToInt16(Session["position_id"]) >= 2)
                        {
                           <span>Update</span>
                        }
                     </th>
                     <th>Report Error</th>
                  </tr>
               </thead>
            </table>
         </div>
      </div>
      <script language="javascript" type="text/javascript">
         //start load document dat to datatable
         $("#overlay").show();

         $(document).ready(function () {
 
            $.fn.dataTable.moment('MM/DD/YYYY');
            jQuery.extend(jQuery.fn.dataTableExt.oSort,
               {
                  'dateNonStandard-asc': function(a, b) {
                     var x = Date.parse(a);
                     var y = Date.parse(b);
                     if (x == y) {
                        return 0;
                     }
                     if (isNaN(x) || x < y) {
                        return 1;
                     }
                     if (isNaN(y) || x > y) {
                        return -1;
                     }
                  },
                  'dateNonStandard-desc': function(a, b) {
                     var x = Date.parse(a);
                     var y = Date.parse(b);
                     if (x == y) {
                        return 0;
                     }
                     if (isNaN(y) || x < y) {
                        return -1;
                     }
                     if (isNaN(x) || x > y) {
                        return 1;
                     }
                  }
               });
            var table = $("#loadgrid_" + @appl_id).DataTable({
               "paging": false, //for reinitialise
               "searching": false, //for reinitialise
               "ordering": true,
               "order": [[2, 'asc']], //desc
               "processing": true, //for show progress bar
               "serverSide": false, //for process server side
               "filter": true, //this is for disable filter (search box)
               "orderMulti": false, //for disable multiple column at once
               "bInfo": false,
               "initComplete": function(settings, json) {
                  var info = this.api().page.info();
                  if (info.recordsTotal > 1) $('#show_qc_all_' + @appl_id).show();
               },

               "ajax": {
                  "url": "/Egrants/LoadDocsGrid?appl_id=" + @appl_id + "&search_type=@Convert.ToString(ViewBag.SearchStyle)" + "&category_list=@Convert.ToString(ViewBag.SelectedCats)",
                  "type": "GET",
                  "datatype": "json"
               },
               "stripeClasses": ['odd-row', 'even-row'],
               "columnDefs": [
                  { "width": "55%", "targets": 1 },
                  { "width": "5%", "targets": 0 },
                  {
                     "targets": [0, 3, 4, 5, 6],
                     "orderable": false
                  },
                  {
                     "visible": true,
                     "searching": false,
                     "paging": false
                  },
                  {
                     "className": "text-center",
                     "targets": [3, 4, 5, 6]
                  },
                  {
                     "type": 'dateNonStandard',
                     targets: [2]
                  }
               ],
               "columns": [
                  {
                     "className": 'details-control',
                     //show qc icon and checkbox
                     "render": function(data, type, full, meta) {
                        if (document.getElementById("hidPositionID").value >= 2 && full.can_qc == "y") {
                           if (full.can_store == "y") {
                              return "<div id='show_qc_" +
                                 full.document_id +
                                 "'  class='show_qc' style='width:30px; display:inline'>" +
                                 "<a class='showmode' href='javascript:void(0);' title='show qc mode'>" +
                                 "<img name='show_qc' style='height:30px;' src='../Content/images/plus.png'/></a></div>" +
                                 "<div id='hide_qc_" +
                                 full.document_id +
                                 "' class='hide_qc' style='width:30px; display:none'>" +
                                 "<a class='hidemode' href='javascript:void(0);' title='hide qc mode'>" +
                                 "<span>&nbsp;</span>" +
                                 "<img name='hide_qc' style='height:30px;' src='../Content/images/minus.png'/></a></div>" +
                                 "<div id='qc_checkbox_" +
                                 full.document_id +
                                 "' name='qc_checkbox' class='qc_checkbox' style='display:none;vertical-align:middle;'>" +
                                 "<input type='checkbox' id='" +
                                 full.document_id +
                                 "' class='qc' name='qc' value='" +
                                 full.document_id +
                                 "' title='Check here to store or delete this document'/></div>";
                           } else {
                              return "<div id='show_qc_" +
                                 full.document_id +
                                 "'  class='show_qc' style='width:30px; display:inline'>" +
                                 "<a class='showmode' href='javascript:void(0);' title='show qc mode'>" +
                                 "<img name='show_qc' style='height:30px;' src='../Content/images/plus.png'/></a></div>" +
                                 "<div id='hide_qc_" +
                                 full.document_id +
                                 "' class='hide_qc' style='width:30px; display:none'>" +
                                 "<a class='hidemode' href='javascript:void(0);' title='hide qc mode'>" +
                                 "<img name='hide_qc' style='height:30px;' src='../Content/images/minus.png'/></a></div>";
                           }
                        } else return "";
                     }
                  },
                  {
                     //show document_name with url
                     "render": function(data, type, full, meta) {
                        if (full.frc_destroyed == 0) {
                           if (full.fsr_count > 1 && (full.document_name == "FFR" || full.document_name == "Financial Report")) {
                              return "<a href=JavaScript:show_doc('" +
                                 full.url +
                                 "') title='show document'>" +
                                 full.document_name +
                                 "</a>" +
                                 "<span>&nbsp;&nbsp;&nbsp;</span><a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='fsr' data-assigned-id=" +
                                 full.appl_id +
                                 " title='Display all financial reports'>All FFR</a>";
                           } else if (full.attachment_count > 0) {
                              return "<a href=JavaScript:show_doc('" +
                                 full.url +
                                 "') title='show document'>" +
                                 full.document_name +
                                 "</a>" +
                                 "<span>&nbsp;&nbsp;&nbsp;</span><a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='attachments' data-assigned-id=" +
                                 full.document_id +
                                 " title='Display all attachments'>Attachments</a>";
                           } else if (full.document_name == "Closeout Notification") {
                              return "<a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='closeout' data-assigned-id=" + full.appl_id + " title='Display Closeout Notification'>" + full.document_name + "</a>";
                           } else return "<a href=JavaScript:show_doc('" + full.url + "') title='show document'>" + full.document_name + "</a>";
                        } else return "<strike>" + full.document_name + "</strike>";
                     }
                  },
                  {
                     "data": "doc_date",
                     render: function(data, type, full, meta) {
                        if (full.document_date == "") return '';
                        else return moment(data).format('MM/DD/YYYY')
                     },
                     "autoWidth": true,
                  },
                  { "data": "page_count", "autoWidth": true },
                  {
                     //replace document image
                     "render": function(data, type, full, meta) {
                        if (document.getElementById("hidPositionID").value >= 2 && full.can_upload == "y" && full.frc_destroyed == 0) {
                           return "<a href='JavaScript:upload_doc(" + full.document_id + ")' title='Replace Document'><img class='img_14_14' src='../Content/images/upl.png' /></a>";
                        } else return "";
                     }
                  },
                  {
                     //update document index
                     "render": function(data, type, full, meta) {
                        if (document.getElementById("hidPositionID").value >= 2 && full.can_modify_index == "y" && full.frc_destroyed == 0) {
                           return "<a href='JavaScript:update_doc(" + full.document_id + ")' title='Update Document'><img class='img_16_16' src='../Content/images/Update File.png'/></a>";
                        } else return "";
                     }
                  },
                  {
                     //report document error
                     "render": function(data, type, full, meta) {
                        if (full.can_qc == "y" && full.frc_destroyed == 0) {
                           return "<a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='error' data-assigned-id='" + full.document_id + "' title='Report problem with document'><img class='img_16_16' src='../Content/images/Report Doc Error.png'/></a>";
                        } else return "";
                     }
                  }
               ]
            });

            var mode = document.getElementById("hidMode").value;
            if (mode == "qc") {
               //show all qc options
               setTimeout(function() {
                     var cnt = 0;
                     $.each($('#loadgrid_' + @appl_id + ' a.showmode'),
                        function() {
                           var tr = $(this).closest('tr');
                           var row = table.row(tr);
                           show_qc($(this).closest('div').attr('id'), 1);
                           row.child(format(row.data())).show();
                           tr.next('tr').addClass(tr.attr('class'));
                           cnt++;
                        });
                     if (cnt > 1) {
                        $('#show_qc_all_' + @appl_id).hide();
                        $('#hide_qc_all_' + @appl_id).show();
                     }
                     var inputs = document.getElementsByTagName("div");
                     // show minus icon
                     for (var i = 0; i < inputs.length; i++) {
                        if (inputs[i].className == 'show_qc') {
                           inputs[i].style.display = "none";
                        } else if (inputs[i].className == 'hide_qc') {
                           inputs[i].style.display = "inline";
                        } else continue;
                     }
                     //show check box
                     for (var i = 0; i < inputs.length; i++) {
                        if (inputs[i].className == 'qc_checkbox') {
                           inputs[i].style.display = "inline";
                        } else continue;
                     }
                  },
                  4000);
            }

            //show qc mode all
            $('#loadgrid_' + @appl_id + ' thead').on('click',
               'a.showmodeall',
               function() {
                  $.each($('#loadgrid_' + @appl_id + ' a.showmode'),
                     function() {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);
                        show_qc($(this).closest('div').attr('id'), 1);
                        row.child(format(row.data())).show();
                        tr.next('tr').addClass(tr.attr('class'));
                     });
                  $('#show_qc_all_' + @appl_id).hide();
                  $('#hide_qc_all_' + @appl_id).show();
               });

            //hide qc mode all
            $('#loadgrid_' + @appl_id + ' thead').on('click',
               'a.hidemodeall',
               function() {
                  $.each($('#loadgrid_' + @appl_id + ' a.showmode'),
                     function() {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);
                        show_qc($(this).closest('div').attr('id'), 0);
                        row.child(format(row.data())).hide();
                     });
                  $('#show_qc_all_' + @appl_id).show();
                  $('#hide_qc_all_' + @appl_id).hide();
               });

            $('#loadgrid_' + @appl_id + ' tbody').on('click',
               'a.showmode',
               function() {
                  var tr = $(this).closest('tr');
                  var row = table.row(tr);
                  show_qc($(this).closest('div').attr('id'), 1);
                  row.child(format(row.data())).show();
                  tr.next('tr').addClass(tr.attr('class'));
               });

            $('#loadgrid_' + @appl_id + ' tbody').on('click',
               'a.hidemode',
               function() {
                  var tr = $(this).closest('tr');
                  var row = table.row(tr);
                  show_qc($(this).closest('div').attr('id'), 0);
                  row.child(format(row.data())).hide();
               });

            //show bootstrapt modal
            $('#loadgrid_' + @appl_id + ' tbody').on('click',
               'a.NormalModal',
               function() {
                  var act = $(this).data('id');
                  //show all FFRs or closeout notification for this appl
                  if (act == "fsr" || act == "closeout") {
                     var appl_id = $(this).data('assigned-id');
                     var route = '@Url.Action("impac_docs", "EgrantsDoc")?act=' + act + '&appl_id=' + appl_id;

                     if (act == "closeout") {
                        modal_title = "Closeout Notifications";
                     } else modal_title = "Show All FFR(s)";
                  }

                  //show doc attachment
                  if (act == "attachments") {
                     var document_id = $(this).data('assigned-id');
                     var route = '@Url.Action("doc_attachments", "EgrantsDoc")?document_id=' + document_id;
                     modal_title = "Attachments";
                  }

                  //report error
                  if (act == "error") {
                     var document_id = $(this).data('assigned-id');
                     var route = '@Url.Action("ReportErrorIndex", "EgrantsDoc")?document_id=' + document_id;
                     modal_title = "Report Document Error";
                  }
                  $('#NormalModalTitle').html(modal_title);
                  $('#NormalModalPartial').load(route);
               });

            //$.fn.textWidth = function () {
            //    var html_org = $(this).html();
            //    console.log(html_org);
            //    var html_calc = '<span>' + html_org + '</span>';
            //    $(this).html(html_calc);
            //    var width = $(this).find('span:first').width();
            //    $(this).html(html_org);
            //    return width;
            //};

            @*$('#loadgrid_' + @appl_id).on('draw.dt', function (e) {
                    $('#loadgrid_' + @appl_id + ' thead tr th').each(function (idx, ele) {
                        var xPos = parseInt((($(ele).width() + $(ele).textWidth()) / 2) + 20);
                        console.log(xPos);
                        $(ele).css('background-position-x', xPos + 'px')
                    })
                });*@
         });

         /* Formatting function for row details   margin-left:65px;*/
         function format(d) {
            var str = '<div cellpadding="0" style="border-style:none!important; word-wrap:break-all; border=none; border-collapse:collapse; white-space:normal; width:840px; float:right; display:inline;">';
            str = str + 'Created On ' + d.created_date + ' by ' + d.created_by;
            if (d.file_modified_by != "") {
               str = str + '; Document uploaded On ' + d.file_modified_date;
               str = str + ' by ' + d.file_modified_by;
            }
            if (d.modified_by != "") {
               str = str + '; Updated On ' + d.modified_date;
               str = str + ' by ' + d.modified_by;
            }
            if (d.problem_msg != "" && d.qc_date != "") {
               str = str + '; Error Reported by ' + d.problem_reported_by;
               str = str + ':<b id="error">' + d.problem_msg + '</b>';
            }
            //str = str + '</div><div style="float:left; width:850px; display:inline;">';
            if (d.can_store == 'y' || d.can_restore == 'y' || d.can_delete == "y") {
               str = str + '<br/><span style= "margin-left:0px;">';
               //show store option
               if (d.can_store == 'y') {
                  var act = "to store";
                  str = str + '<a href="JavaScript:doc_modify(\'' + act + '\',\'' + d.document_id + '\')">Store</a><span style="padding-left:50px;"/>';
                  str = str + '<a href="JavaScript:multiple_act(\'' + act + '\')">Stored Selected</a><span style="padding-left:50px;"/>';
               }
               //show restore option
               if (d.can_restore == 'y') {
                  var act = "to restore";
                  str = str + '<a href="JavaScript:doc_modify(\'' + act + '\',\'' + d.document_id + '\')">Restore Original</a><span style="padding-left:50px;"/>';
               }
               //show delete option
               if (d.can_delete == "y") {
                  var act = "to delete";
                  str = str + '<a href="JavaScript:doc_modify(\'' + act + '\',\'' + d.document_id + '\')">Delete</a>';
               }
               str = str + '</span>';
            }
            str = str + '</div>';
            //display all qc options
            return '<div id=' + d.document_id + ' name="qc_options" class="qc_options" style="display:inline; float:left; width:900px;"><div class="processing" id="' + "process_" + d.document_id + '" style="width:40px; display:none; float:left;"><img style="width:30px; height:30px; margin-left:5px;" src="../Content/images/Loading.gif"/></div>' + str + '</div>';
            //return '<div class="processing" id="' + "process_" + d.document_id + '" style="width:35px; display:none; float:left;"><img style="width:33px; height:33px; margin-left:5px;" src="../Content/images/Loading.gif"/></div><div id=' + d.document_id + ' name="qc_options" class="qc_options" style="display:inline; float:right; width:850px;">' + str + '</div>';
         }

         window.onload = function() {
            $("#overlay").hide();
         }
      </script>
   </div>

}
<!--end show documents-->