@{
    ViewBag.Title = "egrants [Document Index Update]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
            set_default();
    });

    function set_default() {
        //set category_id
        if (document.getElementById("hidCategory_id").value != "") {
            for (i = 1; i <= document.getElementById("hidMax_Categoryid").value; i++) {
                if (document.getElementById("ddlCategories").options[i] != null && document.getElementById("ddlCategories").options[i].id == document.getElementById("hidCategory_id").value) {
                    document.getElementById("ddlCategories").options[i].selected = "yes";
                    var input_string = document.getElementById("ddlCategories").options[i].value;
                    var input_type = input_string.charAt(0);
                }
            }
        }

        //show sub_category
        if (input_type == "T")
        {
            var el = "sub_category_" + document.getElementById("hidCategory_id").value;
            document.getElementById(el).style.display = "inline";
            var el = "T_" + document.getElementById("hidCategory_id").value;
            document.getElementById(el).value = document.getElementById("hidSub_category").value;
        }

        if (input_type == "D")
        {
            var el = "sub_category_" + document.getElementById("hidCategory_id").value;
            document.getElementById(el).style.display = "inline";
            var el = "D_" + document.getElementById("hidCategory_id").value;
            var listlength = document.getElementById(el).length;
            if (document.getElementById("hidSub_category").value == "") {
                document.getElementById(el).options[0].selected = "yes";
            }
            else {
                for (var i = 1; i <= listlength-1; i++) {
                    if (document.getElementById(el).options[i].value == document.getElementById("hidSub_category").value) {
                        document.getElementById(el).options[i].selected = "yes";
                    }
                }
            }
        }

        //load grant years list
        if (document.getElementById("hidAppl_id").value != "") {
            load_appls();
            var myVar = setTimeout(function () { selected_appl() }, 500);
        }

        //set document date
        if (document.getElementById("hidDocument_date").value != null && document.getElementById("hidDocument_date").value != "") {
            document.getElementById("txtDocumentdate").value = document.getElementById("hidDocument_date").value;
        }
    }

    //to set original appl_id
    function selected_appl() {
        var appl_id = document.getElementById("hidAppl_id").value;
        //alert(appl_id);
        $("#ddlAppls").val(appl_id);
    }

    function modify_index() {
        //get doc_id
        var Docid = document.getElementById("hidDocument_id").value;

        //get appl_id
        if (get_appl()== false) {
            return false;
        }

        //get category_id and get sub_category input index
        if (get_category_id() == false) {
            return false;
        } else  var selectedindex = document.getElementById("ddlCategories").selectedIndex;
                var input_string = document.getElementById("ddlCategories").options[selectedindex].value;
                var input_type = input_string.charAt(0);
                var input_constraint = input_string.charAt(1);

        //get sub_category
        if (get_sub_category(input_type, input_constraint, Categoryid, CategoryName) == false) {
            return false;
        }

        //get document_date
        if (get_document_date() == false) {
            return false;
        }

        //get previous url
        var previous_url = get_previous_url();
        var previousurl = encodeURIComponent(previous_url);
        var url = "@Url.Action("doc_index_modify", "EgrantsDoc")?act=to_update&appl_id=" + Applid + "&document_id=" + Docid + "&category_id=" + Categoryid + "&sub_category=" + SubCategory + "&document_date=" + DocDate + "&previous_url=" + previousurl;
        //alert(url);
        window.self.location = url;
        return true;
    }

    function get_previous_url() {
        var previous_url = document.getElementById("hidPrevious_url").value;
        if (previous_url != "" && previous_url != null && previous_url != undefined) {
            var url = previous_url;
        } else var url = document.getElementById("hidOriginal_url").value;
        return url;
    }

    function back() {
        //alert(document.getElementById("hidPrevious_url").value);
        var previous_url = document.getElementById("hidPrevious_url").value;
        window.self.location = previous_url;
    }
</script>

<!--load data for current document-->
<form name="frmGetInfo">
    <input type="text" hidden id="hidStatus" name="status" value="@ViewBag.Status" />
    <input type="text" hidden id="hidAdmin_code" name="admin_code" value="@ViewBag.admincode" />
    <input type="text" hidden id="hidSerial_num" name="serial_num" value="@ViewBag.serialnum" />
    <input type="text" hidden id="hidMax_Categoryid" name="max_categoryid" value="@ViewBag.MaxCategoryid" />
    <input type="text" hidden id="hidAct" name="act" value="modify" />
    <input type="text" hidden id="hidAppl_id" name="appl_id" value="@ViewBag.applid" />
    <input type="text" hidden id="hidDocument_id" name="document_id" value="@ViewBag.docid" />
    <input type="text" hidden id="hidDocument_date" name="document_date" value="@ViewBag.docdate" />
    <input type="text" hidden id="hidCategory_id" name="category_id" value="@ViewBag.categoryid" />
    <input type="text" hidden id="hidSub_category" name="sub_category" value="@ViewBag.subcategory" />
    <input type="text" hidden id="hidPrevious_url" name="previous_url" value="@ViewBag.Previousurl" />
    <input type="text" hidden id="hidPossionID" name="position_id" value=@Convert.ToString(Session["position_id"]) />
</form>

<div id="main" style="margin: 0; padding: 0;">
    <table>
        <tr>
            <td>
                <div id="caption" style="margin: 0; padding: 0;"><b id="page_title">Update Document</b></div>
                <div>
                    @Html.Partial("~/Egrants/Views/_egrants_Doc.cshtml")
                    <img width="650" height="10" src="~/Content/images/horizontal_line.jpg" />
                    <table width="650">
                        <tr>
                            <td width="100"></td>
                            <td height="50">
                                <button type="button" AccessKey="U" class="btn btn-primary btn-sm eGrantsDocBtn" OnClick="return modify_index()" title="Click here to update document index [shift + alt + U]"><u>U</u>pdate</button>
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" id="btnBack" class="btn btn-primary eGrantsReturnBtn" accesskey="R" title="Click here to return original page [alt + shift + R]" onclick="Javascript: back()"><u>R</u>eturn to eGrants File</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="width: 400px;  padding-left: 50px;">
               <div class="text-justify p-4" valign="top" style="box-shadow: 0 3px 10px lightgray; width: 350px; height: 240px; line-height: normal; font-style: normal; vertical-align: text-top; padding-left: 15px;">
                  <strong>Reminder:</strong> Sensitive Personally Identifiable Information (PII; e.g. Social Security Number, personal financial information, Alien Registration Number, etc.) or Protected Health Information (e.g. personal medical conditions, etc.) requires strict handling due to the increased risk to an individual if the data is compromised. Documents containing sensitive PII or PHI must not be uploaded into eGrants. More information can be found in the <a target="_new" href="https://policymanual.nih.gov/manage/chapter/view/1745">Manual Chapter 1745 - NIH Information Technology (IT) Privacy Program</a>.
               </div>
            </td>
        </tr>
    </table>

</div>


