@{
    ViewBag.Title = "eGrants [Document Upload Module]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

@using egrants_new.Controllers;
@using egrants_new.Egrants.Models;
@using System.Web.SessionState;

<link rel="stylesheet" type="text/css" href="~/Content/DragdropArea.css" />
<script src="~/scripts/dragdrop.js"></script>
<script src="~/scripts/ProgressBar.js"></script>

<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
	background-color: inherit;
    	float: left;
    	border: none;
      	outline: none;
     	cursor: pointer;
      	padding: 14px 16px;
      	transition: 0.3s;
      	font-size: 17px;
     }

     /* Change background color of buttons on hover */
     .tab button:hover {
	background-color: #ddd;
     }

    /* Create an active/current tablink class */
    .tab button.active {
	background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        /*display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;*/
    }
</style>
@*<style>
        .nav-tabs > li > a {
            border: 1px solid;
        }
    </style>*@

<script language="javascript" type="text/javascript">
    var input_string;
    var input_type;
    var input_constraint;
    //var frmdata = new FormData();

    $(document).ready(function () {
        set_default();
    });

    function set_default() {
        //set default upload mode
        switch_upload_mode("by_ddrop");

        //var BrowserType = document.getElementById("hidBrowserType").value;
        //if (BrowserType.indexOf("Chrome") != -1) {
        //    switch_upload_mode("by_file");
        //} else switch_upload_mode("by_ddrop");

        //set document date
        set_doc_date();

        if (document.getElementById("hidAppl_id").value != "") {
            //load grant years list
            load_appls();
            var myVar = setTimeout(function () { selected_appl() }, 500);
        } else document.getElementById("txtSerialnum").focus();
    }

    function set_doc_date() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        today = mm + '/' + dd + '/' + yyyy;
        document.getElementById("txtDocumentdate").value = today;
    }

    //to select grants with appl_id
    function selected_appl() {
        var appl_id = document.getElementById("hidAppl_id").value;
        //alert(appl_id);
        $("#ddlAppls").val(appl_id);
    }

    function switch_upload_mode(act) {
        if (act == "by_ddrop") {
            document.getElementById("by_ddrop").style.display = "inline";
            document.getElementById("by_file").style.display = "none";
            document.getElementById("by_email").style.display = "none";
            document.getElementById("btnDragdrop").style.display = "inline";
            Init();
        }

        if (act == "by_file") {
            document.getElementById("by_file").style.display = "inline";
            document.getElementById("by_ddrop").style.display = "none";
            document.getElementById("by_email").style.display = "none";
            document.getElementById("btnFileUpload").style.display = "inline";
        }

        if (act == "by_email") {
            document.getElementById("by_email").style.display = "inline";
            document.getElementById("by_ddrop").style.display = "none";
            document.getElementById("by_file").style.display = "none";
            document.getElementById("btnEmail").style.display = "inline";
        }
    }

    //to get input_type and input_constraint with select Category
    function get_sub_category_input() {
        var selectedindex = document.getElementById("ddlCategories").selectedIndex;
        input_string = document.getElementById("ddlCategories").options[selectedindex].value;
        input_type = input_string.charAt(0);
        input_constraint = input_string.charAt(1);
    }

    function clear_message(type) {
        //clear all message
        $("#mssg").css('display', 'none');
        $('#notice').css('visibility', 'hidden');
        //if (type == "by_file") {
        //    document.getElementById("UploadFile").value = "";
        //}
    }

    function create_by_file() {
        clear_message("by_file");

        //check admin_code
        get_admin_code();

        ////check serial number
        if (get_serial_num() == false) {
            return false
        }

        //check appl_id
        if (get_appl() == false) {
            return false
        }

        //check category_id and get sub_category input index
        if (get_category_id() == false) {
            return false
        } //else get_sub_category_input();

        //get category_id and get sub_category input index
        if (get_category_id() == false) {
            return false;
        } else get_sub_category_input();

        //get sub_category
        if (get_sub_category(input_type, input_constraint, Categoryid, CategoryName) == false) {
            return false;
        }

        //check document_date
        if (get_document_date() == false) {
            return false
        }

        //check loacte file, file type and file size
        if (check_file() == false) {
            return false;
        } else var file = document.getElementById('UploadFile').files[0];

        var frmdata = new FormData();
        frmdata.append('file', file);
        frmdata.append('admin_code', AdminCode);
        frmdata.append('serial_num', SerialNum);
        frmdata.append('appl_id', Applid);
        frmdata.append('category_id', Categoryid);
        frmdata.append('sub_category', SubCategory);
        frmdata.append('doc_date', DocDate);
        docupload(frmdata, "/EgrantsDoc/doc_create_by_file");
        clear_all("by_file");
    }

    function create_by_ddrop() {
        clear_message("by_dd");

        //check admin_code
        get_admin_code();

        //check serial number
        if (get_serial_num() == false) {
            return false;
        }

        //check appl_id
        if (get_appl() == false) {
            return false;
        }

        //get category_id and get sub_category input index
        if (get_category_id() == false) {
            return false;
        } else  get_sub_category_input();

        //get sub_category
        if (get_sub_category(input_type, input_constraint, Categoryid, CategoryName) == false) {
            return false;
        }

        //check document_date
        if (get_document_date() == false) {
            return false;
        }

        var frmdata = new FormData();
        frmdata.append('dropedfile', dropedfile);
        frmdata.append('appl_id', Applid);
        frmdata.append('category_id', Categoryid);
        frmdata.append('sub_category', SubCategory);
        frmdata.append('doc_date', DocDate);
        frmdata.append('admin_code', AdminCode);
        frmdata.append('serial_num', SerialNum);
        docupload(frmdata, "/EgrantsDoc/doc_create_by_ddrop");
        clear_all("by_dd");
    }

    function clear_all(act) {
        //reset current date
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (month) + "/" + (day) + "/" + now.getFullYear();
        document.getElementById("txtDocumentdate").value = today;

        if (act=="by_file"){
            document.getElementById("btnFileUpload").disabled = "disabled";
        } else if (act == "by_dd") {
            document.getElementById("btnDragdrop").disabled = "disabled";
        }

        document.getElementById("ddlCategories").selectedIndex = 0;
        $(".sub_category").css('display', 'none');
    }

    function create_by_email() {
        //check appl_id
        if (get_appl() == false) {
            return false
        }

        //get category_id and get sub_category input index
        if (get_category_id() == false) {
            return false;
        } else get_sub_category_input();

        //get sub_category
        if (get_sub_category(input_type, input_constraint, Categoryid, CategoryName) == false) {
            return false;
        }

        //check document_date
        if (get_document_date() == false) {
            return false;
        }

        var email_address = document.getElementById("hidEgrantsemail").value;
        var email_body = 'Before sending the email:%0D%0A %0D%0A ';
        email_body = email_body + '1. Attach the document to upload to this email.%0D%0A ';
        email_body = email_body + '2. If necessary, change the document date in the subject line (maintain the date format mm/dd/yyyy).%0D%0A ';
        email_body = email_body + '3. Send the email. %0D%0A %0D%0A  Changing any other information in the Subject: ';
        email_body = email_body + 'or the To: lines will cause an unsuccessful upload.%0D%0A %0D%0A ';
        email_body = email_body + 'Note:There may be a time delay of up to 15 minutes before the uploaded file is available for your review.';
        var subject = "applid=" + Applid + ', category=' + CategoryName + ', sub=' + SubCategory + ', documentdate=' + DocDate + ', extract=2';
        var maillink = 'mailto:' + email_address + '?subject=' + subject + '&body=' + email_body;
        window.open(maillink, "_self");
    }

    function back() {
        //var url = get_previous_url();
        var url = document.getElementById("hidPrevious_url").value;
        window.self.location = url;
    }

    //to highlight selected tab
    function Docreate(evt, tabs) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";

        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabs).style.display = "block";
        evt.currentTarget.className += " active";
    }

    //document.getElementById("li_ddrop").click();
</script>

<div id="main" style="margin:0;padding:0;">
    <div id="caption" style="margin:0;padding:0;"><b id="page_title">Add New Document</b></div>
    <form name="frmGetInfo">
        <input type="hidden" id="hidAct" name="act" value="create_new" />
        <input type="hidden" id="hidAppl_id" name="appl_id" value="@ViewBag.applid" />
        <input type="hidden" id="hidAdmincode" name="admin_code" value="@ViewBag.admincode" />
        <input type="hidden" id="hidSerialnum" name="serial_num" value="@ViewBag.serialnum" />
        <input type="hidden" id="hidBrowserType" name="browser_type" value="@Convert.ToString(Session["browser"])" />
        <input type="hidden" id="hidEgrantsemail" name="egrants_email" value=@Convert.ToString(Session["egrantsDocEmail"])>
        <input type="hidden" id="hidMax_Categoryid" name="max_categoryid" value="@ViewBag.MaxCategoryid" />
        <input type="hidden" id="hidPrevious_url" name="previous_url" value="@ViewBag.Previousurl" />
        <input type="hidden" id="hidPossionID" name="position_id" value=@Convert.ToString(Session["position_id"]) />
    </form>

    <!--start search form to create or update-->
    <div id="content" style="margin:0; padding:0;">
        @Html.Partial("~/Egrants/Views/_egrants_Doc.cshtml")

        <table width="700">
            <tbody>
                <tr>
                    <!--show loading icon-->
                    <td width="80"><div class="loading" style="display:none"><img src="~/Content/images/Loading.gif" width="50" /></div></td>
                    <td width="700" valign="middle">
                        @*<ul class="nav nav-tabs">
                                <li id="li_ddrop" class="active"><a href="Javascript:switch_upload_mode('by_ddrop')">Drag & Drop</a></li>
                                <li></li>
                                <li id="li_file" ><a href="Javascript:switch_upload_mode('by_file')">Locate File and Upload</a></li>
                                <li></li>
                                <li id="li_email" ><a href="Javascript:switch_upload_mode('by_email')">Upload <I>via</I> Email</a></li>
                            </ul>*@
                        <div class="tab" style="width:498px">
                            <button class="tablinks active" onclick="Docreate(event, 'btnDragdrop'); Javascript:switch_upload_mode('by_ddrop')" id="li_ddrop"> Drag & Drop </button>
                            <button class="tablinks" onclick="Docreate(event, 'btnFileUpload'); Javascript:switch_upload_mode('by_file')">Locate File and Upload</button>
                            <button class="tablinks" onclick="Docreate(event, 'btnEmail'); Javascript:switch_upload_mode('by_email')">Upload <I>via</I> Email</></button>
                        </div>
                        <div id="myTabContent">
                            <!--start upload by drag drop -->
                            <div class="tabcontent " id="by_ddrop" style="display:none">
                                <br />
                                <div id="dropArea">Drag-drop only one file here to upload</div>
                                <br />                           
                                <span>
                                    <button type="button" style="display:inline" name="CreatByDdrop" id="btnDragdrop" disabled="disabled" onclick="return create_by_ddrop();" class="btn btn-primary eGrantsDocBtn" accesskey="A" title="Click here to upload document [shift + alt + A]"><u>A</u>dd</button>&#0160;&#0160;
                                     By clicking Add, I confirm that no sensitive PII or PHI is included in this file.
                                </span>
                                </div>
                            <!--end upload by drag drop-->
                            <!--start upload by file-->
                            <div class="tabcontent" id="by_file" style="display:none">                         
                                    <br />
                                    <input type="file" name="file" id="UploadFile" style="width:650px; height:30px;" /><br />                           
                                    <div style="display:inline"><button style="display:inline" type="button" name="CreatByFile" id="btnFileUpload" disabled="disabled" onclick="return create_by_file();" class="btn btn-primary eGrantsDocBtn" accesskey="D" title="Click here to upload document [shift + alt + D]">A<u>d</u>d</button></div>	
                                    <div style="display:inline">By clicking Add, I confirm that no sensitive PII or PHI is included in this file.</div>
                            </div>
                            <!--end upload by file-->
                            <!--start upload by email-->
                            <div class="tabcontent" id="by_email" style="display:none">
                                <br /><br />
                                &#0160;&#0160;1. After grant year, category and date are entered/confirmed, click the &#0160;&#0160;<br /><br />
                                &#0160;&#0160;&#0160;&#0160;&#0160;&#0160;"Upload via Email" button to open an email window.<br /><br /><br />
                                &#0160;&#0160;2. Attach the document (<b>do not</b> change the subject) and click send.<br /><br /><br />
                                <div style="display: inline"><button type="button" style="display:inline" name="CreatByEmail" id="btnEmail" onclick="return create_by_email()" class="btn btn-primary eGrantsDocBtn" AccessKey="U" title="Click here to upload document by email [shift + alt + U]"><u>U</u>pload via Email</button></div>  
                                <div style="display: inline">By clicking Upload, I confirm that no sensitive PII or PHI is included in this file.</div>

                            </div>
                            <!--end upload by email-->
                             <br /><br />     
                            <!--show progress bar-->
                            <div class="progress" style="display:none">
                                <div id="progressBar" class="progress-bar" role="progressbar" style="width:0%; height:18px; text-align: center; line-height:18px; margin:0; padding:0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end progress bar-->
                        </div><!--end myTabContent-->
                    </td>
                </tr>
		        <tr><td></td>
		            <td>
			            <button accesskey="R" class="btn btn-primary eGrantsReturnBtn" title="Click here to return previous page [alt + shift + R]" onclick="Javascript: back()"><u>R</u>eturn to eGrants File</button>&#0160;&#0160;
		    	            <a target="_new" href="#" id="notice" style="visibility:hidden"><img src="../Content/images/check_doc_btn.png" style="height:35px;" title="Check Document" /></a>
			            <b id="done"><span id="mssg"></span></b>
		            </td>
		        </tr>
            </tbody>
        </table>
    </div><!--end content-->
</div><!--end main-->

@*
<div id="footer" style="margin:0; padding:0;">
    <b id="done"><span id="mssg"></span></b><br />
    <center><button accesskey="R" class="btn-primary btn-sm eGrantsReturnBtn" title="Click here to return previous page [alt + shift + R]" onclick="Javascript: back()"><u>R</u>eturn to eGrants File</button></center>
    <br /><a target="_new" href="#" id="notice" style="visibility:hidden"><b>Check Document</b></a>
</div>
*@
