@{
    ViewBag.Title = "egrants [NCI OGA]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />@*for JavaScript Autocomlete *@

<script src="~/scripts/EgrantsCatsZone.js"></script>@*for category zone *@
<script src="~/scripts/EgrantsQC.js"></script>@*for Egrants QC mode *@

<script src="~/scripts/bluebird.js"></script>@*for JavaScript promise *@
<script src="~/scripts/jquery-ui.min.js"></script>@*for JavaScript Autocomlete *@

<script language="JavaScript" type="text/javascript">
    var currenturl = window.document.location.href;
    var mode;

    var can_qc = 0;

    var ShowToggleAppls = 0;        //indicate toggle appls showing or hide
    var ShowToggleCats = 0;         //indicate toggle cats showing or hide

    var SelectAllDocs = 0;          //indicate selecte alldocs to qc
    var SelectAllCats = 0;

    var cats_list = [];
    var appls_list = [];

    var SelectAllApplsCheckBox = 0;

    $(document).ready(function () {
        set_default();
    });

    function set_default() {
        //set nci as default IC
        if (document.getElementById("hidFilterAdminCode").value != "") {
            $('#AdminCode').val(document.getElementById("hidFilterAdminCode").value);
        } else $('#AdminCode').val('CA');

        //show search form or show toggle
        var grant_id = document.getElementById("hidGrantID").value;
        var appl_id = document.getElementById("hidApplID").value;
        var selected_appls = document.getElementById("hidSelectedAppls").value;
        var selected_years = document.getElementById("hidSelectedYears").value;

        //show search form but not show toggle bar
        if ((grant_id == "" && appl_id == "") || (grant_id != "" && appl_id == "")) {
            //check search str
            if (document.getElementById("txtKW"))
            {
                if (document.getElementById("hidSearchStr").value != "" && (document.getElementById("hidSearchStr").value).length > 2 && document.getElementById("hidSearchStr").value.substring(0, 7) != "filters") {
                    document.getElementById("txtKW").value = document.getElementById("hidSearchStr").value;
                } else document.getElementById("txtKW").focus();
            }

            //load data for filters
            if (document.getElementById("hidFilterFY").value != "" && document.getElementById("hidFilterFY").value != 0) {
                document.getElementById("FiscalYear").value = document.getElementById("hidFilterFY").value;
            }

            if (document.getElementById("hidFilterMechanism").value!="") {
                document.getElementById("Mechanism").value = document.getElementById("hidFilterMechanism").value;
            }

            if (document.getElementById("hidFilterSerialNumber").value != "" && document.getElementById("hidFilterSerialNumber").value != 0) {
                document.getElementById("SerialNumber").value = document.getElementById("hidFilterSerialNumber").value;
            }

            //fill value for FiscalYear textbox
            if (document.getElementById("hidFilterFY").value != "") {
                document.getElementById("FiscalYear").value = document.getElementById("hidFilterFY").value;
            }

            //fill value for years textbox
            if (document.getElementById("hidSelectedYears").value != "" && document.getElementById("hidSelectedYears").value != "undefined") {
                var selectedYears = document.getElementById("hidSelectedYears").value;
                if (document.getElementById("hidGrantID").value != "" && selectedYears.length<=3) {
                    //var grant_id = document.getElementById("hidGrantID").value;
                    var el = "txtYears_" + grant_id;
                    document.getElementById(el).value = document.getElementById("hidSelectedYears").value;
                }
            }
        }

        //show toggle bar but not show search form ---
        if (grant_id != "" || appl_id != "")       //|| selected_appls != "" || selected_years != ""
        {
            //hide search bar
            var el = "search_bar_" + grant_id;
            document.getElementById(el).style.display = "none";
            ShowSearchForm = 0;
            //document.getElementById("toggle_bar").style.display = "inline";
            document.getElementById("toggle_appls").style.display = "inline";
            document.getElementById("toggle_title").innerHTML = "Grant Years";

            document.getElementById("show_search_form").style.display = "inline";
            document.getElementById("show_cats_toggle").style.display = "inline";
            //hide flag zone
            //var el = "flag_zone_" + grant_id;
            //document.getElementById(el).style.display = "none";
            show_toggle_appls();
        }

        //show search form and appls_toggle icon
        if (grant_id != "" && appl_id != "")         //hide search_bar and show toggle bar if (document.getElementById("hidGrantID").value != "")
        {
            //hide search bar and flag zone
            var el = "search_bar_" + grant_id;
            document.getElementById(el).style.display = "none";

            //show search bar and toggle_appls icon only
            //document.getElementById("toggle_bar").style.display = "inline";
            document.getElementById("toggle_appls").style.display = "inline";

            document.getElementById("show_appls_toggle").style.display = "none";
            document.getElementById("show_search_form").style.display = "inline";
            document.getElementById("show_cats_toggle").style.display = "inline";
        }

        //check tab data and show tab
        var el = "tab_" + document.getElementById("hidCurrentTab").value;
        if (document.getElementById(el) != null && document.getElementById(el).style.display == "none") {
            document.getElementById(el).style.display = "inline";
        }
    }

    function by_str(str) {
        //alert(str);
        var url = "@Url.Action("by_str", "Egrants")?str=" + str;
        //alert(url);
        window.document.location.href = url;
    }

    function by_grant(grant_id, package_name, appls_list, categories, years) {
        mode = document.getElementById("hidMode").value;
        if (mode == "" || mode == undefined) {
            mode = "";
        }

        var url = "@Url.Action("by_grant", "Egrants")?grant_id=" + grant_id + "&package=" + package_name + "&mode=" + mode + "&appls_list=" + appls_list + "&categories=" + categories + "&years=" + years;
        //alert(url);
        window.document.location.href = url;
    }

    function by_appl(appl_id) {
        mode = document.getElementById("hidMode").value;
        if (mode == "" || mode == undefined) {
            mode = "";
        }

        var url = "@Url.Action("by_appl", "Egrants")?appl_id=" + appl_id + "&mode=" + mode;
        window.document.location.href = url;
    }

    function show_supplement(grant_id, act) {
        var url = "@Url.Action("LoadSupplement", "EgrantsDoc")?act=" + act + "&grant_id=" + grant_id;
        //alert(url);
        MeddleWindow = window.open(url, act, "toolbar=0,menubar=0,location=0,status=0,width=1000,height=500,scrollbars=yes,left=80,top=100");
        MeddleWindow.focus();
    }

    function view_supplement(grant_id, act) {
        var url = "@Url.Action("LoadSupplement", "EgrantsDoc")?act=" + act + "&grant_id=" + grant_id;
        alert(url);
        //MeddleWindow = window.open(url, act, "toolbar=0,menubar=0,location=0,status=0,width=1000,height=500,scrollbars=yes,left=80,top=100");
        //MeddleWindow.focus();
    }

    //after delete or store doc
    function refresh_after_modify() {
        //if ('referrer' in document) {
        //    window.location = document.referrer;
        //} else {
        //    window.history.back();
        //}

        var url = currenturl;
        window.document.location.href = url;

        //if (currenturl.indexOf('mode=') > 0) {
        //    var index = currenturl.indexOf('&mode=');
        //    var mainurl = currenturl.substring(0, index);
        //    var url = mainurl + "&mode=qc";
        //    window.self.location = url;
        //} else location.reload();
    }

    //to create new document without selected grant year
    function create_new() {
        var previous_url = encodeURIComponent(currenturl);
        var url = "@Url.Action("doc_create_without_applid", "EgrantsDoc")?previous_url=" + previous_url;
        window.document.location.href = url;
    }

    //to create new document or funding document with selected grant year
    function create_new_doc(type, admincode, serialnum, appl_id) {
        var previous_url = encodeURIComponent(currenturl);
        if (type == 'doc') {
            var url = "@Url.Action("doc_create_with_applid", "EgrantsDoc")?admin_code=" + admincode + "&serial_num=" + serialnum + "&appl_id=" + appl_id + "&previous_url=" + previous_url;
        } else var url = "@Url.Action("funding_doc_default", "EgrantsFunding")?admin_code=" + admincode + "&serial_num=" + serialnum + "&appl_id=" + appl_id + "&previous_url=" + previous_url;
        window.document.location.href = url;
    }

    function getByAll(grant_id) {
        check_selected_cats(grant_id);
        by_grant(grant_id, 'All', 'All', cats_list, 'All');
    }

    function checkYears(event, grant_id) {
        var char = event.which || event.keyCode;
        //alert(char);
        if (char == 13){
            var el = "txtYears_" + grant_id;
            var yrs = (document.getElementById(el).value).trim();
            //alert("yrs="+yrs);
            if (yrs == ''|| yrs == 0 || isInteger(yrs) == false) {
                alert("Please insert correct number of the years to search");
                document.getElementById(el).value = "";
                document.getElementById(el).focus();
                return false;
            }else getBySelected(grant_id);
        } else return false;
    }
    
    function getBySelected(grant_id) {
        check_selected_cats(grant_id);
        //check inserted years
        var el = "txtYears_" + grant_id;
        if (document.getElementById(el).value != '') {
            var years = (document.getElementById(el).value).trim();
            if (isInteger(years) == false || years == 0) {                
                alert("Please insert correct number of the years to search");
                document.getElementById(el).value = "";
                document.getElementById(el).focus();
                return false;
            }else by_grant(grant_id, 'All', 'All', cats_list, years);
        }
        
        if (document.getElementById(el).value == '') 
        {
            if (document.getElementById("hidApplID").value == "") {
                by_grant(grant_id, 'All', 'All', cats_list, 'All');
            }
            else {
                var appl_id = document.getElementById("hidApplID").value;
                by_grant(grant_id, 'All', appl_id, cats_list, appl_id);
            } 
        }
    }

    function check_selected_cats(grant_id) {
        //var SelectedCats = 0;
        cats_list ="";
        var el = "all_cats_" + grant_id;
        if (document.getElementById(el).checked == true){
            cats_list ="All";
        }
        else
        {
            //var el = "cats_zone_" + grant_id;
            //create selected category_id list
            var checkboxes = $('div#catlist_' + grant_id + ', input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked == true) {
                    cats_list = cats_list + checkboxes[i].name + ',';
                }
            }
            //create selected category_id list
            if(cats_list != "" && cats_list.indexOf(",") > 0){
                cats_list = cats_list.substring(0, cats_list.length - 1);
            }
        }
        //take off last comma
        if (cats_list == ""){
            cats_list = "All";
        }
        //alert("cats_list="+cats_list);
    }

    function send_email(email_address, email_subject, pi_name) {
        var maillink = "mailto:" + email_address + "?subject=" + email_subject + ' [' + pi_name+']';
        window.open(maillink, "_self");
    }

    function show_grant_with_flag(flag_type, grant_id) {
        if (flag_type == "FDA" || flag_type == "MS" || flag_type == "OD" || flag_type == "DS") {
            //show appls with flag for this grant
            var categories = "All";
            var appls_list = "All";
            var url = "@Url.Action("by_grant", "Egrants")?grant_id=" + grant_id + "&package=" + flag_type + "&categories=" + categories + "&appls_list=" + appls_list + "&years=";
        }
        else if (flag_type == "ARRA") {
            flag_type = "All"
            var url = "@Url.Action("by_grant", "Egrants")?grant_id=" + grant_id + "&package=&categories=&appls_list=&years=";
        }
        //alert(url);
        //window.open(url, top);
        window.document.location.href = url;
    }

    //show or hide search form
    function show_search_form() {
        //show search form
        document.getElementById("searchform").style.display = "inline";
        document.getElementById("show_search_form").style.display = "none";
        //hide toggle_appls at all
        document.getElementById("show_appls_toggle").style.display = "inline";
        document.getElementById("toggle_appls").style.display = "none";
        //clean toggle_cats at all
        document.getElementById("show_cats_toggle").style.display = "none";
        document.getElementById("toggle_cats").style.display = "none";
        document.getElementById("toggle_title").innerHTML = "";
    }

    //seach by selected appls and selected cats from toggles
    function search_by_toggle() {
        //alert("toggle seach");
        //alert(ShowToggleAppls);
        var grant_id = document.getElementById("hidGrantID").value;
        //to create seleted appl list by default selected
        if (ShowToggleAppls == 0) {
            if (document.getElementById("hidSelectedAppls").value != "") {
                appls_list = document.getElementById("hidSelectedAppls").value;
            } else if (document.getElementById("hidApplID").value != "") {
                appls_list = document.getElementById("hidApplID").value;
            }
        }else{
            appls_list = appls_list;
        }

        //as default, all categories should be seleted
        if (ShowToggleCats == 0) {
            if (document.getElementById("hidSelectedCats").value != "") {
                cats_list = document.getElementById("hidSelectedCats").value;
            } else cats_list = "All";
        } else {
            cats_list = cats_list;
        }

        //alert("grant_id=" + grant_id + ", appls_list=" + appls_list + ", cats_list=" + cats_list );
        if (appls_list == "") {
            alert("Please select grant year to search");
        } else if (appls_list != "" && cats_list == "") {
            alert("Please select category to search");
        } else by_grant(grant_id, 'All', appls_list, cats_list, '');
    }
</script>

<!--start save all data from server-->
<form name="frmGetInfo">     
    <input type="hidden" id="hidCurrentTab" name="CurrentTab" value="@ViewBag.CurrentTab" />
    <input type="hidden" id="hidPageNum" name="CurrentPage" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="hidSearchStr" name="SearchStr" value="@ViewBag.Str" />     
    <input type="hidden" id="hidSearchType" name="SearchType" value="@ViewBag.SearchStyle" />
    <input type="hidden" id="hidMode" name="Mode" value="@ViewBag.Mode" />  
      
    <input type="hidden" id="hidGrantID" name="GrantID" value="@ViewBag.GrantID" />
    <input type="hidden" id="hidPackage" name="Package" value="@ViewBag.Package" />
    <input type="hidden" id="hidApplID" name="ApplID" value="@ViewBag.ApplID" />
    <input type="hidden" id="hidApplCount" name="ApplCount" value="@ViewBag.ApplCount" />
    <input type="hidden" id="hidDocCount" name="DocCount" value="@ViewBag.DocCount" />
    
    @*<input type="hidden" id="hidSort" name="DocSort" value="@ViewBag.DocSort" />*@
    @*<input type="hidden" id="hidApplsAll" name="ApplAll" value="@ViewBag.ApplsAll" /> --commented by Leon 4/1/2019*@

    <input type="hidden" id="hidSelectedYears" name="FY" value="@ViewBag.SelectedYears" />
    <input type="hidden" id="hidSelectedCats" name="SelectedCats" value="@ViewBag.SelectedCats" />
    <input type="hidden" id="hidSelectedCategories" name="SelectedCategories" value="@ViewBag.SelectedCategories"/>
    <input type="hidden" id="hidSelectedAppls" name="SelectedAppls" value="@ViewBag.SelectedAppls" />

    <input type="hidden" id="hidFilterFY" name="FilterFY" value="@ViewBag.FilterFY" />  
    <input type="hidden" id="hidFilterMechanism" name="FilterMechanism" value="@ViewBag.FilterMechanism" />  
    <input type="hidden" id="hidFilterAdminCode" name="FilterAdminCode" value="@ViewBag.FilterAdminCode"/>
    <input type="hidden" id="hidFilterSerialNumber" name="FilterSerialNumber" value="@ViewBag.FilterSerialNumber" />

    <input type="hidden" id="hidPositionID" name="position_id" value="@Convert.ToInt16(Session["position_id"])" />   
    <input type="hidden" id="hidImageServer" name="ImageServer" value="@Convert.ToString(Session["ImageServer"])" />  
    <input type="hidden" id="hidEgrantsEmail" name="egrantsemail" value="@Convert.ToString(Session["egrantsDocEmail"])" />      
</form>
<!--end save all data from server-->

<!--start main-->
<div id="main">  
    @if (ViewBag.GrantID != null)
    {    
        <div id="toggle_bar" style="display:inline; width:950px;">
            <div id="show_search_form" style="display:none;">
                <a href="Javascript:show_search_form()" title="View Search Filters"><img style="vertical-align:middle; height:32px;" src="~/Content/images/search.png" /></a>
            </div>
            <div id="show_appls_toggle" style="display:none;">               
                <a href="JavaScript:show_toggle_appls()" title="View Grant Years"><img style="width:40px;" src="~/Content/images/appls_toggle.png"/></a>
            </div>
            <div id="show_cats_toggle" style="display:none;">        
                <a href="#" onclick="Javascript:return before_show_toggle_cats()"><img style="vertical-align:middle; width:40px;" src="~/Content/images/filter.png" title="View Category Filter" /></a>                       
            </div>    
            <div id="title_for_toggle" style="display:inline; margin-left:300px; width:950px;"><b id="toggle_title" style="font-size:medium;"></b></div>
        </div>     
        //show appls toggle
        <div>
            @Html.Partial("~/Egrants/Views/_egrants_showApplsToggle.cshtml")
        </div>
        //show categories toggle 
        <div>          
            @Html.Partial("~/Egrants/Views/_egrants_showCatsToggle.cshtml")           
        </div>     
    }

    <!--adde 4/3/2019 for return to the TOP functionality by Ayu--> 
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> @*--AYu*@

    <!--show search form--> 
    @Html.Partial("~/Egrants/Views/_egrants_showSearchForm.cshtml")<br />

    @if (ViewBag.Message != null && ViewBag.Message != "")
    {
        <div style="float:left;"><b>@ViewBag.Message</b></div><br />
    }

    <!--start Pagination-->
    @if (ViewBag.Pagination != null)
    {
        @Html.Partial("~/Egrants/Views/_egrants_showPagination.cshtml")
    }
    <!--end Pagination-->

    <!--start grant layer-->
    @if (ViewBag.grantlayer != null && ViewBag.grantlayer.Count > 0)
    {
        int grant_id = 0;
        string pi_email = "";

        <form name="frmDocs">
        @foreach (var grant in ViewBag.grantlayer)
        {
            grant_id = Convert.ToInt32(grant.grant_id);
            int applscount = 0;
            //if (ViewBag.bygrant != null && ViewBag.bygrant == 1)
            if (ViewBag.GrantID != null)
            {
                <!--load all appls-->
                foreach (var appl in ViewBag.appllayer_All)
                {
                    if (Convert.ToInt32(appl.grant_id) == grant_id)
                    {
                        applscount++;
                    }
                }
            }
            else
            {
                foreach (var appl in ViewBag.appllayer)
                {
                    if (Convert.ToInt32(appl.grant_id) == grant_id)
                    {
                        applscount++;
                    }
                }
            }

            <!--start grant layer-->
            <div id="grant_layer_@grant.grant_id" style="width:900px; float:left; padding:10px 5px 10px 0; display:inline;">
                <!--padding:10px 5px 10px 20px-->
                <div style="float:left; vertical-align:bottom; width:auto">
                    <img style="height:24px;" src="~/Content/images/Folder-icon.png" title="Grant Folder" />
                    <b style="font-size:medium;">@Convert.ToString(grant.all_activity_code)@Convert.ToString(grant.grant_num)</b>&#0160;&#0160;
                    @if (Convert.ToString(grant.former_grant_num) != "")
                    {
                        <b>Formerly: @grant.former_grant_num</b>
                    }
                </div>
                <!--start search bar-->
                <div id="search_bar_@grant.grant_id" style="margin-left:10px; display:inline;float:right;">

                    <a class="btn btn-default" style="background-color:#808080; color:white" id="all_appl" href="javascript:getByAll(@grant.grant_id)" title="View Categories and Grant Years for @grant.grant_num">All</a><span>&#0160;</span>

                    <label style="margin-left:10px; font-size:medium;"># of Grant Years</label>
                    <input type="text" id="txtYears_@grant.grant_id" name="years_@grant.grant_id" class="form-control" style="width:50px; height:35px; display:inline;" placeholder="Yrs" onkeyup="return checkYears(event, @Convert.ToInt32(grant.grant_id))"/> @*onkeyup="if (event.keyCode == 13) return checkYears(@Convert.ToInt32(grant.grant_id))"*@
                    
                    @if (ViewBag.SelectedCats != "" && ViewBag.SelectedCats != null)
                    {
                        <a href="Javascript:show_cats_zone(@grant.grant_id)">                    
                            <img height="34" src="~/Content/images/filter_selected.png" title="View Category Filter for @grant.grant_num" style="margin-left:20px;" />
                        </a>
                    }
                    else
                    {
                        <a href="Javascript:show_cats_zone(@grant.grant_id)">                      
                            <img height="40" src="~/Content/images/filter.png" title="View Category Filter for @grant.grant_num" style="margin-left:20px;" />
                        </a>
                    }

                    <button type="button" class="btn btn-default" onclick="return getBySelected(@Convert.ToInt32(grant.grant_id))" title="View Selected Years and Categories for @grant.grant_num">
                        <img src="~/Content/images/searchicon.png" width="22" height="22" />
                    </button>
                </div>
                <!--end search bar-->
                <!--start show category zone-->                       
                <div id="cats_zone_@grant.grant_id" class="cats_zone" style="width:900px; border-bottom:groove; border-top:groove; border-color:darkgrey; padding-bottom:5px; min-height:50px; padding-left:20px; float:left; display:none;">
                    <span>&#0160;&#0160;&#0160;&#0160;</span><input type="checkbox" id="all_cats_@grant.grant_id" onClick="JavaScript:select_all_cats_zone(@grant.grant_id)" /><span>&#0160;&#0160;</span><b>Select All</b><br />
                    <div id="catlist_@Convert.ToString(grant.grant_id)" style="float:left; display:inline; width:900px;">
                         <div class="col-md-4" id="cats_zone_column_1_@Convert.ToString(grant.grant_id)" style="display:inline"></div>
                         <div class="col-md-4" id="cats_zone_column_2_@Convert.ToString(grant.grant_id)" style="display:inline"></div>
                         <div class="col-md-4" id="cats_zone_column_3_@Convert.ToString(grant.grant_id)" style="display:inline"></div>
                     </div>
                </div>
                <!--end show category zone-->
                <br />
                <div id="grant_zone_@grant.grant_id" style="width:900px; border-bottom:groove; border-color:darkgrey; float:left; display:inline;">
                    <!--start grant infor-->
                    <div id="grant info_@grant.grant_id" style="float:left; display:inline;">
                        <div id="PT infor" style="display:inline">
                            <div id="grantbar1" style="float:left"><b>Project Title:</b></div>
                            <div id="grantbar2" style="width:500px;">@grant.project_title</div>
                        </div><br />
                        <div id="PI infor" style="display:inline">
                            <div id="grantbar1" style="float:left"><b>PI:</b></div>
                            <div id="grantbar2" style="width:500px;">
                                @if (grant.current_pi_name != "" && grant.current_pi_email_address != "")
                                {
                                    if (grant.current_bo_email_address != "")
                                    {
                                        pi_email = grant.current_pi_email_address + ";" + grant.current_bo_email_address;
                                    }
                                    else
                                    {
                                        pi_email = grant.current_pi_email_address;
                                    }
                                    <a href="JavaScript:send_email('@pi_email','@grant.latest_full_grant_num','@grant.current_pi_name')" title="Send email to @grant.current_pi_name">@grant.current_pi_name</a><b>&nbsp;&nbsp;</b>
                                }
                                else if (grant.current_pi_name != "" && grant.current_pi_email_address == "")
                                {
                                    @grant.current_pi_name<b>&nbsp;&nbsp;</b>
                                }
                                @if (grant.org_name != "")
                                {
                                    @grant.org_name
                                }
                            </div>
                        </div><br />
                        @if (!string.IsNullOrWhiteSpace(grant.current_pd_name) || !string.IsNullOrWhiteSpace(grant.current_pd_email_address) || !string.IsNullOrWhiteSpace(grant.prog_class_code))
                        {
                            <div id="PD infor" style="display:inline">
                                <div id="grantbar1" style="float:left">                           
                                    @if (!string.IsNullOrWhiteSpace(grant.current_pd_name))
                                    {
                                        <b>Program Director:</b>
                                    }
                                </div>
                                <div id="grantbar2" style="width:500px;">
                                    @if (!string.IsNullOrWhiteSpace(grant.current_pd_name) && !string.IsNullOrWhiteSpace(grant.current_pd_email_address))
                                    {
                                        <a href="JavaScript:send_email('@grant.current_pd_email_address','@grant.latest_full_grant_num','@grant.current_pi_name')" title = "Send email to @grant.current_pd_name">@grant.current_pd_name </a><b>&nbsp;&nbsp;Code:</b><span>&nbsp;&nbsp;</span>@grant.prog_class_code
                                    }
                                    else if (!string.IsNullOrWhiteSpace(grant.current_pd_name) && string.IsNullOrWhiteSpace(grant.current_pd_email_address))
                                    {
                                        @grant.current_pd_name <b> &nbsp; &nbsp; Code:</b> @grant.prog_class_code
                                    }
                                </div>
                            </div><br/>
                        }
                        @if(!string.IsNullOrWhiteSpace(grant.current_spec_name) || !string.IsNullOrWhiteSpace(grant.current_spec_email_address))
                        {
                        <div id="SPEC infor" style="display:inline">
                            <div id = "grantbar1" style = "float:left"><b> Specialist:</b></div>
                                <div id="grantbar2" style="width:500px;">
                                    @if(!string.IsNullOrWhiteSpace(grant.current_spec_name) && !string.IsNullOrWhiteSpace(grant.current_spec_email_address))
                                    {
                                        <a href="JavaScript:send_email('@grant.current_spec_email_address','@grant.latest_full_grant_num','@grant.current_pi_name')" title = "Send email to @grant.current_spec_name" > @grant.current_spec_name </a>
                                    }
                                    else if (!string.IsNullOrWhiteSpace(grant.current_spec_name) && string.IsNullOrWhiteSpace(grant.current_spec_email_address))
                                    {
                                        @grant.current_spec_name
                                    }
                                </div>
                            </div><br/>
                        }
                        @if(ViewBag.GrantID == null && ViewBag.appllayer_All != null)
                        {
                            <div id="Year info" style="display:inline">
                                <div id="grantbar1" style="float:left"><b> Years:</b></div>
                                <div id="grantbar2" style="width:500px;">
                                    @Html.Partial("~/Egrants/Views/_egrants_showApplsList.cshtml", grant_id)
                                </div >
                            </div >
                        }
                        </div >
                        <!--end grant zone-->
                        <!--start show flag zone-->
                        <div id="flag_infor_@grant_id" style="float:right; height:80px; width:250px; display:inline;">
                            <!--show adm supplement requests-->
                            @if (Convert.ToInt16(grant.adm_supp) > 0)
                            {
                                <span style="margin-left:10px;"><a href="Javascript:show_supplement('@grant.grant_id','to_view')"><b style="vertical-align:bottom;" title="View Supplement Files">Supplement</b></a></span><br />
                            }
                            <!--show grant flags-->
                            <div id="flag_zone_@grant_id" style="float:right;height:80px;width:250px;display:inline;">                              
                                @if (Convert.ToString(grant.ds_flag) == "y")
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a href="JavaScript:show_grant_with_flag('DS', @Convert.ToInt32(grant.grant_id))"><img src="~/Content/images/flag_ds.jpg" style="height:16px; margin-left:5px" title="View Diversity Supplement Funded Grant for @grant.grant_num" /></a>
                                    </span>
                                }

                                @if (Convert.ToString(grant.ms_flag) == "y")
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a href="JavaScript:show_grant_with_flag('MS', @Convert.ToInt32(grant.grant_id))"><img src="~/Content/images/flag_ms.jpg" style="height:16px; margin-left:5px" title="View Moonshot Funded Grant for @grant.grant_num" /></a>
                                    </span>
                                }

                                @if (Convert.ToString(grant.od_flag) == "y")
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a href="JavaScript:show_grant_with_flag('OD', @Convert.ToInt32(grant.grant_id))"><img src="~/Content/images/flag_od.jpg" style="height:18px; margin-left:5px" title="View OD Funded Grant for @grant.grant_num" /></a>
                                    </span>
                                }

                                @if (Convert.ToString(grant.fda_flag) == "y")
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a href="JavaScript:show_grant_with_flag('FDA', @Convert.ToInt32(grant.grant_id))"><img src="~/Content/images/flag_fda.jpg" style="height:16px;" title="View FDA Funded Grant for @grant.grant_num" /></a>
                                    </span>
                                }

                                @if (Convert.ToString(grant.stop_flag) == "y")
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a href="#" class="NormalModal" data-toggle="modal" data-target="#NormalModal" data-id="stop" data-assigned-id="@grant.grant_id" title="View Stop Notice for @grant.grant_num"><img src="~/Content/images/flag_stp.png" style="height:18px; margin-left:15px" /></a>
                                    </span>
                                }

                                @if (grant.sv_url != "")
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a target="_new" href="@Convert.ToString(Session["ImageServer"])@grant.sv_url">
                                            <img class="img_18_18" src="~/Content/images/Site_Visit.png" style="margin-left:15px" title="View SV Document for @grant.org_name" />
                                        </a>
                                    </span>
                                }
                                @if (grant.institutional_flag1 == true)
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a target="_new" href="">
                                            <img class="" src="~/Content/images/inst_icon.png" style="margin-left:15px" title="View Flagged Document for @grant.org_name" />
                                        </a>
                                    </span>
                                }
                                @if (grant.institutional_flag2 == true)
                                {
                                    <span style="margin-left:10px; width:80px;">
                                        <a target="_new" href="">
                                            <img class="" src="~/Content/images/inst_icon_flag.png" style="margin-left:15px" title="View Flagged Document for @grant.org_name" />
                                        </a>
                                    </span>
                                }
                        </div>
                        <!--end grant flags-->
                    </div>                   
                    <!--end flag zone-->
                </div>
                <!--end grant zone-->
                @*<div style="float:left; padding-bottom:15px; padding-top:15px;"></div>*@
                <!--show appls with documents-->
                @*@if (ViewBag.GrantID != null || ViewBag.ApplID != null || ViewBag.SearchStyle == "by_qc" || (ViewBag.SearchStyle == "by_page" && ViewBag.Str == "qc")){*@             
                @if (Convert.ToInt16(ViewBag.DocCount) >= 1){
                    @*<b>@grant_id</b>*@
                    <div style="padding-top:15px; float:left;">
                        @Html.Partial("~/Egrants/Views/_egrants_showAppl.cshtml", grant_id)
                    </div>
                }
            </div><!--end grant zone-->
            <!--end appl with documents-->
        }<!--end grant layer -- if grantlayer is not null-->
    </form><!--end docs form to save all appls and docs-->
    }<!--end ViewBag.grantlayer-->

    <!--start Unidentified documents when user run qc-->
    @if (ViewBag.UnidentifiedDocs != null && ViewBag.UnidentifiedDocs.Count >= 1)
    {
        <div><!--id="UnidentifiedDoc" style="border-top:groove;width:900px; padding:10px 5px 10px 0;"-->
            @Html.Partial("~/Egrants/Views/_egrants_showUnidentifiedDocs.cshtml")
        </div>
    }
    <!--end show Unidentified documents-->
      
    <!--start show popup modal  style="align-content:center; align-items:center;align-self:center;"-->
    <div>  
        @Html.Partial("~/Egrants/Views/_egrants_showModal.cshtml")
    </div>
    <!--end show popup modal--> 
</div><!--end main-->



