@model List<egrants_new.Egrants.Models.InstitutionalOrg>


<div>
    <table>
        @*<tr><td width="500"></td></tr>*@
        @foreach (var org in Model)
        {
                <tr>
                    <td style="height:15px; width:500px;">
                        <a href="JavaScript:show_docs('@org.OrgId')" title="Click here to display documents list for @org.Org_name"><b>@org.Org_name</b></a>
                            @if (string.IsNullOrWhiteSpace(org.sv_url))
                            {
                                <a target="_new" href="@org.sv_url" title="Created by @org.created_by at @org.created_date and expired date will be @org.end_date">
                                    <img style="height:16px; vertical-align:top;" src="~/Content/images/Site_Visit.png" />
                                </a>
                            }
                    </td>
                </tr>
        }
    </table>
</div>