@using egrants_new.Egrants.Models
@model egrants_new.Egrants.Models.InstitutionallFilesPage
@{
    ViewBag.Title = "egrants [Institutional Files]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/DragdropArea.css" />
<script src="~/scripts/dragdrop.js"></script>
<script src="~/scripts/ProgressBar.js"></script>

<style>
    .nav-tabs > li > a:hover {
        color: #ffffff;
        background-color: #808080 !important;
    }

    .nav-tabs > li > a:focus {
        color: #ffffff;
        background-color: #808080 !important;
    }

    .comment-textarea {
        width: 600px;
        height: 100px;
    }
</style>

<script language="JavaScript">
        var currenturl = window.document.location.href;
        var frmdata = new FormData();
        var dropedfile;
        var DropFileCount = 0;
        var Categoryid = 0;
        var StartDate = "";
    var EndDate = "";
        var Comments = "";

        $(document).ready(function () {
            load_default();
        });

        function load_default() {
            document.getElementById("index_list").style.display = "inline";
            var act = document.getElementById("hidACT").value;
            if (act == "create new") {
                var BrowserType = document.getElementById("hidBrowserType").value;
                if (act == "create new" && BrowserType.indexOf("Chrome") != -1 || BrowserType.indexOf("IE") != -1 || BrowserType.indexOf("InternetExplorer") != -1) {
                    switch_upload_mode("by_ddrop");
                } else switch_upload_mode("by_asp");
            }
        }

        function search_orgs() {
            if (document.getElementById("txtStr").value == '') {
                alert("Please insert institution name to search");
                document.getElementById("txtStr").focus();
                return false;
            } else var search_str = document.getElementById("txtStr").value;

            var url = "@Url.Action("Search_Orgs", "InstitutionalFiles")?act=search_orgs&str=" + search_str;
            window.document.location.href = url;
        }

        function show_orgs(index_id) {
            var url = "@Url.Action("Show_Orgs", "InstitutionalFiles")?index_id=" + index_id;
            window.document.location.href = url;
        }

        function show_docs(org_id, org_name) {
            var url = "@Url.Action("Show_Docs", "InstitutionalFiles")?org_id=" + org_id+"&org_name="+org_name;
            window.document.location.href = url;
        }

        function delete_doc(doc_id, category_name, org_id, org_name) {
            var url = "@Url.Action("Delete_Doc", "InstitutionalFiles")?act=disable_doc&doc_id=" + doc_id + "&org_id=" + org_id + "&org_name=" + org_name;
            window.document.location.href = url;
        }

        function to_create_doc(org_name, org_id) {
            var url="@Url.Action("Show_Create_Doc", "InstitutionalFiles")?org_name=" + org_name + "&org_id=" + org_id;
            window.document.location.href = url;
        }

        function switch_upload_mode(act) {
            if (act == "by_ddrop") {
                document.getElementById("by_ddrop").style.display = "inline";
                document.getElementById("by_asp").style.display = "none";
                Init();
            }

            if (act == "by_asp") {
                document.getElementById("by_asp").style.display = "inline";
                document.getElementById("by_ddrop").style.display = "none";
            }
        }

        function select_category() {
            if (document.getElementById("ddlCategories").selectedIndex == 0) {
                alert("Please select category");
                return false;
            }
            else {
                var el = "ShowFlag";
                var flag_data = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].id;
                var tobe_flag = flag_data.charAt(0);
                var flag_period = flag_data.substring(2, (flag_data.length));

                if (tobe_flag == 1) {
                    if (document.getElementById(el).style.display == 'none') {
                        document.getElementById(el).style.display = "inline";

                        //get tart day
                        var currentDate = new Date();
                        var currDay = currentDate.getDate();
                        var currMonth = currentDate.getMonth() + 1;
                        var currYear = currentDate.getFullYear();

                        //get end date
                        currMonth = Number(currMonth) + Number(flag_period);
                        if (currMonth > 12) {
                            currMonth = Number(currMonth) - 12;
                            currYear = Number(currYear) + Number(1);
                        }
                        var end_date = currMonth + "/" + currDay + "/" + currYear;
                        document.getElementById("txtEndDate").value = end_date;
                    }
                } else document.getElementById(el).style.display = "none";
            }
        }

        function get_category_id() {
            if (document.getElementById("ddlCategories").selectedIndex == 0) {
                alert("Please select category");
                return false;
            } else Categoryid = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].value;
            return true;
        }

        function check_date_range() {
            //check start date
            if (document.getElementById("txtStartDate").value == '') {
                alert("Please insert start date");
                document.getElementById("txtStartDate").focus();
                return false;
            } else if (isDate(document.getElementById("txtStartDate").value) == false) {
                document.getElementById("txtStartDate").value = "";
                document.getElementById("txtStartDate").focus();
                return false;
            } else var start_date = new Date(document.getElementById("txtStartDate").value);

            //check end date
            if (document.getElementById("txtEndDate").value == '') {
                alert("Please insert end date");
                document.getElementById("txtEndDate").value = '';
                document.getElementById("txtEndDate").focus();
                return false;
            } else if (isAnyDate(document.getElementById("txtEndDate").value) == false) {
                document.getElementById("txtEndDate").value = '';
                document.getElementById("txtEndDate").focus();
                return false;
            } else var end_date = new Date(document.getElementById("txtEndDate").value);

            if (end_date <= start_date) {
                alert("The end date should be later than start date");
                document.getElementById("txtEndDate").value = '';
                document.getElementById("txtEndDate").focus();
                return false;
            }else   StartDate = document.getElementById("txtStartDate").value;
                    EndDate = document.getElementById("txtEndDate").value;
                    //alert("EndDate=" + EndDate);
                    return true;
    }

    function check_comment() {

        Comments = $("#comments").text();

        var category = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].value;

        if (Comments.length == 0 && (Categoryid == "3" || Categoryid == "2")) 
        {
            alert("The Comments are required for category " + category);
            return false;
        }

        return true;

    }

        function create_doc_by_file(org_id, org_name) {
            //check loacte file, file type and file size
            if (check_file() === false) {
                return false;
            }

            //find category_id
            if (get_category_id() === false) {
                return false;
            } else

            //find if to be flag
            var flag_data = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].id;
            var tobe_flag = flag_data.charAt(0);

            //check start date and end date for site vist
            if (tobe_flag == 1) {
                if (check_date_range() === false) {
                    return false;
                }
            }else {
                StartDate = "";
                EndDate = "";
            }
            if (check_comment() == false) {
                return false;
            }

            //alert("EndDate=" + EndDate);

            var file = document.getElementById('UploadFile').files[0];
            frmdata.append('file', file);
            frmdata.append('category_id', Categoryid);
            frmdata.append('org_id', org_id);
            frmdata.append('org_name', org_name);
            frmdata.append('start_date', StartDate);
            frmdata.append('end_date', EndDate);
            frmdata.append('comments', Comments);
            docupload(frmdata, "/InstitutionalFiles/Create_Doc_by_File");

            setTimeout(function() {
                refresh_after_upload(org_id, org_name);
            }, 500);
            //return true;
        }

        function create_doc_by_ddrop(org_id, org_name) {
            if (get_category_id() == false) {
                return false;
            } else

            //find if to be flag
            var flag_data = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].id;
            var tobe_flag = flag_data.charAt(0);

            //check start date and end date for site vist
            if (tobe_flag == 1) {
                if (check_date_range() == false) {
                    return false;
                }
            }else {
                StartDate = "";
                EndDate = "";
            }

            frmdata.append('dropedfile', dropedfile);
            frmdata.append('category_id', Categoryid);
            frmdata.append('org_id', org_id);
            frmdata.append('org_name', org_name);
            frmdata.append('start_date', StartDate);
            frmdata.append('end_date', EndDate);
            docupload(frmdata, "/InstitutionalFiles/Create_Doc_by_DDrop");

            setTimeout(function() {
                refresh_after_upload(org_id, org_name);
            }, 500);
            //return true;
        }

        function refresh_after_upload(org_id, org_name) {
            var url = "@Url.Action("Show_Docs", "InstitutionalFiles")?org_id=" + org_id + "&org_name=" + org_name;
            window.document.location.href = url;
        }

        function show_doc(docurl) {
            var ImageServer = document.getElementById("hidImageServer").value;
            //alert(docurl);
            if (docurl.substring(0, 5) == "/data") {
                var url = ImageServer + docurl.substring(1, docurl.length);
            }else if (docurl.substring(0, 5) == "data/") {
                var url = ImageServer + docurl;
            }else url = docurl;
            //alert(url);
            window.open(url);
        }
</script>

<form name="frmGetInfo">
    <input type="hidden" id="hidACT" name="act" value="@ViewBag.Act" />
    <input type="hidden" id="hidBrowserType" name="browser_type" value="@Convert.ToString(Session["browser"])" />
    <input type="hidden" id="hidImageServer" name="MImageServer" value="@Convert.ToString(Session["ImageServer"])" />
</form>

<div id="main">
    <!--start main-->
    <div id="caption"><b id="page_title">Institution Master List</b></div>

    <div id="index_list" style="display:none">
        <b>Index:</b>
        @foreach (var index in Model.CharacterIndices)
        {
            <div id="index.index_id" style="display:inline">
                <a href="JavaScript:show_orgs(@index.IndexId)" title="Search Institution Files with @index.CharacterIndex">
                    <b>@char.ToUpper(index.CharacterIndex[0])</b>&#0160;
                </a>
            </div>
        }
    </div>
    <br /><br />
    <div>
        <div>    <b>Institution Name:</b>&#0160;</div><div>
            <input type="text" name="str" id="txtStr" class="smallfont" size="58" title="Insert institution name to search" value="@ViewBag.Str" />
            &#0160;
            <button type="button" class="btn btn-primary eGrantsDocBtn" accesskey="S" title="Search by institution name [shift + alt + S]" onClick="return search_orgs();"><u>S</u>earch</button>
        </div>
    </div>
    <br /><br />
    <!--start show orgs list-->
    @if (Model.OrgList.Count > 0)
    {
        @Html.Partial("~/Egrants/Views/InstitutionalFiles_OrgList.cshtml", Model.OrgList);
    }
    <!--end show orgs list-->
    <!--start show docs list-->
    @if (Model.Action != InstitutionalFilesPageAction.ShowOrgs && Model.OrgCategories.Count == 0)
    {
        @Html.Partial("~/Egrants/Views/InstitutionalFiles_ShowDocs.cshtml", Model);
    }
    <!--end show docs list-->
    <!--start create new doc-->
    @if (Model.OrgCategories.Count > 0)
    {
        @Html.Partial("~/Egrants/Views/InstitutionalFiles_CreateDocs.cshtml", Model);
    }
    <!--end create new doc--->
</div><!--end main-->
