@model egrants_new.Egrants.Models.InstitutionallFilesPage
@using System.Web.Script.Serialization

<style>
    table {
        table-layout: fixed;
    }


    .xrow {
        line-height: 20px !important;
    }

    .not-shown {
        display: none;
    }

    .inline {
        display: inline-block;
    }

    .left-col {
        width: 100px !important;
    }

    .right-col {
        width: 700px !important;
        display: inline;
    }

    .comment-text {
        width: 350px;
    }
</style>

<script>


    @{
        var javaScriptSearilizer = new JavaScriptSerializer();
        var catArray = javaScriptSearilizer.Serialize(Model.OrgCategories.ToArray());
        var selectedDoc = javaScriptSearilizer.Serialize(Model.SelectedDocFile);
    }
    var categories = @Html.Raw(catArray);
    var Doc = @Html.Raw(selectedDoc);
    var Comments = "";
    var docCategory = null;
    var category = null;
  //  var category = null;
    var catId = 0;


        $(document).ready(function () {

            $("#btnUpdate").on("click", function() {
                update_doc();
            });

            $("#ddlCategories").on("change", function() {
                select_category();
            });

            $("#comments").on('keypress',function(event) {
               check_comment_length(event);
            });

            $("#comments").on('keyup',function(event) {
                check_comment_length(event);
            });

            load_doc(Doc);

        });


    function load_doc(doc) {

        $("#comments").val(doc.comments);

        docCategory = categories.find(c => c.category_name === doc.category_name);
        category = categories.find(c => c.category_name === doc.category_name);

        catId = docCategory.category_id;
        $("#ddlCategories").val(docCategory.category_id);
        $("#txtStartDate").val(doc.start_date);
        $("#txtEndDate").val(doc.end_date);

        check_ui();


    }

    function load_dates(doc) {

        $("#txtStartDate").val(doc.start_date);
        $("#txtEndDate").val(doc.end_date);

        }

    function select_category() {
        if (document.getElementById("ddlCategories").selectedIndex == 0) {
            alert("Please select category");
            return false;
        }
        else
        {
        //Find the div
            check_ui();
            setDates();
        }
    }




    function setDates() {

        var flag_period = category.flag_period;

        //get start day

        if (docCategory.category_id == category.category_id) {
            load_dates(Doc);
        } else{
        var currentDate = new Date();
        var currDay = currentDate.getDate();
        var currMonth = currentDate.getMonth() + 1;
        var currYear = currentDate.getFullYear();
        var end_date = "";
        var start_date = currMonth + "/" + currDay + "/" + currYear;
        //get end date
        var addMonths = 0;
        var addYears = 0
        if (Number(category.tobe_flag) === 1) {
            addYears = Math.floor(flag_period / 12);
            addMonths = (flag_period % 12);
            currMonth = currMonth + addMonths;
            currYear = currYear + addYears;
            end_date = currMonth + "/" + currDay + "/" + currYear;
        } else {
            end_date = "";
            }
        document.getElementById("txtStartDate").value = start_date;
        document.getElementById("txtEndDate").value = end_date;

        }

        }


    function update_doc() {

        //find category_id
        get_category_id();

        //check start date and end date for site vist
        if (Number(category.tobe_flag) === 1) {
            if (check_date_range() === false) {
                return false;
            }
        } else {
            StartDate = "";
            EndDate = "";
        }
        if (check_comment() == false) {
            return false;
        }

        //alert("EndDate=" + EndDate);

        frmdata.append('category_id', catId);
        frmdata.append('org_id', Doc.org_id);
       // frmdata.append('org_name', org_name);
        frmdata.append('start_date', StartDate);
        frmdata.append('end_date', EndDate);
        frmdata.append('comments', Comments);
        frmdata.append('doc_id', Doc.DocumentId);
        updatedoc(frmdata, "/InstitutionalFiles/Update_Doc");

        //return true;
    }

    function updatedoc(frmdata, ctrAction)
    {
        $.ajax({
            type: 'POST',
            url: ctrAction,
            data: frmdata,
            processData: false,
            contentType: false,
            success: function (data) {
                location.href = 'Show_Docs?org_id=' + Doc.org_id;
            }
        });

       
    }

</script>


<div>
    <table>
        <tr>
            <td width="800px" class="text-left">
                <table width="800px">
                    <tr height="20">
                        <td class="left-col">
                            <b>Institute:</b>
                        </td>
                        <td class="right-col">
                            <b>@Model.SelectedInstitutionalOrg.OrgName</b>
                        </td>
                    </tr>
                    <tr height="20">
                        <td class="left-col"><label for="Category"><b>Category:</b></label></td>
                        <td class="right-col">
                            <select name="category_id" id="ddlCategories" class="smallfont" size="1" title="Select category to create new document">
                                <option value="0"></option>
                                @foreach (var orgcategory in Model.OrgCategories)
                                {
                                    if (Model.SelectedDocFile.category_name == orgcategory.category_name)
                                    {
                                        <option id="@orgcategory.flag_data" selected="selected" value="@orgcategory.category_id">@orgcategory.category_name</option>

                                    }
                                    else if (orgcategory.active)
                                    {
                                        <option id="@orgcategory.flag_data" value="@orgcategory.category_id">@orgcategory.category_name</option>

                                    }
                                }
                            </select>
                            <span><input type="text" class="comment-text not-shown" id="comments" class="smallfont " size="8" title="" />&nbsp;<label id="comment-warning" class="text-danger not-shown">Comment length cannot exceed 50 Characters.</label></span>
                        </td>
                    </tr>
                    <tr height="20" id="ShowFlag" class="not-shown">
                        <td class="left-col"><label for="flag"><b>Show Flag:</b></label></td>
                        <td class="right-col">
                            <label for="start date"><b>From</b></label>
                            &#0160;
                            <input type="text" name="start_date" id="txtStartDate" class="smallfont" size="8" title="Insert start date" />&#0160;
                            <label for="end date"><b>To</b></label>&#0160;
                            <input type="text" name="end_date" id="txtEndDate" class="smallfont" size="8" title="Insert end date" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--show loading icon-->
                            <div class="loading" style="display:none">
                                <img src="~/Content/images/Loading.gif" width="80" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <button type="button" id="btnUpdate" name="btnUpdate" class="btn btn-primary eGrantsDocBtn" accesskey="U" title="Click here to save updates [shift + alt + U]" onclick=""><u>S</u>ave Update</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left-col"></td>
                        <td class="right-col">
                            <button onclick="javascript: show_docs('@Model.SelectedInstitutionalOrg.OrgId', '@Model.SelectedInstitutionalOrg.OrgName')" class="btn btn-primary eGrantsReturnBtn" accesskey="R" title="Click here to return previous page [alt + shift + R]"><u>R</u>eturn</button>&#0160;&#0160;
                            @if (ViewBag.FileUrl != null)
                            {
                                <a target="_new" href="@ViewBag.FileUrl" title="Click here to check uploaded file"><img src="../Content/images/check_doc_btn.png" style="height:35px;" title="Check Document" /></a>
                            }
                            <b>@ViewBag.Message</b>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                @*<div valign="top" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.5); width: 350px; height: 260px; line-height: normal; font-style: normal; vertical-align: text-top; padding-left: 15px;"><br><br /><b>Reminder:</b> Sensitive Personally Identifiable Information (PII; e.g. Social Security Number, personal financial information, Alien Registration Number, etc.) or Protected Health Information (e.g. personal medical conditions, etc.) requires strict handling due to the increased risk to an individual if the data is compromised. Documents containing sensitive PII or PHI must not be uploaded into eGrants. More information can be found in the <a target="_new" href="https://policymanual.nih.gov/manage/chapter/view/1745">Manual Chapter 1745 - NIH Information Technology (IT) Privacy Program</a>.</div>*@
        </tr>
    </table>
</div>
