@model List<egrants_new.Egrants.Models.InstitutionalOrg>


<div>
    <table>
        @*<tr><td width="500"></td></tr>*@
        @foreach (var org in Model)
        {
                <tr>
                    <td style="height:15px; width:500px;">
                        <a href="JavaScript:show_docs('@org.OrgId')" title="Click here to display documents list for @org.OrgName"><b>@org.OrgName</b></a>
                            @if (!string.IsNullOrWhiteSpace(org.SvUrl))
                            {
                                <a target="_new" href="@org.SvUrl" title="Created by @org.SVCreatedBy at @org.SVCreatedDate and expired date will be @org.SVEndDate">
                                    <img style="height:16px; vertical-align:top;" src="~/Content/images/Site_Visit.png" />
                                </a>
                            }
                            @if (!string.IsNullOrWhiteSpace(org.FUCreatedBy))
                            {
                                <a target="_new" href="@org.FUUrl" title="Created by @org.FUCreatedBy at @org.FUCreatedDate and expired date will be @org.FUEndDate">
                                    <img style="height:16px; vertical-align:top;" src="~/Content/images/inst_icon_flag.png" />
                                </a>
                            }
                            @*@if (org.AnyOrgDoc)
                            {
                                    <img style="height:16px; vertical-align:top;" src="~/Content/images/inst_icon.png" />
                            }*@
                    </td>
                </tr>
        }
    </table>
</div>