@model egrants_new.Egrants.Models.InstitutionallFilesPage
@using System.Web.Script.Serialization

<style>
    table {
        table-layout: fixed;
    }

    .not-shown {
        display: block;
        visibility: hidden;
    }

    .left-col {
        width: 100px !important;
    }

    .right-col {
        width: 700px !important;
    }

    .comment-textarea {
        width: 550px;
        height: 40px;
    }
</style>

<script>


    @{
        var javaScriptSearilizer = new JavaScriptSerializer();
        var catArray = javaScriptSearilizer.Serialize(Model.OrgCategories.ToArray());
        var selectedDoc = javaScriptSearilizer.Serialize(Model.SelectedDocFile);
    }
    var categories = @Html.Raw(catArray);
    var doc = @Html.Raw(selectedDoc);


        $(document).ready(function () {

            $("#ddlCategories").on("change", function() {
                select_category();

            });

            $("#btnUpdate").on("click", function() {
                update_doc();

            });

            load_doc(doc);

        });


    function load_doc(doc) {


        $("#comments").val(doc.comments);

        var docCategory = categories.find(c => c.category_name === doc.category_name);

        var categoryId = docCategory.category_id;
        $("#ddlCategories").val(docCategory.category_id);
        $("#txtStartDate").val(doc.start_date);
        $("#txtEndDate").val(doc.end_date);


    }


        function select_category() {
            if (document.getElementById("ddlCategories").selectedIndex == 0) {
                alert("Please select category");
                return false;
            }
            else {
                //Find the div
                var sf_block = $("#ShowFlag");
                var c_block = $("#ShowComment");
                var catId = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].value;
                var category = categories.find(c => c.category_id === catId);

                if ((category.active != 1) && (category.category_name != doc.category_name )) {
                    alert("This lease select category");
                    }

            if (Number(category.tobe_flag) === 1) {
                sf_block.removeClass("not-shown");
                var flag_period = category.flag_period;

                //get start day
                var currentDate = new Date();
                var currDay = currentDate.getDate();
                var currMonth = currentDate.getMonth() + 1;
                var currYear = currentDate.getFullYear();
                var end_date = "";
                //get end date
                var addMonths = 0;
                var addYears = 0
                if (flag_period != "") {
                    addYears = Math.floor(flag_period / 12);
                    addMonths = (flag_period % 12);
                    currMonth = currMonth + addMonths;
                    currYear = currYear + addYears;
                    end_date = currMonth + "/" + currDay + "/" + currYear;
                } else {
                    end_date = "";
                    }

                document.getElementById("txtEndDate").value = end_date;

            } else {
                sf_block.addClass("not-shown");
            }

            if (Number(category.require_comments) === 1) {
                c_block.removeClass("not-shown");
            } else {
                c_block.addClass("not-shown");
                }
       }
    }

    function get_category_id() {
        if (document.getElementById("ddlCategories").selectedIndex == 0) {
            alert("Please select category");
            return false;
        } else Categoryid = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].value;
        return true;
    }

    function check_date_range() {
        //check start date
        if (document.getElementById("txtStartDate").value == '') {
            alert("Please insert start date");
            document.getElementById("txtStartDate").focus();
            return false;
        } else if (isDate(document.getElementById("txtStartDate").value) == false) {
            document.getElementById("txtStartDate").value = "";
            document.getElementById("txtStartDate").focus();
            return false;
        } else var start_date = new Date(document.getElementById("txtStartDate").value);

        //check end date
        if (document.getElementById("txtEndDate").value == '') {
            alert("Please insert end date");
            document.getElementById("txtEndDate").value = '';
            document.getElementById("txtEndDate").focus();
            return false;
        } else if (isAnyDate(document.getElementById("txtEndDate").value) == false) {
            document.getElementById("txtEndDate").value = '';
            document.getElementById("txtEndDate").focus();
            return false;
        } else var end_date = new Date(document.getElementById("txtEndDate").value);

        if (end_date <= start_date) {
            alert("The end date should be later than start date");
            document.getElementById("txtEndDate").value = '';
            document.getElementById("txtEndDate").focus();
            return false;
        } else StartDate = document.getElementById("txtStartDate").value;
        EndDate = document.getElementById("txtEndDate").value;
        //alert("EndDate=" + EndDate);
        return true;
    }

    function check_comment() {

        Comments = $("#comments").val();
        alert(Comments);
        var category = document.getElementById("ddlCategories").options[document.getElementById("ddlCategories").selectedIndex].value;

        if (Comments.length == 0 && (Categoryid == "3" || Categoryid == "2")) {
            alert("The Comments are required for category " + category);
            return false;
        }

        return true;
    }

    function update_doc() {

        //find category_id
        if (get_category_id() === false) {
            return false;
        } else
        //find if to be flag


        //check start date and end date for site vist
        if (Number(category.tobe_flag) === 1) {
            if (check_date_range() === false) {
                return false;
            }
        } else {
            StartDate = "";
            EndDate = "";
        }
        if (check_comment() == false) {
            return false;
        }

        //alert("EndDate=" + EndDate);

        var file = document.getElementById('UploadFile').files[0];
        frmdata.append('file', file);
        frmdata.append('category_id', Categoryid);
        frmdata.append('org_id', org_id);
        frmdata.append('org_name', org_name);
        frmdata.append('start_date', StartDate);
        frmdata.append('end_date', EndDate);
        frmdata.append('comments', Comments);
        docupload(frmdata, "/InstitutionalFiles/Create_Doc_by_File");

        setTimeout(function() {
                refresh_after_upload(org_id, org_name);
            },
            500);
        //return true;
    }

</script>


<div>
    <table>
        <tr>
            <td width="800px" class="text-left">
                <table width="800px">
                    <tr height="20">
                        <td class="left-col">
                            <b>Institute:</b>
                        </td>
                        <td class="right-col">
                            <b>@Model.SelectedInstitutionalOrg.OrgName</b>
                        </td>
                    </tr>
                    <tr height="20">
                        <td class="left-col"><label for="Category"><b>Category:</b></label></td>
                        <td class="right-col">
                            <select name="category_id" id="ddlCategories" class="smallfont" size="1" title="Select category to create new document">
                                <option value="0"></option>
                                @foreach (var orgcategory in Model.OrgCategories)
                                {
                                    if (Model.SelectedDocFile.category_name == orgcategory.category_name)
                                    {
                                        <option id="@orgcategory.flag_data" selected="selected" value="@orgcategory.category_id">@orgcategory.category_name</option>

                                    }
                                    else if(orgcategory.active)
                                    {
                                        <option id="@orgcategory.flag_data" value="@orgcategory.category_id">@orgcategory.category_name</option>

                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr height="20" id="ShowFlag" class="not-shown">
                        <td class="left-col"><label for="flag"><b>Show Flag:</b></label></td>
                        <td class="right-col">
                            <label for="start date"><b>From</b></label>
                            &#0160;
                            <input type="text" name="start_date" id="txtStartDate" class="smallfont" size="8" title="Insert start date" />&#0160;
                            <label for="end date"><b>To</b></label>&#0160;
                            <input type="text" name="end_date" id="txtEndDate" class="smallfont" size="8" title="Insert end date" />
                        </td>
                    </tr>
                    <tr id="ShowComment" height="20" class="not-shown">
                        <td class="left-col"><label for="comments"><b>Comments:</b></label></td>
                        <td class="right-col">
                            <input type="textarea" id="comments" class="smallfont comment-textarea" size="8" title="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--show loading icon-->
                            <div class="loading" style="display:none">
                                <img src="~/Content/images/Loading.gif" width="80" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <button type="button" id="btnUpdate" name="btnUpdate" class="btn btn-primary eGrantsDocBtn" accesskey="U" title="Click here to save updates [shift + alt + U]" onclick=""><u>S</u>ave Update</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div valign="top" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.5); width: 350px; height: 260px; line-height: normal; font-style: normal; vertical-align: text-top; padding-left: 15px;"><br><br /><b>Reminder:</b> Sensitive Personally Identifiable Information (PII; e.g. Social Security Number, personal financial information, Alien Registration Number, etc.) or Protected Health Information (e.g. personal medical conditions, etc.) requires strict handling due to the increased risk to an individual if the data is compromised. Documents containing sensitive PII or PHI must not be uploaded into eGrants. More information can be found in the <a target="_new" href="https://policymanual.nih.gov/manage/chapter/view/1745">Manual Chapter 1745 - NIH Information Technology (IT) Privacy Program</a>.</div>
        </tr>
    </table>
</div>
