@model egrants_new.Egrants.Models.MailIntegrationPage

@{
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}



<style>
    table.blueTable {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    table.blueTable td, table.blueTable th {
        border: 0px solid #AAAAAA;
        padding: 3px 2px;
    }
    table.blueTable tbody td {
        font-size: 13px;
    }
    table.blueTable tr:nth-child(even) {
        background: #D0E4F5;
    }
    table.blueTable thead {
        background: #1C6EA4;
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        border-bottom: 2px solid #444444;
    }
    table.blueTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        border-left: 2px solid #D0E4F5;
    }
    table.blueTable thead th:first-child {
        border-left: none;
    }

    table.blueTable tfoot {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #D0E4F5;
        background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        border-top: 2px solid #444444;
    }
    table.blueTable tfoot td {
        font-size: 14px;
    }
    table.blueTable tfoot .links {
        text-align: right;
    }
    table.blueTable tfoot .links a{
        display: inline-block;
        background: #1C6EA4;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }
</style>

<script language="JavaScript">


</script>


<div id="main">
    <!--start main-->
    <div id="caption"><b id="page_title">Integration Page</b></div>


    <div>@Model.Result</div>
    
    <div id="triggeractions">
        <div>
            <div class=""><h2>Trigger Integration Actions</h2></div>
            <table id="actions" class="blueTable">
                <thead>
                <th>Backend Integration Process</th>
                <th>Activate Process</th>
                </thead>
                <tbody>
                    <tr><td>Download Current Email Messages</td><td align="center"><a target="_top" href="@Url.Action("InvokeGraphData","Integration")" ><i class="ui-icon-play"></i>Invoke</a></td></tr>
                    <tr><td>Run the Rules Engine</td><td align="center"><a  target="_top" href="@Url.Action("InvokeRules","Integration")">Invoke</a></td></tr>
                    <tr><td>Process the Matched Email Messages</td><td align="center"><a target="_top" href="@Url.Action("InvokeActions","Integration")">Invoke</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>

        <div id="MailboxView">
            <h2>Mailbox View</h2>
            <div>
                @if (Model.Messages.Count > 0)
                {
                    <table id="MailMessages" class="blueTable">
                        <thead>
                        <th>Date</th>
                        <th>To</th>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Snippet</th>
                        <th>Has Attachments</th>
                        <th>Important</th>
                        <th><i class="glyphicon-paperclip"></i></th>
                        </thead>
                        <tr>
                            <td colspan="4">
                                <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                            </td>
                        </tr>
                        <tbody>
                        @foreach (var msg in Model.Messages)
                        {
                            <tr>
                                <td >@msg.ReceivedDateTime</td>

                                <td >@msg.ToRecipients</td>

                                <td >@msg.EmailFrom</td>

                                <td >@msg.Subject</td>

                                <td >@msg.BodyPreview</td>

                                <td>@msg.HasAttachments</td>

                                <td >@msg.Importance</td>
                                <td> @if (msg.HasAttachments)
                                     {
                                    <a target="_top" href="@Url.Action("InvokeGetAttachment","Integration", new {messageId=$"{msg.GraphId}"})">Download</a>
                                     }</td>
                            </tr>

                        }
                        </tbody>

                    </table>
                }
                else
                {
                    <div>No Messages Available</div>
                }

            </div>
        </div>
</div>