<!--start show docman contracts list-->
    <table style="background-color:lightgray">
        <thead>            
            <tr><td colspan="6" height="10"></td></tr>
            <tr>
                <td></td>
                <td colspan="5" height="10"><label for="notice">* If couldn't find particular contract at above, please check contract data from below carefully, and add it.</label></td>
            </tr>
        </thead>
        <tbody>
        @foreach (var contract in ViewBag.DocmanContracts)
        {
        <tr>
            <td width="30"></td>
            <td width="100"><label for="contract number"><b>Contract Num:</b></label></td>
            <td width="120">@contract.full_contract_number</td>
            <td width="300"><label for="piid"><b>PIID:</b></label>&#0160;@contract.piid</td>
            <td width="80"><label for="specialist"><b>Specialist:</b></label></td>
            <td width="200">@contract.specialist_name</td>
        </tr>       
        <tr>
            <td></td>
            <td><label for="fiscal year"><b>Fiscal Year:</b></label></td>
            <td>@contract.fiscal_year</td>
            <td colspan="2"><b>Close Out:</b>&#0160;@contract.close_out</td>
            <td style="vertical-align:bottom"></td>
        </tr>
        <tr>
            <td></td>
            <td><label for="institution"><b>Institution:</b></label></td>
            <td colspan="3">@contract.institution</td>
            <td>
                <button type="button" accessKey="A" class="btn btn-primary btn-sm" title="Click here to add contract [shift + alt + A]" onClick="add_docman_contract('@contract.full_contract_number','@contract.combined_piid')"><u>A</u>dd Contract</button>
            </td>
        </tr>
        <tr>
            <td colspan="2"></td><td colspan="3" height="10">------------------------------------------------------------------------------------------------------------</td>
        </tr>
        }
        <tr><td colspan="6" height="30px"></td></tr>
        </tbody>
    </table>
<!--end show docman contracts list-->


