@{
    ViewBag.Title = "docman [Contract File Tracking]";
    Layout = "~/Shared/Views/_docman_header.cshtml";
}

<script language="JavaScript">
    var currenturl = window.document.location.href;
    var bodyurl = window.parent.frameBody.location.href;

    function move_folders(type) {
        if (type == "box") {
            var act = "box"
            if (document.getElementById("ddlBoxes").selectedIndex <= 2) {
                if (document.getElementById("accessions").style.display == "none") {
                    document.getElementById("accessions").style.display = "inline";
                    document.getElementById("boxes").style.display = "none";
                } //return false;
            } else var target = document.getElementById("ddlBoxes").options[document.getElementById("ddlBoxes").selectedIndex].text;
            var target_id = document.getElementById("ddlBoxes").options[document.getElementById("ddlBoxes").selectedIndex].value;
        }

        if (type == "specialist") {
            var act = "check_out";
            if (document.getElementById("ddlSpecialist").selectedIndex == 0) {
                alert("Please select specialist name");
                return false;
            } else var target = document.getElementById("ddlSpecialist").options[document.getElementById("ddlSpecialist").selectedIndex].text;
            var target_id = document.getElementById("ddlSpecialist").options[document.getElementById("ddlSpecialist").selectedIndex].value;
        }

        //get folder idstring and count of folders
        if (window.parent.frameBody.pagename == 'contract_tracking') {
            var folders = window.parent.frameBody.Getids();
            var count = window.parent.frameBody.GetCount();
            if (count == 0) {
                alert("Please select the folder(s) that you want to move to " + target);
                return false;
            } else if (confirm("Are you sure that you want to move " + count + " folder(s) to " + target + "?")) {
                var url = "@Url.Action("Edit_Folders", "CFTHeader")?act=" + act + "&folders=" + folders + "&target_id=" + target_id;
                window.parent.frameHead.location.href = url;
                body_refresh();
            } else return false;
        }
    }

    function modify_folders(act) {
        if (window.parent.frameBody.pagename == 'contract_tracking') {
            var folders = window.parent.frameBody.Getids();
            var count = window.parent.frameBody.GetCount();

            if (count == 0) {
                alert("Please select the folder(s) that you want to " + act);
                return false;
            } else  if (confirm("Are you sure that you want to " + act + " " + count + " folder(s)?")) {
                        var url = "@Url.Action("Edit_Folders", "CFTHeader")?act=" + act + "&folders=" + folders + "&target_id=0";
                        window.parent.frameHead.location.href = url;
                        body_refresh();
            }
        }
    }

    function body_refresh() {
        window.parent.frameBody.location.reload();
    }

    function change_accession() {
        if (document.getElementById("ddlAccessions").selectedIndex <= 1) {
            alert("Please select accession");
                return false;
        } else  var accession_id = document.getElementById("ddlAccessions").options[document.getElementById("ddlAccessions").selectedIndex].value;
                var url = "@Url.Action("Index", "CFTHeader")?accession_id=" + accession_id;
                window.parent.frameHead.location.href = url;
    }

    function more_action(CurrentObject) {
        if (CurrentObject.selectedIndex < 1) {
            alert("Please select edit type");
            return false;
        } else  var edit_type = CurrentObject.options[CurrentObject.selectedIndex].value;
            if (edit_type == "Box") {
                var url = "@Url.Action("Edit_Box", "CFTEdit")";
            }

            if (edit_type == "Accession") {
                var url = "@Url.Action("Edit_Accession", "CFTEdit")";
            }

            if (edit_type == "Folder") {
                var url = "@Url.Action("Edit_Folder", "CFTEdit")";
            }
        window.parent.frameBody.location.href = url;
    }

</script>

<div id="main">
    <div id="caption">
        <b id="page_title">Contracts File Management</b>
    </div>
    <form class="form-group">
        <div class="form-inline">
            <div id="searching">
                <select id="ddlSpecialist" name="Userlist" class="form-control" style="width:220px; height:30px;" onchange="move_folders('specialist');">
                    <option value=0>(Move To Specialist)</option>
                    @foreach (var item in ViewBag.Specialists)
            {
                        <option value=@item.person_id>
                            @item.person_name
                        </option>
                    }
                </select>

                <div id="accessions" style="display:none">
                    &#0160;
                    <select id="ddlAccessions" name="Accessionslist" class="form-control" style="width:180px; height:30px;" onchange="change_accession();">
                        <option value=0>(Select Accession)</option>
                        @foreach (var item in ViewBag.Accessions)
                        {
                            <option value=@item.accession_id>
                                @item.accession_number
                            </option>
                        }
                    </select>
                </div>
                <div id="boxes" style="display:inline">
                    &#0160;
                    <select id="ddlBoxes" " name="Boxeslist" class="form-control" style="width:150px; height:30px;" onchange="move_folders('box');">
                        <option>(Move To Box)</option>
                        <option value=0>(Other Accessions)</option>
                        @foreach (var item in ViewBag.Boxes)
                        {
                            <option value=@item.box_id>
                                @item.box_number
                            </option>
                        }
                    </select>
                </div>
                &#0160;
                <select name="action" id="ddlAction" onchange="more_action(this)" class="form-control" style="width:200px; height:30px;" title="Go to other action">
                    <option>(More Actions)</option>
                    <option value="Accession">Edit Accession</option>
                    <option value="Box">Edit Box</option>
                    <option value="Folder">Edit Contract Folder</option>
                </select>
                &#0160;
                <button type="button" accesskey="C" class="btn btn-primary btn-sm" title="Click here to check in selected folders [shift + alt + C]" onclick="modify_folders('check_in')"><u>C</u>heck In</button>
                &#0160;
                <button type="button" accesskey="L" class="btn btn-primary btn-sm" title="Click here to delete selected folders [shift + alt + L]" onclick="modify_folders('delete')">De<u>l</u>ete</button>
            </div>
        </div>
    </form>
</div>





