<script language="JavaScript">
        function to_add() {
            //get contract_id
            var Contractid = document.getElementById("newContractid").value;

            //get Total Amount value
            if (document.getElementById("newTotalAmount").value == '') {
                alert("Please insert Total Amount value");
                document.getElementById("newTotalAmount").value = "";
                document.getElementById("newTotalAmount").focus();
                return false;
            } else var result=isCurrency(document.getElementById("newTotalAmount").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Total Amount");
                document.getElementById("newTotalAmount").value = "";
                document.getElementById("newTotalAmount").focus();
                return false;
            }else var TotalAmount = document.getElementById("newTotalAmount").value;

            //get Final Payment value
            if (document.getElementById("newFinalPayment").value == '') {
                alert("Please insert Final Payment value");
                document.getElementById("newFinalPayment").value = "";
                document.getElementById("newFinalPayment").focus();
                return false;
            } else var result = isCurrency(document.getElementById("newFinalPayment").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Final Payment");
                document.getElementById("newFinalPayment").value = "";
                document.getElementById("newFinalPayment").focus();
                return false;
            } else var FinalPayment = document.getElementById("newFinalPayment").value;

            //get Deobligation value
            if (document.getElementById("newDeobligation").value == '') {
                alert("Please insert Deobligation value");
                document.getElementById("newDeobligation").value = "";
                document.getElementById("newDeobligation").focus();
                return false;
            } else var result = isCurrency(document.getElementById("newDeobligation").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Deobligation");
                document.getElementById("newDeobligation").value = "";
                document.getElementById("newDeobligation").focus();
                return false;
            } else var Deobligation = document.getElementById("newDeobligation").value;

            //get Refund value
            if (document.getElementById("newRefund").value == '') {
                alert("Please insert Refund value");
                document.getElementById("newRefund").value = "";
                document.getElementById("newRefund").focus();
                return false;
            } else var result = isCurrency(document.getElementById("newRefund").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Refund");
                document.getElementById("newRefund").value = "";
                document.getElementById("newRefund").focus();
                return false;
            } else var Refund = document.getElementById("newRefund").value;

            //get ExpiredDate value
            if (document.getElementById("newExpiredDate").value == '') {
                alert("Please insert Expired Date");
                document.getElementById("newExpiredDate").value = "";
                document.getElementById("newExpiredDate").focus();
                return false;
            } else var result = isDate(document.getElementById("newExpiredDate").value);

            if (result == false || result == "false") {
                document.getElementById("newExpiredDate").value = "";
                document.getElementById("newExpiredDate").focus();
                return false;
            } else var ExpiredDate = document.getElementById("newExpiredDate").value;

            //get Signature value
            var index = document.getElementById("newSignature").selectedIndex;
            if (index == 0) {
                alert("Please select a Signature.");
                return false;
            }else   var Signature = document.getElementById("newSignature").options[index].value;
                    var url = "@Url.Action("Create", "CFTEfinal")?contract_id=" + Contractid + "&total_amount=" + TotalAmount + "&final_payment=" + FinalPayment + "&deobligation=" + Deobligation + "&refund=" + Refund + "&expired_date=" + ExpiredDate + "&signed_by=" + Signature;
            //alert(url);
            window.self.location.href = url;
        }

        function to_update() {
            //get contract_id
            var Contractid = document.getElementById("hidContractid").value;

            //get Total Amount value
            if (document.getElementById("txtTotalAmount").value == '') {
                alert("Please insert Total Amount value");
                document.getElementById("txtTotalAmount").value = "";
                document.getElementById("txtTotalAmount").focus();
                return false;
            } else var result = isCurrency(document.getElementById("txtTotalAmount").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Total Amount");
                document.getElementById("txtTotalAmount").value = "";
                document.getElementById("txtTotalAmount").focus();
                return false;
            } else var TotalAmount = document.getElementById("txtTotalAmount").value;

            //get Final Payment value
            if (document.getElementById("txtFinalPayment").value == '') {
                alert("Please insert Final Payment value");
                document.getElementById("txtFinalPayment").value = "";
                document.getElementById("txtFinalPayment").focus();
                return false;
            } else var result = isCurrency(document.getElementById("txtFinalPayment").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Final Payment");
                document.getElementById("txtFinalPayment").value = "";
                document.getElementById("txtFinalPayment").focus();
                return false;
            } else var FinalPayment = document.getElementById("txtFinalPayment").value;

            //get Deobligation value
            if (document.getElementById("txtDeobligation").value == '') {
                alert("Please insert Deobligation value");
                document.getElementById("txtDeobligation").value = "";
                document.getElementById("txtDeobligation").focus();
                return false;
            } else var result = isCurrency(document.getElementById("txtDeobligation").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Deobligation");
                document.getElementById("txtDeobligation").value = "";
                document.getElementById("txtDeobligation").focus();
                return false;
            } else var Deobligation = document.getElementById("txtDeobligation").value;

            //get Refund value
            if (document.getElementById("txtRefund").value == '') {
                alert("Please insert Refund value");
                document.getElementById("txtRefund").value = "";
                document.getElementById("txtRefund").focus();
                return false;
            } else var result = isCurrency(document.getElementById("txtRefund").value);

            if (result == false || result == "false") {
                alert("Please insert correct value fro Refund");
                document.getElementById("txtRefund").value = "";
                document.getElementById("txtRefund").focus();
                return false;
            } else var Refund = document.getElementById("txtRefund").value;

            //get ExpiredDate value
            if (document.getElementById("txtExpiredDate").value == '') {
                alert("Please insert Expired Date");
                document.getElementById("txtExpiredDate").value = "";
                document.getElementById("txtExpiredDate").focus();
                return false;
            } else var result = isDate(document.getElementById("txtExpiredDate").value);

            if (result == false || result == "false") {
                document.getElementById("txtExpiredDate").value = "";
                document.getElementById("txtExpiredDate").focus();
                return false;
            } else var ExpiredDate = document.getElementById("txtExpiredDate").value;

            //get Signature value
            var index = document.getElementById("ddlSignature").selectedIndex;
            if (index == 0) {
                alert("Please select a Signature.");
                return false;
            } else var Signature = document.getElementById("ddlSignature").options[index].value;

            var url = "@Url.Action("Update", "CFTEfinal")?contract_id=" + Contractid + "&total_amount=" + TotalAmount + "&final_payment=" + FinalPayment + "&deobligation=" + Deobligation + "&refund=" + Refund + "&expired_date=" + ExpiredDate + "&signed_by=" + Signature;
            //alert(url);
            window.open(url);
        }

        function to_view() {
            var Contractid = document.getElementById("hidContractid").value;
            var url = "@Url.Action("Index", "CFTEfinal")?contract_id=" + Contractid
            window.open(url);
        }
</script>

<div id="main">
    @if (ViewBag.SignedBy != null && ViewBag.SignedBy != "")
    {
        <div class="form-inline">
            <table width="700">
                <thead>
                    <tr>
                        <td width="100"></td>
                        <td width="140"></td>
                        <td width="100"></td>
                        <td width="360"></td>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in ViewBag.ContractEfinal)
                {
                    string contract_id = Convert.ToString(item.contract_id);
                    string full_contract_number = Convert.ToString(item.full_contract_number);
                    string institution = Convert.ToString(item.org_name);
                    string total_amount = Convert.ToDecimal(item.total_amount).ToString("#,##0.00");
                    string final_payment = Convert.ToDecimal(item.final_payment).ToString("#,##0.00");
                    string deobligation = Convert.ToDecimal(item.deobligation).ToString("#,##0.00");
                    string refund = Convert.ToDecimal(item.refund).ToString("#,##0.00");
                    string expired_date = Convert.ToString(item.expired_date);

                        <tr height="30">
                            <td><lable for="contract number"><b>Contract:</b></lable></td>
                            <td colspan="3">@full_contract_number<input type="hidden" id="hidContractid" value="@contract_id" /></td>
                        </tr>
                        <tr height="30">
                            <td><lable for="institution name"><b>Institution:</b></lable></td>
                            <td colspan="3">
                            @if (@institution.Length > 40)
                            {
                                <i>@institution.Substring(0, 40)...</i>
                            }
                            else
                            {
                                <i>@institution</i>
                            }
                            </td>
                        </tr>
                        <tr>
                            <td><lable for="total amount"><b>Total Amount:</b></lable></td>
                            <td>
                                $&#0160;<input id="txtTotalAmount" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Total Amount" value="@total_amount" />
                            </td>
                            <td><lable for="final payment"><b>Final Payment:</b></lable></td>
                            <td>
                                $&#0160;<input id="txtFinalPayment" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Final Payment" value="@final_payment" />
                            </td>
                        </tr>
                        <tr>
                            <td><lable for="deobligation"><b>Deobligation:</b></lable></td>
                            <td>
                                $&#0160;<input id="txtDeobligation" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Deobligation" value="@deobligation" />
                            </td>
                            <td><lable for="refund"><b>Refund:</b></lable></td>
                            <td>
                                $&#0160;<input id="txtRefund" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Refund" value="@refund" />
                            </td>
                        </tr>
                        <tr>
                            <td><lable for="expired date"><b>Expired Date:</b></lable>&#0160;</td>
                            <td>
                                &#0160;&#0160;&#0160;<input id="txtExpiredDate" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Expired Date" value="@expired_date" />
                            </td>
                            <td><lable for="signature by"><b>Signature By:</b></lable></td>
                            <td>
                                &#0160;&#0160;
                                <select id="ddlSignature" class="form-control" style="width:200px; height:30px;" size="1" title="select a signature">
                                    <option></option>
                                    @foreach (var Signatures in ViewBag.EfinalSigned)
                                    {
                                        if (Signatures.signed_name == Convert.ToString(ViewBag.SignedBy))
                                        {
                                            if (Convert.ToInt16(Signatures.disabled) == 0)
                                            {
                                                <option value="@Signatures.signed_name" disabled="disabled" selected="selected">@Signatures.person_name</option>
                                            }
                                            else
                                            {
                                                <option value="@Signatures.signed_name" selected="selected">@Signatures.person_name</option>
                                            }
                                        }
                                        else
                                        {
                                            if (Convert.ToInt16(Signatures.disabled) == 0)
                                            {
                                                <option value="@Signatures.signed_name" disabled="disabled">@Signatures.person_name</option>
                                            }
                                            else
                                            {
                                                <option value="@Signatures.signed_name">@Signatures.person_name</option>
                                            }
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <button class="btn btn-primary btn-sm" AccessKey="S" onClick="return to_update()" title="Create or edit Contract final cost">
                                    <U>S</U>ave
                                </button>
                            </td>
                            <td>
                                &#0160;&#0160;
                                <button class="btn btn-primary btn-sm" AccessKey="V" onClick="return to_view()" title="View Contract final Cost Report">
                                    <U>V</U>iew Report
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="form-inline">
            <table width="700">
                <thead>
                @foreach (var item in ViewBag.ContractEfinal)
                {
                    string new_contract_id = Convert.ToString(item.contract_id);
                    string full_contract_num = Convert.ToString(item.full_contract_number);
                    string institution = Convert.ToString(item.org_name);
                        <tr height="30">
                            <td width="100"><lable for="contract number"><b>Contract:</b></lable></td>
                            <td width="140"><i>@full_contract_num</i><input type="hidden" id="newContractid" value="@new_contract_id" /></td>
                            <td width="100"></td>
                            <td width="360"></td>
                        </tr>
                        <tr height="30">
                            <td><lable for="institution name"><b>Institution:</b></lable></td>
                            <td colspan="3">
                            @if (@institution.Length > 40)
                            {
                                <i>@institution.Substring(0,40)...</i>
                            }
                            else
                            {
                                <i>@institution</i>
                            }
                            </td>
                        </tr>
                    }
                </thead>
                <tbody>
                    <tr>
                        <td><lable for="total amount"><b>Total Amount:</b></lable></td>
                        <td>$&#0160;<input id="newTotalAmount" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Total Amount" /></td>
                        <td><lable for="final payment"><b>Final Payment:</b></lable></td>
                        <td>$&#0160;<input id="newFinalPayment" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Final Payment" /></td>
                    </tr>
                    <tr>
                        <td><lable for="deobligation"><b>Deobligation:</b></lable></td>
                        <td>$&#0160;<input id="newDeobligation" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Deobligation" /></td>
                        <td><lable for="refund"><b>Refund:</b></lable></td>
                        <td>$&#0160;<input id="newRefund" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Refund" /></td>
                    </tr>
                    <tr>
                        <td><lable for="expired date"><b>Expired Date:</b></lable></td>
                        <td>&#0160;&#0160;&#0160;<input id="newExpiredDate" type="text" class="form-control" style="width:100px;height:30px;" title="Insert Expired Date" /></td>
                        <td><lable for="signature by"><b>Signature By:</b></lable></td>
                        <td>
                            &#0160;&#0160;
                            <select id="newSignature" class="form-control" style="width:200px; height:30px;" size="1" title="select a signature">
                                <option></option>
                                @foreach (var item in ViewBag.EfinalSigned)
                                {
                                    if (Convert.ToInt16(item.disabled) == 0)
                                    {
                                        <option value="@item.signed_name" disabled="disabled">@item.person_name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.signed_name">@item.person_name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td>
                            &#0160;&#0160;
                            <button type="button" accesskey="S" class="btn btn-primary btn-sm" title="Click here to add contract final cost[shift + alt + A]" onclick="return to_add()"><u>S</u>ave</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>
