@using egrants_new.Models;

@{
    Layout = null;

    // prod mode
    string browserTimeout = "2 * 60 * 60 * 1000";             // 2 hours
    string whenToDisplayTimoutDialog = "15 * 60 * 1000";      // 15 minutes
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/egrants.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/scripts/jquery-3.6.4.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/validation.js"></script>

    <script>
        var user_position_id = @Convert.ToInt16(Session["position_id"]);
        var QuickLinkType = [];

        var currentView = "StandardForm";
        var remainingAutoLogoutMS = @browserTimeout;
        var displayDialogAtRemainingTime = @whenToDisplayTimoutDialog;       // 15000 * 60

        //console.log = function () { };     // MLH disable console log as requested by QA

        $(document).ready(function() {
            //check Session["position_id"]
            if (user_position_id >= 2) {
            QuickLink = document.getElementById("leftpanelS");
            } else {
            QuickLink = document.getElementById("leftpanelP");
            }

            //set
            if (user_position_id >= 1) {
            if (sessionStorage.getItem("QuickLinks") == null) {
                sessionStorage.setItem("QuickLinks", "1");
            }

            //get
            if (sessionStorage.getItem("QuickLinks") == "1") {
                QuickLink.style.display = "block";
            } else QuickLink.style.display = "none";
            }

            document.addEventListener('mousemove', keyAndMouseListener, false);
            document.addEventListener('keypress', keyAndMouseListener, false);

            updateAuditOrGrantYearModeFromCookie();

            setInterval(updateTimeout, 1000);
        });

        var keyAndMouseListener = function () {
            var dialogCurrentlyVisible = $('#timeoutModalId').is(':visible');
            // if timed out dialog is up, just let it be hosed for AWOL user
            if (!dialogCurrentlyVisible) {
                remainingAutoLogoutMS = @browserTimeout;
            }
        };

        function timeoutExtended() {
            remainingAutoLogoutMS = @browserTimeout;
            if ($('#timeoutModalId').is(':visible'))
                $("#timeoutModalId").modal('hide');
            if ($('#timedoutModalId').is(':visible'))
                $("#timedoutModalId").modal('hide');
        }

        function updateTimeout() {
            if (remainingAutoLogoutMS >= 1000)
                remainingAutoLogoutMS -= 1000;
            var dialogCurrentlyVisible = $('#timeoutModalId').is(':visible');
            var timedOutDialogCurrentlyVisible = $('#timedoutModalId').is(':visible');
            if ((remainingAutoLogoutMS < displayDialogAtRemainingTime) && !dialogCurrentlyVisible && !timedOutDialogCurrentlyVisible) {
                $("#timeoutModalId").modal('show');
            }
            var seconds = remainingAutoLogoutMS / 1000;
            var mins = 0;
            while (seconds > 59) {
                seconds -= 60;
                mins += 1;
            }
            var secondsText = "" + seconds;
            if (seconds <= 9)
                secondsText = "0" + secondsText;
            var minutesText = "" + mins;
            if (mins <= 9)
                minutesText = "0" + minutesText;
            document.getElementById('timeout-mins').innerHTML = minutesText;
            document.getElementById('timeout-secs').innerHTML = secondsText;
            
            if (seconds == 0 && mins == 0 && !timedOutDialogCurrentlyVisible) {
                $("#timeoutModalId").modal('hide');
                $("#timedoutModalId").modal('show');
            }
        }

        function toggleleftpanel() {
            if (QuickLink.style.display === "none") {
            QuickLink.style.display = "block";
            sessionStorage.removeItem("QuickLinks");
            sessionStorage.setItem("QuickLinks", "1");
            //alert(sessionStorage.getItem("QuickLinks"));
            } else {
            QuickLink.style.display = "none";
            sessionStorage.removeItem("QuickLinks");
            sessionStorage.setItem("QuickLinks", "0");
            //alert(sessionStorage.getItem("QuickLinks"));
            }
        }

        function eGrantLogoClicked() {
            console.log("going to Grant Year");
            currentView = "StandardForm";
            displayDownloadOrAuditForms();
            window.location.href = "/";
        }

        function auditFileDownloadMenuClicked() {
            console.log("going to Grant Year");
            currentView = "DownloadForm";
            displayDownloadOrAuditForms();
            window.location.href = "/";
        }

        function displayDownloadOrAuditForms() {
            if (currentView == "DownloadForm") {
                // DownloadForm
                //$('#downloadForm').attr("hidden", false);
                //$('#standardForm').attr("hidden", true);
                if (document.getElementById("toggle_title"))
                    document.getElementById("toggle_title").innerHTML = "Audit File Download";
                if (document.getElementById("download_link"))
                    document.getElementById("download_link").title = "Grant Years";
                document.cookie = "auditMode=DownloadForm;path=/";
            } else {
                // StandardForm
                //$('#downloadForm').attr("hidden", true);
                //$('#standardForm').attr("hidden", false);
                if (document.getElementById("toggle_title"))
                    document.getElementById("toggle_title").innerHTML = "Grant Years";
                if (document.getElementById("download_link"))
                    document.getElementById("download_link").title = "Audit File Download";
                document.cookie = "auditMode=StandardForm;path=/";
            }
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) {
                    var result = c.substring(name.length, c.length);
                    console.log('cookie ' + cname + ': ' + result);
                    return c.substring(name.length, c.length);
                }
            }

            return "";
        }

        function updateAuditOrGrantYearModeFromCookie() {
            var auditMode = getCookie("auditMode");
            if (!auditMode) {
                document.cookie = "auditMode=StandardForm;path=/";
                auditMode = "StandardForm";
            }
            currentView = auditMode;
            displayDownloadOrAuditForms();
            //toggle_download_forms(); <-- this switches it
        }

    </script>
    <style>

          .navbar-default {
              border-bottom: none !important;
          }

          .navbar {
              background-color: #808080 !important;
          }

          .navbar-nav > li {
              padding-left: 10px;
          }

          .navbar .nav > li > a,
          .navbar .nav > li > a:first-letter,
          .navbar .nav > li.current-menu-item > a,
          .navbar .nav > li.current-menu-ancestor > a {
              display: inline;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: large !important;
              padding: 10px 20px;
          }

          .navbar-light .navbar-brand {
              color: #FFFFFF;
              padding-right: 50px
          }

          .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
              color: #FFFFFF;
          }

          .navbar-light .navbar-nav .nav-link {
              color: #FFFFFF;
          }

              .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
                  color: #555 !important;
              }

          #loginas {
              color: dimgray !important;
              /*font: arial !important;*/
              font-size: large !important;
              vertical-align: auto !important;
              text-align: right !important;
          }

          body {
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 90% !important;
              /* font-size:medium */
          }

          #loginas a {
              color: blue !important;
          }

          .eGrantsWhiteTxt {
              border-top: 4px solid white !important;
          }

          .eGrantsDDbkgrnd {
              background-color: #808080 !important;
          }

          .eGrantsUpldBtnColor {
              background-color: #1D8215 !important;
          }

          .eGrantsReturnBtn {
              font-size: medium;
              border: none;
              color: white;
              background-color: #808080;
          }

          .eGrantsDocBtn {
              font-size: medium;
              background-color: #4169e1;
          }

          /*adde 4/3/2019 for return to the TOP functionality by Ayu*/

          #myBtn { /*--Ayu*/
              display: none; /* Hidden by default */
              position: fixed; /* Fixed/sticky position */
              bottom: 20px; /* Place the button at the bottom of the page */
              right: 30px; /* Place the button 30px from the right */
              z-index: 99; /* Make sure it does not overlap */
              border: none; /* Remove borders */
              outline: none; /* Remove outline */
              background-color: darkcyan; /* Set a background color */
              color: white; /* Text color */
              cursor: pointer; /* Add a mouse pointer on hover */
              padding: 15px; /* Some padding */
              border-radius: 10px; /* Rounded corners */
              font-size: 18px; /* Increase font size
        }

        #myBtn:hover { /*--Ayu*/
              background-color: #555; /* Add a dark-grey background on hover */
          }
    </style>
</head>
<body>

<div class="row">
    <div class="col-lg-2" id="logo">
        <a title="Skip Header" href="#skip header">Skip Repetitive Navigation Links</a>
        <a onclick="eGrantLogoClicked();">
            <img alt="alt tag" src="~/Content/images/eglogo.PNG" width="400" height="50" title="eGrant Links [shift + alt + E]" accesskey="E" />
        </a>
    </div>
    <div class="col-lg-10" id="loginas">
        <p>Logged in as:@Session["UserName"]</p>
    </div>
    <!--- <p>Need help? Email to:<a href="mailto:egrantsissues@mail.nih.gov" title="Send email for asking help">egrantsissues@mail.nih.gov</a></p> -->

</div>
<div class="row">
    <div class="col-lg-12">
        <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg  navbar-light"> @*navbar-dark bg-dark">*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="navbar-nav mr-auto nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navDrop" Onclick="toggleleftpanel()" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" accesskey="R" title="Quick Links [shift + alt + L]">
                            Quick Links
                        </a>
                    </li>

                    @{
                        if (Session["Menus"] != null)
                        {
                            foreach (var s in Session["Menus"].ToString().Split(','))
                            {
                                foreach (var c in s.Split('|'))
                                {
                                    var str = s.Split('|');
                                    if (c.Length > 1)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" title="@str[0] [shift + alt + @str[1]]" accesskey="@str[1]" target="_top" href="@Url.Action("Index", c.Replace(" ", string.Empty))">@c</a>
                                        </li>
                                    }
                                }
                            }
                        }

                    }
                    <li class="nav-item">
                        <a class="nav-link" title="Institutional Files [shift + alt + F]" accesskey="F" target="_top" href="@Url.Action("Index", "InstitutionalFiles")">Institutional Files</a>
                    </li>

                    <li id="navDropDown1" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" accesskey="R" title="Resources [shift + alt + R]">
                            Resources
                        </a>
                        <div class="dropdown-menu shadow p-3 mb-5 bg-white rounded" aria-labelledby="navLink1">
                            @if (@Convert.ToInt16(Session["position_id"]) >= 2)
                            {
                                <a class="hard_link dropdown-item" target="_self" onclick="auditFileDownloadMenuClicked();" title="Audit File Download">Audit File Download</a>
                            }
                            <a class="dropdown-item" target="_new" href="~/Content/eGrants Category Glossary.docx" title="eGrants Glossary">eGrants Glossary</a>
                            <a class="dropdown-item" target="_new" href="~/Content/access_number2.pdf" title="Accession">Accession</a>
                            <a class="dropdown-item" target="_self" href="~/EgrantsFunding/funding_index" title="Funding Files">Funding Files</a>
                        </div>
                    </li>
                    <li id="navDropDown2" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" accesskey="H" title="Help [shift + alt + H]">Help</a>
                        <div class="dropdown-menu shadow p-3 mb-5 bg-white rounded" aria-labelledby="navLink2">
                            <a class="dropdown-item" href="mailto:egrantsissues@mail.nih.gov" title="Send email to Technical Support Team">Technical Support</a>
                            <a class="dropdown-item" target="_new" href="~/Content/eGrants Help Guide.pdf" title="Help Guide">Help Guide</a>
                            <a class="dropdown-item" target="_new" href="~/Content/explanation.htm" title="Icon Guide">Icon Guide</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" target="_new" href="~/Content/privacy.htm" title="Privacy Policy">Privacy Policy</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-2" id="leftpanel" style="margin-left: 20px">
        @if (Convert.ToInt16(Session["position_id"]) >= 2)
        {
            <ul class="nav nav-pills nav-stacked" id="leftpanelS">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://nciconnect.nci.nih.gov/sites/oga/SitePages/Home.aspx" title="my OGA">myOGA</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://apps.era.nih.gov/gmii/search/view.era?menu_itemPath=36" title="eRA GM">eRA GM</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://pms.psc.gov/" title="PMS">PMS</a>
                </li>
            </ul>
        }

        @if (Convert.ToInt16(Session["position_id"]) == 1)
        {
            <ul class="nav nav-pills nav-stacked" id="leftpanelP">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://apps.era.nih.gov/pmm/search.era" title="PMM">PMM</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://apps.era.nih.gov/qvr/web/home_main.cfm" title="QVR">QVR</a>
                </li>

                @*<li class="divider"></li>*@
            </ul>
        }
    </div>

    <div class="col-lg-9" id="mainbody">
        <br />@RenderBody()
    </div><!--end container body-content-->

    <div>
        @Html.Partial("~/Shared/Views/_egrants_showModalTimeoutDialog.cshtml")
    </div>
    <div>
        @Html.Partial("~/Shared/Views/_egrants_showModalTimedoutDialog.cshtml")
    </div>

</div>

</body>
</html>
