@{
    ViewBag.Title = "DocMan [Document Contract]";
    Layout = "~/Shared/Views/_docman_header.cshtml";
}

<script language="JavaScript">
        var currenturl = window.document.location.href;
        //var total_mcat = document.frmGetInfo.Mcat_total.value;
        //var total_ccat = document.frmGetInfo.Ccat_total.value;
        var main_category_id;

        $(document).ready(function () {
            set_default();
        });

        function set_default() {
            document.getElementById("txtStr").focus();
            document.getElementById("main_categories").selectedIndex = 1;
            show_main_category_tabs();
            show_sub_category_tabs();
        }

        function to_create(econ_id) {
            if (currenturl.indexOf("Docman/") > 0) {
                var url = "Show_Create?econ_id=" + econ_id;
            } else var url = "Docman/Show_Create?econ_id=" + econ_id;
            window.self.location = url;
        }

        function select_main_category_list() {
            //hide all sub category tabs and category_list
            hide_sub_category_list();
            hide_main_category_tabs();
            hide_sub_category_tabs();

            if (document.getElementById("main_categories").selectedIndex == 0) {
                alert("Please select a main category...");
                return false;
            }

            if (document.getElementById("main_categories").selectedIndex == 1) {
                show_main_category_tabs();
                show_sub_category_tabs();
            }

            if (document.getElementById("main_categories").selectedIndex > 1) {
                main_category_id = document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;

                //display sub select list tab
                show_sub_category_list();

                //set sub select list
                var selectlist = "sub_categories_" + main_category_id;
                var select = document.getElementById(selectlist);
                select.options[1].selected = true;

                //display documents
                show_single_main_category_tab();
                show_sub_category_tabs();
            }
        }

        function show_sub_category_list() {
            //show one sub category list
            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el = "ccat_list_" + i;
                if (i == main_category_id) {
                    if (document.getElementById(el).style.display == 'none') {
                        document.getElementById(el).style.display = "inline";
                    }
                } else document.getElementById(el).style.display = "none";
            }
        }

        function select_sub_category_list(select) {
            //hide all tabs
            hide_main_category_tabs();
            hide_sub_category_tabs();

            if (select.selectedIndex == 0) {
                alert("Please select a sub category...");
                return false;
            }

            if (select.selectedIndex == 1) {
                show_single_main_category_tab();
                show_sub_category_tabs();
            }

            if (select.selectedIndex > 1) {
                var ccatid = select.options[select.selectedIndex].value;
                show_single_main_category_tab();
                show_single_sub_category_tab(ccatid);
            }
        }

        function show_single_main_category_tab() {
            main_category_id = document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;

            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el = "mcat_tab_" + i;
                if (i == main_category_id) {
                    if (document.getElementById(el) != null) {
                        if (document.getElementById(el).style.display == 'none') {
                            document.getElementById(el).style.display = "inline";
                        }
                    }
                }
            }
        }

        function hide_sub_category_list() {
            //hide all sub category lists
            for (var i = 1; i < document.frmGetInfo.Mcat_total.value; i++) {
                var el = "ccat_list_" + i;
                if (document.getElementById(el).style.display == 'inline') {
                    document.getElementById(el).style.display = "none";
                }

                //reset sub_category_list
                var il = "sub_categories_" + i;
                document.getElementById(il).options[0].selected = "selected";
            }
        }

        function show_main_category_tabs() {
            //show main category tabs
            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el = "mcat_tab_" + i;
                if (document.getElementById(el) != null) {
                    if (document.getElementById(el).style.display == 'none') {
                        document.getElementById(el).style.display = "inline";
                    }
                }
            }
        }

        function hide_main_category_tabs() {
            //hide main category tabs
            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el = "mcat_tab_" + i;
                if (document.getElementById(el) != null) {
                    if (document.getElementById(el).style.display == 'inline') {
                        document.getElementById(el).style.display = "none";
                    }

                }
            }
        }

        function show_sub_category_tabs() {
            //show sub category tabs
            for (var i = 1; i <= document.frmGetInfo.Ccat_total.value; i++) {
                var el = "ccat_tab_" + i;
                if (document.getElementById(el) != null) {
                    if (document.getElementById(el).style.display == 'none') {
                        document.getElementById(el).style.display = "inline";
                    }
                }
            }
        }

        function hide_sub_category_tabs() {
            //hide sub category tabs
            for (var i = 1; i <= document.frmGetInfo.Ccat_total.value; i++) {
                var el = "ccat_tab_" + i;
                if (document.getElementById(el) != null) {
                    if (document.getElementById(el).style.display == 'inline') {
                        document.getElementById(el).style.display = "none";
                    }
                }
            }
        }

        function show_single_sub_category_tab(ccatid) {
            //show single sub category tab
            for (var i = 1; i <= document.frmGetInfo.Ccat_total.value; i++) {
                var el = "ccat_tab_" + i;
                if (document.getElementById(el) != null) {
                    if (i == ccatid) {
                        if (document.getElementById(el).style.display == 'none') {
                            document.getElementById(el).style.display = "inline";
                        }
                    } else document.getElementById(el).style.display = "none";
                }
            }
        }

        function goto(act, econ_id, docid, mcat_id, ccat_id) {
            if (act == "delete") {
                var url = "Show_Disable?econ_id=" + econ_id + "&doc_id=" + docid;
            }

            if (act == "edit") {
                var url = "Show_Modify?econ_id=" + econ_id + "&doc_id=" + docid + "&mcat_id=" + mcat_id + "&ccat_id=" + ccat_id;
            }

            if (act == "upload") {
                var url = "Show_Upload?econ_id=" + econ_id + "&doc_id=" + docid;
            }
            window.self.location = url;
        }

        function show_doc(docurl) {
            var ImageServer = document.getElementById("hidImageServer").value;
            //alert(docurl);
            if (docurl.substring(0, 5) == "/data") {
                var url = ImageServer + docurl.substring(1, docurl.length);
            }else if (docurl.substring(0, 5) == "data/") {
                var url = ImageServer + docurl;
            }else url = docurl;

            //alert(url);
            window.open(url);
        }
</script>

@{
    var can_doc_upload = "";
}

<div id="main">
    <div>
        @Html.Partial("~/Docman/Views/_docman_Search.cshtml")
    </div>
    <br /><br />

    <form name="frmGetInfo">
        <input type="hidden" id="hidMcat_total" name="Mcat_total" value="@ViewBag.Mcat_total" />
        <input type="hidden" id="hidCcat_total" name="Ccat_total" value="@ViewBag.Ccat_total" />
        <input type="hidden" id="hidImageServer" name="MImageServer" value="@Convert.ToString(Session["ImageServer"])" />
    </form>

    <div id="modify" class="form-inline">
        @if (ViewBag.DocmanContract != null)
        {
            foreach (var econ in ViewBag.DocmanContract)
            {
                can_doc_upload = Convert.ToString(econ.can_upload);
            }

            @Html.Partial("~/Docman/Views/_docman_Contract.cshtml");

            <table>
                <tr>
                    <td width="20"></td>
                    <td width="120"><lable for="main category"><b>Main Category:</b></lable></td>
                    <td width="700">
                        <!--start main category list-->
                        <select name="maincategorylist" id="main_categories" class="form-control" style="height:30px; width:600px;" onChange="select_main_category_list()">
                            <option></option>
                            <option value="12">All</option>
                            @foreach (var item in ViewBag.MainCategories)
                            {
                                <option value=@item.mcat_id>@item.mcat_name</option>
                            }
                        </select><!--end main category list-->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><lable for="sub category"><b>Sub Category:</b></lable></td>
                    <td>
                        <!--start sub Category list-->
                        @for (var i = 1; i <= ViewBag.Mcat_total; i++)
                        {
                            <div class="menu" id="ccat_list_@i" style="display:none">
                                <select id="sub_categories_@i" name="subcategories_@i" class="form-control" style="height:30px; width:600px;" onChange="select_sub_category_list(this)">
                                    <option></option>
                                    <option value="100">All</option>
                                    @foreach (var item in ViewBag.SubCategories)
                                    {
                                        if (Convert.ToInt16(item.mcat_id) == i)
                                        {
                                            <option value=@item.ccat_id>@item.ccat_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    </td>
                </tr>
            </table>
        }
    </div>

    <!--start load document-->
    @if (ViewBag.DocmanDocument != null)
    {
        foreach (var item in ViewBag.DocmanDocument)
        {
            if (Convert.ToInt16(item.tag) == 1 && Convert.ToInt16(item.docs_with_mcat) > 0)
            {
                var main_category_id = Convert.ToInt16(item.main_category_id);
                <div class="maincattab" id="mcat_tab_@item.main_category_id" style="display:none">
                    <br />&#0160;&#0160;&#0160;&#0160;&#0160;&#0160;
                    <center>@item.main_category_name</center>

                    @foreach (var item2 in ViewBag.DocmanDocument)
                    {
                        if (Convert.ToInt16(item2.tag) == 2 && Convert.ToInt16(item2.main_category_id) == main_category_id && Convert.ToInt16(item2.docs_with_ccat) > 0)
                        {
                            var mcat_id = Convert.ToInt16(item2.main_category_id);
                            var ccat_id = Convert.ToInt16(item2.sub_category_id);
                            <div class="subcattab" id="ccat_tab_@item2.sub_category_id" style="display:none">
                                @item2.sub_category_name
                                <!--load documents-->
                                @foreach (var item3 in ViewBag.DocmanDocument)
                                {
                                    <table>
                                        @if (Convert.ToInt16(item3.tag) == 3 && Convert.ToInt16(item3.main_category_id) == mcat_id && Convert.ToInt16(item3.sub_category_id) == ccat_id)
                                        {
                                            <tr>
                                                <td width="50"></td>
                                                <td width="550"><a href="JavaScript:show_doc('@item3.url')">@item3.doc_label</a></td>
                                                <td width="100">@item3.document_date</td>
                                                <td width="20">
                                                    @if (can_doc_upload == "y")
                                                    {
                                                        <a href="JavaScript:goto('edit', @ViewBag.EconID, @item3.document_id, @item3.main_category_id, @item3.sub_category_id)" title="edit document index">
                                                            <img class="img_14_14" src="~/Content/images/edit.jpg" />
                                                        </a>
                                                    }
                                                </td>
                                                <td width="20">
                                                    @if (can_doc_upload == "y")
                                                    {
                                                        <a href="JavaScript:goto('upload', @ViewBag.EconID, @item3.document_id, @item3.main_category_id, @item3.sub_category_id)" title="upload document image">
                                                            <img class="img_14_14" src="~/Content/images/Redo.jpg" />
                                                        </a>
                                                    }
                                                </td>
                                                <td width="20">
                                                    @if (can_doc_upload == "y")
                                                    {
                                                        <a href="JavaScript:goto('delete', @ViewBag.EconID, @item3.document_id)" title="delete document">
                                                            <img class="img_14_14" src="~/Content/images/Clear.jpg" />
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                        }
                    }
                </div>
            }

            if (Convert.ToInt16(item.tag) == 1 && Convert.ToInt16(item.docs_with_mcat) == 0)
            {
                <div class="maincattab" id="mcat_tab_@item.main_category_id" style="display:inline">
                    <br />&#0160;&#0160;&#0160;&#0160;&#0160;&#0160;
                    <center>@item.main_category_name</center>
                    <font color="red">There are no documents for this category.</font>
                </div>
            }
        }
    }
</div>
<br /><br /><br />




