@model IEnumerable<egrants_new.Models.DocmanCommon.DocmanDeletedDocuments>

@{
    ViewBag.Title = "docman [Docman Deleted Documents]";
    Layout = "~/Shared/Views/_docman_header.cshtml";
}

<script language="javascript">
    var ic = "NCI";
    var flag;
    var DocTransactionType;
    var UserID;
    var currenturl = window.document.location.href;

    function Show_Report() {
    
            var DateRangeIndex = document.getElementById("ddlDateRange").selectedIndex;
            if (DateRangeIndex == 0) {
                alert("Please select time range");
                return false;
            } else DateRange = document.getElementById("ddlDateRange").options[DateRangeIndex].id;

            var url="@Url.Action("To_Show_Report", "Docman")?date_range=" + DateRange;
            //alert(url);
            window.self.location.href = url;
    }

    function Create_Report() { 
            if (document.getElementById("txtStartDay").value == '') {
                alert("please insert start date");
                document.getElementById("txtStartDay").value = '';
                document.getElementById("txtStartDay").focus();
                return false;
            } else if (isDate(document.getElementById("txtStartDay").value) == false) {
                document.getElementById("txtStartDay").value = '';
                document.getElementById("txtStartDay").focus();
                return false;
            } else startdate = document.getElementById("txtStartDay").value;

            if (document.getElementById("txtEndDay").value == '') {
                alert("please insert end date");
                document.getElementById("txtEndDay").value = '';
                document.getElementById("txtEndDay").focus();
                return false;
            } else if (isDate(document.getElementById("txtEndDay").value) == false) {
                document.getElementById("txtEndDay").value = '';
                document.getElementById("txtEndDay").focus();
                return false;
            } else enddate = document.getElementById("txtEndDay").value;

            if (startdate > enddate) {
                alert("The end date must be later than start date");
                return false;
            }
         
            var url="@Url.Action("To_Create_Report", "Docman")?start_date=" + startdate + "&end_date=" + enddate;
            //alert(url);
            window.self.location.href = url;               
    }

    function show_page(docurl) {
        window.open(docurl);
    }

</script>

<div id="main">
    <div id="caption"><b id="page_title">Documents Deleted From System</b></div>
    <br />
    <form id="frmReport">
    <div id="report" class="form-inline">
        <table>
            <thead>
                <tr height="30">
                    <td colspan="4"><b>* Select date range or insert particular date to search.</b></td>
                </tr>
                <tr>
                    <td width="120"><Label id="date range"><b>Date Range:</b></Label></td>
                    <td width="280p">
                        <select id="ddlDateRange" name="time_range" class="form-control" style="height:30px; width:120px;" onchange="Show_Report();">
                            <option></option>
                            @if (ViewBag.DateRange == "today")
                            {
                                <option id="today" selected="selected">Today</option>
                            }
                            else
                            {
                                <option id="today">Today</option>
                            }
                            @if (ViewBag.DateRange == "last_week")
                            {
                                <option id="last_week" selected="selected">Last Week</option>
                            }
                            else
                            {
                                <option id="last_week">Last Week</option>
                            }
                            @if (ViewBag.DateRange == "last_month")
                            {
                                <option id="last_month" selected="selected">Last Month</option>
                            }
                            else
                            {
                                <option id="last_month">Last Month</option>
                            }
                            @if (ViewBag.DateRange == "this_week")
                            {
                                <option id="this_week" selected="selected">This Week</option>
                            }
                            else
                            {
                                <option id="this_week">This Week</option>
                            }
                            @if (ViewBag.DateRange == "this_month")
                            {
                                <option id="this_month" selected="selected">This Month</option>
                            }
                            else
                            {
                                <option id="this_month">This Month</option>
                            }                 
                        </select>
                    </td>
                    <td width="300"></td>
                    <td width="200"></td>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="4">-----------------------------------------------&#0160;OR &#0160;--------------------------------------------</td></tr>
                <tr>
                    <td><Label id="lblStartDay"><b>From:</b></Label></td>
                    <td><input type="text" id="txtStartDay" class="form-control" style="height:30px; width:100px;" value="@ViewBag.StartDate"/>&#0160;(mm/dd/yyyy)</td>
                    <td>
                        <Label id="lblEndDay"><b>To:</b></Label>
                        <input type="text" id="txtEndDay" class="form-control" style="height:30px; width:100px;" value="@ViewBag.EndDate"/>&#0160;(mm/dd/yyyy)
                    </td>
                    <td>
                        <button type="button" id="btnCreatReport" accesskey="V" class="btn btn-primary btn-sm" title="Click here to view report [shift + alt + V]" onclick="JavaScript: Create_Report()"><u>V</u>iew Report</button>
                    </td>
                </tr>
                <tr style="height: 15px"><td colspan="4"></td></tr>
            </tbody>
        </table>
    </div>

    <br />
        @if (ViewBag.DocDeletedDocs != null && ViewBag.DocDeletedDocs.Count > 0)
        {
            var DocsGrid = new WebGrid(ViewBag.DocDeletedDocs, rowsPerPage: 50);  //, defaultSort: "Category Name"

            <div id="grid">
            @DocsGrid.Pager(WebGridPagerModes.Numeric)
            @DocsGrid.GetHtml(
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",  
            rowStyle: "webgrid-odd-row-style",
            alternatingRowStyle: "webgrid-even-row-style",
            selectedRowStyle: "webgrid-selected-row",
            numericLinksCount: 10,
       
            //fillEmptyRows: true,
            //emptyRowCellValue: "There is no any data return for this kind searching",
            columns: DocsGrid.Columns(
                DocsGrid.Column("disabled_date", " Deleted", null, style: "col-med", canSort: true),
                DocsGrid.Column("piid", "PIID", null, style: "col-med", canSort: true),
                DocsGrid.Column("report_label", "Category Name", format:@<a target="_new" href="@item.url_loc">@item.report_label</a>, style: "col-exlarg", canSort: true),
                DocsGrid.Column("disabled_reason", "Deleted Reason", null, style: "col-larg", canSort: true),
                DocsGrid.Column("disabled_by", "Deleted By", null, style: "col-larg", canSort: true)          
                )
            )
            </div>
        }
        else if(ViewBag.DocDeletedDocs != null && ViewBag.DocDeletedDocs.Count ==0)
        {
            <b>No data found</b>
        }
    </form>
</div>       
<br /><br /><br /><br /><br /><br />







