@{
    ViewBag.Title = "DocMan [Document Search]";
    Layout = "~/Shared/Views/_docman_header.cshtml";
}

<script language="JavaScript">
        var currenturl = window.document.location.href;
        var total_tabs
        var current_tab
        var current_tab

        $(document).ready(function () {
            set_default();
        });

        function set_default() {
            if (document.frmGetInfo.Return_info.value != '') {
                alert(document.frmGetInfo.Return_info.value);
            }

            document.getElementById("txtStr").focus();

            var TotalContracts = document.frmGetInfo.Total_Contracts.value;
            if (TotalContracts>100){
                if (document.frmGetInfo.Current_Tab.value == 'undefined') {
                    current_tab = 1;
                } else current_tab = document.frmGetInfo.Current_Tab.value;

                if (document.frmGetInfo.Total_Tabs.value>= 1 && current_tab == '') {
                    show_tab("current", 1);
                } else show_tab("current", current_tab);
            }
        }

        @*function to_create(econ_id) {
            var url = "@Url.Action("Show_Create", "Docman")?econ_id=" + econ_id;
            //alert(url);
            window.self.location = url;
        }*@

        function show_tab(act, tabid) {
            //alert(act);
            if (act == 'next') {
                var tabid = tabid + 1;
            } else if (act == 'previous') {
                var tabid = tabid - 1;
            }

            current_tab = tabid;

            //alert(el);
            for (var i = 1; i <= document.frmGetInfo.Total_Tabs.value; i++) {
                var el = "tab_" + i;
                if (i != tabid) {
                    if (document.getElementById(el).style.display == "inline") {
                        document.getElementById(el).style.display = "none";
                   }
                } else document.getElementById(el).style.display = "inline";
            }
        }

        function view_page(page_num) {
            var SearchStr = document.frmSearch.str.value;
            var url="@Url.Action("by_page", "Docman")?str=" + SearchStr + "&current_tab=" + current_tab + "&page_num=" + page_num;
            //alert(url);
            window.self.location = url;
        }

</script>

<div id="main">
    <!--start main -->
    <div>
        @Html.Partial("~/Docman/Views/_docman_Search.cshtml")
    </div>
    <br /><br />

    @foreach (var item in ViewBag.DocmanPagenation)
    {
        if (Convert.ToInt16(item.tag) == 1)
        {
            ViewBag.TotalContracts = Convert.ToInt16(item.total_contracts);
            ViewBag.TotalTabs = Convert.ToInt16(item.total_tabs);
            ViewBag.TotalPages = Convert.ToInt16(item.total_pages);
            ViewBag.PerPage = Convert.ToInt16(item.per_page);
        }
    }

    <form name="frmGetInfo">
        <input type="hidden" id="hidTotalContracts" name="Total_Contracts" value="@ViewBag.TotalContracts" />
        <input type="hidden" id="hidTotalTabs" name="Total_Tabs" value="@ViewBag.TotalTabs" />
        <input type="hidden" id="hidTotalPages" name="Total_Pages" value="@ViewBag.TotalPages " />
        <input type="hidden" id="hidCurrentTab" name="Current_Tab" value="@ViewBag.CurrentTab" />
        <input type="hidden" id="hidPageNum" name="Page_Num" value="@ViewBag.PageNum" />
        <input type="hidden" id="hidReturn_info" name="Return_info" value="@ViewBag.ReturnInfo" />
    </form>

    <!--start Pagination-->
    @if (ViewBag.DocmanPagenation != null)
    {
        @Html.Partial("~/Docman/Views/_docman_Pagination.cshtml");
        <br />
    }
    <!--end Pagination-->
    <!--start each contract-->
    <div id="modify">
        @if (ViewBag.DocmanContract != null)
            {
            @Html.Partial("~/Docman/Views/_docman_Contract.cshtml");
            }
    </div>
    <!--end each contract-->
</div><!--end main -->
<br /><br /><br /><br /><br /><br />



