@{
    ViewBag.Title = "DocMan [Document Contract]";
    Layout = "~/Shared/Views/_docman_header.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/DragdropArea.css" />
<script src="~/scripts/dragdrop.js"></script>
<script src="~/scripts/ProgressBar.js"></script>

<script language="JavaScript">
        var currenturl = window.document.location.href;
        var main_category_id;
        var DocDate = "";
        var CcatID = 0;
        var SeqNum = "";
        var frmdata = new FormData();

        $(document).ready(function () {
            set_default();
        });

        function set_default() {
            var BrowserType = document.getElementById("hidBrowserType").value;
            //alert(BrowserType);
            if (BrowserType.indexOf("Chrome") != -1 || BrowserType.indexOf("IE") != -1 || BrowserType.indexOf("InternetExplorer") != -1) {
                switch_upload_mode("by_ddrop");
            } else switch_upload_mode("by_file");
        }

        function select_main_category_list() {
            //hide all sub category_list
            hide_sub_category_list();

            if (document.getElementById("main_categories").selectedIndex == 0) {
                alert("Please select a main category");
                return false;
            }

            if (document.getElementById("main_categories").selectedIndex > 0) {
                main_category_id = document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;
                //display sub select list tab
                show_sub_category_list();
            }
        }

        function select_sub_category_list() {
            var main_category_id = document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;
            var el = "sub_categories_" + main_category_id;
            if (document.getElementById(el).selectedIndex == 0) {
                alert("Please select a sub category");
                return false;
            }
        }

        function show_sub_category_list() {
            //show one sub category list
            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el = "ccat_list_" + i;
                if (i == main_category_id) {
                    if (document.getElementById(el).style.display == 'none') {
                        document.getElementById(el).style.display = "inline";
                    }
                } else document.getElementById(el).style.display = "none";
            }
        }

        function hide_sub_category_list() {
            //hide all sub category lists
            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el = "ccat_list_" + i;
                if (document.getElementById(el).style.display == 'inline') {
                    document.getElementById(el).style.display = "none";
                }
            }
        }

        function get_docdate() {
            if (document.getElementById("txtDocDate").value == '') {
                alert("Please insert document date");
                document.getElementById("txtDocDate").focus();
                return false;
            } else if (isDate(document.getElementById("txtDocDate").value) == false) {
                document.getElementById("txtDocDate").value = "";
                document.getElementById("txtDocDate").focus();
                return false;
            } else return document.getElementById("txtDocDate").value;
        }

        function get_id() {
            if (document.getElementById("txtID").value == "") {
                alert("Please insert ID");
                document.getElementById("txtID").focus();
                return false;
            } else var result = CheckCharacters(document.getElementById("txtID").value, "ID");

            if (result == "false" || result == false) {
                document.getElementById("txtID").value = "";
                document.getElementById("txtID").focus();
                return false;
            } else return document.getElementById("txtID").value;
        }

        function get_cat_identity() {
            //get mcat_id
            if (document.getElementById("main_categories").selectedIndex == 0) {
                alert("Please select a main category");
                return false;
            } else var mcat_id = document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;
            var el = "sub_categories_" + mcat_id;

            //get ccat_id
            if (document.getElementById(el).selectedIndex == 0) {
                alert("Please select a sub category");
                return false;
            } return document.getElementById(el).options[document.getElementById(el).selectedIndex].value;
        }

        function switch_upload_mode(act) {
            if (act == "by_ddrop") {
                document.getElementById("by_ddrop").style.display = "inline";
                document.getElementById("by_file").style.display = "none";
                document.getElementById("by_email").style.display = "none";
                Init();
            }

            if (act == "by_file") {
                document.getElementById("by_file").style.display= "inline";
                document.getElementById("by_ddrop").style.display = "none";
                document.getElementById("by_email").style.display = "none";
            }

            if (act == "by_email") {
                document.getElementById("by_email").style.display = "inline";
                document.getElementById("by_ddrop").style.display = "none";
                document.getElementById("by_file").style.display = "none";
            }
        }

        function create_doc_by_ddrop(econ_id) {
            //get cat_identity
            if (get_cat_identity() == false) {
                return false;
            } else CcatID = get_cat_identity();

            //get doc date
            if (get_docdate() == false) {
                return false;
            } else DocDate = get_docdate();

            //get id
            if (get_id() == false) {
                return false;
            } else SeqNum = get_id();

            frmdata.append('dropedfile', dropedfile);
            frmdata.append('econ_id', econ_id);
            frmdata.append('doc_date', DocDate);
            frmdata.append('seq_num', SeqNum);
            frmdata.append('cat_identity', CcatID);
            docupload(frmdata, "/Docman/Create_Doc_by_DDrop");

            //refresh after upload
            var url = "@Url.Action("Show_Create","Docman")?econ_id=" + econ_id;
            window.self.location = url;
            return true;
        }

        function create_doc_by_file(econ_id) {
            //get mcat_id
            if (get_cat_identity() == false) {
                return false;
            } else CcatID = get_cat_identity();

            //get doc date
            if (get_docdate() == false) {
                return false;
            } else DocDate = get_docdate();

            //get id
            if (get_id()==false){
                return false;
            } else SeqNum = get_id();

            //check loacte file, file type and file size
            if (check_file() == false) {
                return false;
            } else var file = document.getElementById('UploadFile').files[0];

            frmdata.append('file', file);
            frmdata.append('econ_id', econ_id);
            frmdata.append('doc_date', DocDate);
            frmdata.append('seq_num', SeqNum);
            frmdata.append('cat_identity', CcatID);
            docupload(frmdata, "/Docman/Create_Doc_by_File");

            //refresh after upload
            var url = "@Url.Action("Show_Create","Docman")?econ_id=" + econ_id;
            window.self.location = url;
            return true;
        }

        function create_doc_by_email(econ_id) {
            //get cat_identity
            if (get_cat_identity() == false) {
                return false;
            } else CcatID = get_cat_identity();

            //get doc date
            if (get_docdate() == false) {
                return false;
            } else DocDate = get_docdate();

            //get id
            if (get_id() == false) {
                return false;
            } else SeqNum = get_id();

            if (SeqNum != '') {
                var email_body = 'Before sending the email:%0D%0A %0D%0A 1. Attach the document to upload to this email.%0D%0A 2. If necessary, change the document date in the subject line (maintain the date format mm/dd/yyyy).%0D%0A 3. Send the email. %0D%0A %0D%0A  Changing any other information in the Subject: or the To: lines will cause an unsuccessful upload.%0D%0A %0D%0A Note:There may be a time delay of up to 15 minutes before the uploaded file is available for your review.';
                var subject = "econ_id=" + econ_id + ", ccat_id=" + CcatID + ", doc_date=" + DocDate + ", seq_num=" + SeqNum;
                var maillink = 'mailto:' + document.frmGetInfo.docman_email.value + '?subject=' + subject + '&body=' + email_body;
                //alert(maillink);
                window.open(maillink, "_self");
            }
        }
</script>

<form name="frmGetInfo">
    <input type="hidden" id="hidBrowserType" name="browser_type" value="@Convert.ToString(Session["browser"])" />
    <input type="hidden" id="hidEdon_id" name="Econ_id" value="@ViewBag.DocmanEmail" />
    <input type="hidden" id="hidMcat_total" name="Mcat_total" value="@ViewBag.Mcat_total" />
    <input type="hidden" id="hidCcat_total" name="Ccat_total" value="@ViewBag.Ccat_total" />
    <input type="hidden" id="hidDocmanemail" name="docman_email" value="@ViewBag.DocmanEmail" />
</form>

<div id="main">
    <div id="caption">
        <b id="page_title">DocMan:Post New Document</b>
    </div>
    <br />
    <div id="modify" class="form-inline">
        @if (ViewBag.DocmanContract != null)
            {
            @Html.Partial("~/Docman/Views/_docman_Contract.cshtml");
            <table>
                <tr><td></td><td colspan="3">-----------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
                <tr>
                    <td width="20"></td>
                    <td width="180"></td>
                    <td width="300"></td>
                    <td width="300"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><lable for="main category"><b>Main Category:</b></lable></td>
                    <td colspan="2" height="25">
                        <!--start main category list-->
                        <select name="maincategorylist" id="main_categories" class="form-control" style="height:30px; width:600px;" onChange="select_main_category_list()">
                            <option></option>
                            @foreach (var item in ViewBag.MainCategories)
                            {
                                <option value=@item.mcat_id>@item.mcat_name</option>
                            }
                        </select><!--end main category list-->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><lable for="sub category"><b>Sub Category:</b></lable></td>
                    <td colspan="2" height="25">
                        <!--start sub Category list-->
                        @for (var i = 1; i <= ViewBag.Mcat_total; i++)
                        {
                            <div class="menu" id="ccat_list_@i" style="display:none">
                                <select name="subcategories_@i" id="sub_categories_@i" class="form-control" style="height:30px; width:600px;" onChange="select_sub_category_list(this)">
                                    <option></option>
                                    @foreach (var item in ViewBag.SubCategories)
                                    {
                                        if (Convert.ToInt16(item.mcat_id) == i)
                                        {
                                            <option value=@item.ccat_id>@item.ccat_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><lable for="document date"><b>Document Date:</b></lable></td>
                    <td colspan="2" height="25">
                        <input type="text" name="Docdate" id="txtDocDate" value="@System.DateTime.Today.ToString("MM/dd/yyyy")" class="form-control" style="height:30px; width:120px;" />&#0160;(mm/dd/yyyy)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><lable for="id"><b>ID:</b></lable></td>
                    <td colspan="2" height="25">
                        <input type="text" name="ID" id="txtID" class="form-control" style="height:30px; width:420px;" />&#0160;&#0160;(Max 100 characters)
                    </td>
                </tr>
                <!--start upload by web-->
                <tr>
                    <td colspan="2">
                        <!--show loading icon-->
                        <div class="loading" style="display:none">
                            <img src="~/Content/images/Loading.gif" width="80" />
                        </div>
                    </td>
                    <td colspan="2">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="Javascript:switch_upload_mode('by_ddrop')">Drag & Drop</a></li>
                            <li></li>
                            <li class="active"><a href="Javascript:switch_upload_mode('by_file')">Locate File and Upload</a></li>
                            <li></li>
                            <li class="active"><a href="Javascript: switch_upload_mode('by_email')">Upload <I>via</I> Email</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <!--start upload by drag drop -->
                            <div class="tab-pane fade active in" id="by_ddrop" style="display:none">
                                <br />
                                <div id="dropArea">
                                    Drop only one file here to upload document
                                </div>
                                <br />
                                <button type="button" id="btnDragdrop" class="btn btn-primary btn-sm" accesskey="U" OnClick="return create_doc_by_ddrop(@ViewBag.EconID)" title="Click here to upload document image [shift + alt + U]" disabled="disabled">
                                    <u>U</u>pload Document
                                </button>
                            </div>
                            <!--end upload by drag drop -->
                            <!--start upload by file-->
                            <div class="tab-pane fade active in" id="by_file" style="display:none">
                                <br />
                                <input type="file" name="file" id="UploadFile" /><br />
                                <button type="button" id="btnFileUpload" class="btn btn-primary btn-sm" accesskey="U" OnClick="return create_doc_by_file(@ViewBag.EconID)" title="Click here to upload document image [shift + alt + U]">
                                    <u>U</u>pload Document
                                </button>
                            </div>
                            <!--end upload by file-->
                            <!--start upload by email-->
                            <div class="tab-pane fade active in" id="by_email" style="display:none">
                                <br /><b>How to Upload Via Email?</b><br />
                                &#0160;&#0160;1, Update document date and insert reason of replace.<br />
                                &#0160;&#0160;2, Click the button "Upload Via Email" This will popup an outlook email window.<br />
                                &#0160;&#0160;3, Just attach document (don't change the subject) and send.<br /><br />
                                <button type="submit" id="btnCreate" class="btn btn-primary btn-sm" accesskey="U" OnClick="return create_doc_by_email(@ViewBag.EconID)" title="Click here to upload document by email  [shift + alt + U]">
                                    <U>U</U>pload Via Email
                                </button>
                            </div>
                            <!--end upload by email-->
                            <br /><br />
                            <!--show progress bar-->
                            <div class="progress" style="display:none; margin:0; padding:0;">
                                <div id="progressBar" class="progress-bar" role="progressbar" style="width:0%; height:18px; text-align: center; line-height:18px; " aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end progress bar-->
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div><!--end main-->
    @ViewBag.Message<br />
    <a target="_self" href="@Url.Action("by_id", "Docman", new { econ_id = ViewBag.EconID})" title="Click to display documents">Return</a>
    &#0160;&#0160;
    @if (ViewBag.FileUrl != null)
    {
        <a target="_new" href="@ViewBag.FileUrl" title="Click here to check uploaded file">Check Uploaded File</a><br />
            <span>&#0160;&#0160;&#0160;&#0160;</span><a target="_new" href="#" id="notice" style="visibility:hidden"><b>Check uploaded file</b></a>
    }
</div>
<br /><br /><br /><br /><br />






