@{
    ViewBag.Title = "DocMan [Document Contract]";
    Layout = "~/Shared/Views/_docman_header.cshtml";
}

<script language="JavaScript">
        var currenturl = window.document.location.href;
        var main_category_id;

        $(document).ready(function () {
            set_default();
        });

        function set_default() {

            //if (document.frmGetInfo.Return_info.value !=''){
            //    alert(document.frmGetInfo.Return_info.value);
            //}

            var Ccatlist=document.frmGetInfo.Ccat_total.value

            //set main_categories list selected
            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el="ccat_list_" + i;
                if (document.getElementById("main_categories").options[i].value == document.frmGetInfo.Mcat_id.value) {
                    document.getElementById("main_categories").options[i].selected = "selected";

                  if (document.getElementById(el).style.display == 'none') {
                        document.getElementById(el).style.display = "inline";
                  }
                    var Ccatlist = "sub_categories_" + i
                }
            }

            //set sub_categories list selected
            for (var i = 1; i <= document.frmGetInfo.Ccat_total.value; i++) {
                if (document.getElementById(Ccatlist).options[i] != null){
                    if (document.getElementById(Ccatlist).options[i].value == document.frmGetInfo.Ccat_id.value) {
                        document.getElementById(Ccatlist).options[i].selected = "selected";
                    }
                }
            }
        }

        function to_create(econ_id) {
            var url = "@Url.Action("Show_Create", "Docman")?econ_id=" + econ_id;
            window.self.location = url;
        }

        function select_main_category_list() {
            //hide all sub category_list
            hide_sub_category_list();

            if (document.getElementById("main_categories").selectedIndex == 0) {
                alert("Please select a main category...");
                return false;
            }

            if (document.getElementById("main_categories").selectedIndex > 0) {
                main_category_id = document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;
                //display sub select list tab
                show_sub_category_list();
            }
        }

        function select_sub_category_list(){
            var main_category_id = document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;
            var el="sub_categories_"+main_category_id;
            if (document.getElementById(el).selectedIndex==0){
                alert("Please select a sub category");
                return false;
            }
        }

        function show_sub_category_list() {
            //show one sub category list
            for (var i = 1; i <= document.frmGetInfo.Mcat_total.value; i++) {
                var el = "ccat_list_" + i;
                if (i == main_category_id) {
                    if (document.getElementById(el).style.display == 'none') {
                        document.getElementById(el).style.display = "inline";
                    }
                } else document.getElementById(el).style.display = "none";
            }
        }

        function hide_sub_category_list() {
            //hide all sub category lists
            for (var i = 1; i < document.frmGetInfo.Mcat_total.value; i++) {
                var el = "ccat_list_" + i;
                if (document.getElementById(el).style.display == 'inline') {
                    document.getElementById(el).style.display = "none";
                }
            }
        }

        function modify_index(doc_id) {
            if (document.getElementById("main_categories").selectedIndex == 0) {
                alert("Please select a main category...");
                return false;
            }else   var mcat_id= document.getElementById("main_categories").options[document.getElementById("main_categories").selectedIndex].value;
                    var el="sub_categories_" + mcat_id;

            if (document.getElementById(el).selectedIndex == 0) {
                alert("Please select a sub category...");
                return false;
            }else var ccat_id = document.getElementById(el).options[document.getElementById(el).selectedIndex].value;

            if (document.getElementById("txtID").value==""){
                alert("Please insert ID");
                document.getElementById("txtID").focus();
                return false;
            }else var result=CheckCharacters(document.getElementById("txtID").value, "ID");

            if (result=="false" || result== false){
                document.getElementById("txtID").value="";
                document.getElementById("txtID").focus();
                return false;
            }else var seq_num=document.getElementById("txtID").value;

            if(document.getElementById("txtDocDate").value==""){
                alert("Please insert document date");
                document.getElementById("txtDocDate").focus();
            }else  if (isDate(document.getElementById("txtDocDate").value) == false){
                        document.getElementById("txtDocDate").value="";
                        document.getElementById("txtDocDate").focus();
                        return false;
                    }else DocDate=document.getElementById("txtDocDate").value;

            if (confirm('Are you sure that you want to modify index for this document?')) {
                var url = "@Url.Action("To_Modify", "Docman")?act=to_modify&econ_id=" + document.frmGetInfo.Econ_id.value + "&doc_id=" + document.frmGetInfo.Doc_id.value + "&mcat_id=" + mcat_id + "&ccat_id=" + ccat_id + "&seq_num=" + seq_num + "&doc_date=" + DocDate;
                //alert(url);
                window.self.location = url;
            }
        }
</script>

<div id="main">
    <form name="frmGetInfo">
        <input type="hidden" id="hidMcat_total" name="Mcat_total" value="@ViewBag.Mcat_total" />
        <input type="hidden" id="hidCcat_total" name="Ccat_total" value="@ViewBag.Ccat_total" />
        <input type="hidden" id="hidMcat_id" name="Mcat_id" value="@ViewBag.McatID" />
        <input type="hidden" id="hidCcat_id" name="Ccat_id" value="@ViewBag.CcatID" />
        <input type="hidden" id="hidEcon_id" name="Econ_id" value="@ViewBag.EconID" />
        <input type="hidden" id="hidDoc_id" name="Doc_id" value="@ViewBag.DocID" />
        <input type="hidden" id="hidReturn_info" name="Return_info" value="@ViewBag.ReturnInfo" />
    </form>
    <br />
    <div id="caption">
        <b id="page_title">DocMan:Edit Document Index</b>
    </div>
    <br />
    <div id="modify" class="form-inline">
        <!--start contract layer-->
        @if (ViewBag.DocmanContract != null)
        {
            @Html.Partial("~/Docman/Views/_docman_Contract.cshtml");
        }
        <!--end contract layer-->
        <!--start document layer-->
        @if (ViewBag.DocmanDocument != null)
        {
            foreach (var item in ViewBag.DocmanDocument)
            {
                if (Convert.ToInt16(item.tag) == 3 && Convert.ToInt32(item.document_id) == Convert.ToInt32(ViewBag.DocID))
                {
                    <table>
                        <tr><td></td><td colspan="3">-----------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
                        <tr>
                            <td width="20"></td>
                            <td width="120"><lable for="document"><b>Document:</b></lable></td>
                            <td width="420"><a href="@item.url" target="_new">@item.doc_label</a></td>
                            <td width="280">@item.document_date</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><lable for="main category"><b>Main Category:</b></lable></td>
                            <td colspan="2">
                                <!--start main category list-->
                                <select name="maincategorylist" id="main_categories" class="form-control" style="height:30px; width:600px;" onChange="select_main_category_list()">
                                    <option></option>
                                    @foreach (var mcat in ViewBag.MainCategories)
                        {
                                        <option value=@mcat.mcat_id>@mcat.mcat_name</option>
                                    }
                                </select>
                                <!--end main category list-->
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><lable for="sub category"><b>Sub Category:</b></lable></td>
                            <td colspan="2">
                                <!--start sub Category list-->
                                @for (var i = 1; i <= ViewBag.Mcat_total; i++)
                                {
                                    <div class="menu" id="ccat_list_@i" style="display:none">
                                        <select name="subcategories_@i" id="sub_categories_@i" class="form-control" style="height:30px; width:600px;" onChange="select_sub_category_list(this)">
                                            <option></option>
                                            @foreach (var ccat in ViewBag.SubCategories)
                                            {
                                                if (Convert.ToInt16(ccat.mcat_id) == i)
                                                {
                                                    <option value=@ccat.ccat_id>@ccat.ccat_name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><lable for="id"><b>ID:</b></lable></td>
                            <td><input type="text" id="txtID" class="form-control" style="height:30px; width:420px;" value="@item.seq_num" /></td>
                            <td>(Max 100 characters)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><lable for="document date"><b>Date:</b></lable></td>
                            <td><input type="text" id="txtDocDate" class="form-control" style="height:30px; width:120px;" value="@item.document_date" />&#0160;(mm/dd/yyyy)</td>
                            <td>
                                <button type="button" accesskey="M" class="btn btn-primary btn-sm" title="Click here to modify document index [shift + alt + M]" onclick="modify_index(@item.document_id)"><U>M</U>odify Index</button>
                            </td>
                        </tr>
                    </table>
                }
            }
        }<!--end document layer-->
    </div>
    <br />
    <a target="_self" href="@Url.Action("by_id", "Docman", new { econ_id = ViewBag.EconID})" title="Click to display documents">Return</a>
</div>
<br /><br /><br />



