@{
    ViewBag.Title = "DocMan [Document Contract]";
    Layout = "~/Shared/Views/_docman_header.cshtml";
}

<script language="JavaScript">
    var currenturl = window.document.location.href;

    $(document).ready(function () {
        set_default();
    });

    function set_default() {
        //if (document.frmGetInfo.Return_info.value !=''){
        //    alert(document.frmGetInfo.Return_info.value);
        //}

        if (document.getElementById("txtDeleteReason") != null){
            document.getElementById("txtDeleteReason").focus();
        }
    }

    function disable_doc(doc_id){
        if (document.getElementById("txtDeleteReason").value==''){
            alert("Please enter reason for Delete");
            document.getElementById("txtDeleteReason").focus();
            return false;
        }else var result=CheckCharacters(document.getElementById("txtDeleteReason").value, "Delete Reason");

        if (result=="false" || result== false){
            document.getElementById("txtDeleteReason").value="";
            document.getElementById("txtDeleteReason").focus();
            return false;
        }else   var reason=document.getElementById("txtDeleteReason").value;
                var url="Docman/To_DeleteDoc?act=to_disable&econ_id="+document.frmGetInfo.Econ_id.value+"&doc_id="+document.frmGetInfo.Doc_id.value+"&reason="+reason;

        if (confirm('Are you sure that you want to delete this document?') ){
            var url="@Url.Action("To_Disable", "Docman")?act=to_disable&econ_id="+document.frmGetInfo.Econ_id.value+"&doc_id="+document.frmGetInfo.Doc_id.value+" &reason="+reason;
            //alert(url);
            window.self.location = url;
        }
    }
</script>

<div id="main">
    <form name="frmGetInfo">
        <input type="hidden" id="hidEcon_id" name="Econ_id" value="@ViewBag.EconID" />
        <input type="hidden" id="hidDoc_id" name="Doc_id" value="@ViewBag.DocID" />
        <input type="hidden" id="hidReturn_info" name="Return_info" value="@ViewBag.ReturnInfo" />
    </form>
    <div id="caption">
        <b id="page_title">DocMan:Delete Document</b>
    </div>
    <br />
    <div id="modify" class="form-inline">
        @if (ViewBag.DocmanContract != null)
        {
            @Html.Partial("~/Docman/Views/_docman_Contract.cshtml");
        }

        <!--load documents-->
        @if (ViewBag.DocmanDocument != null)
        {
            foreach (var item in ViewBag.DocmanDocument)
            {

                if (Convert.ToInt16(item.tag) == 3 && Convert.ToInt32(item.document_id) == Convert.ToInt32(ViewBag.DocID))
                {
                    <table>
                        <tr><td></td><td colspan="3">-----------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
                        <tr>
                            <td width="20"></td>
                            <td width="80"><lable for="document"><b>Document:</b></lable></td>
                            <td width="460"><a href="@item.url" target="_new">@item.doc_label</a></td>
                            <td width="200">@item.document_date</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3"><lable for="reason for delete"><b>Reason to delete this document </b></lable>(Max 200 characters)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <textarea id="txtDeleteReason" name="DeleteReason" class="form-control" style="height:50px; width:600px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <button type="button" accesskey="E" class="btn btn-primary btn-sm" title="Click here to delete document [shift + alt + E]" onClick="disable_doc(@item.document_id);">D<u>e</u>lete Document</button>
                            </td>
                        </tr>
                    </table>
                }
            }
        }
    </div>
    <br />
    <a target="_self" href="@Url.Action("by_id", "Docman", new { econ_id = ViewBag.EconID})" title="Click to display documents">Return</a>
    <br /><br /><br /><br /><br />
</div>




