@{
    ViewBag.Title = "egrant [NCI Dashboard]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />@*for JavaScript Autocomlete *@
<link href="~/Content/dashboard.css" rel="stylesheet" type="text/css" />

<script src="~/scripts/Chart.min.js"></script>
<script src="~/scripts/jquery-ui-1.13.1.min.js"></script>@*for JavaScript Autocomlete *@


<script language="JavaScript">
    var currenturl = window.document.location.href;

    function set_focus() {
        document.getElementById("txtKW").focus();
        if ($('#AdminCode').val() != "") {
            $('#AdminCode').val();
        }
        else {
           $('#AdminCode').val('CA');
        }       
    }

    function create_new() {
        var previous_url = encodeURIComponent(currenturl);
        var url = "@Url.Action("doc_create_without_applid", "EgrantsDoc")?previous_url=" + previous_url;
        window.document.location.href = url;
    }

    function open_nav() {
        document.getElementById("mySidenav").style.display = "inline";
        document.getElementById("mySidenav").style.width = "300px";
        document.getElementById("mySidenav").style.height = "100%";
        document.getElementById("dashboardmain").style.marginLeft = "80px";
    }

    function close_nav() {
       //alert("close nav");
       document.getElementById("mySidenav").style.display = "none";
       document.getElementById("mySidenav").style.height = "0";
       document.getElementById("mySidenav").style.width = "0";
       document.getElementById("dashboardmain").style.marginLeft = "0";
    }

    function save_selection() {
       var idstr = "";
       var all_widgets = parseInt(document.frmGetInfo.TotalWidgets.value) + 1;

       for (var i = 1; i < all_widgets; i++) {
           var el = "checkbox_" + i;
           if (document.getElementById(el) != undefined) {
               if (document.getElementById(el).checked == true || document.getElementById(el).checked == 'true') {
                   idstr = idstr + document.getElementById(el).value + ','
               }
           } else continue;
       }
       idstr = idstr.substring(0, idstr.length - 1);
       if (currenturl.indexOf("Dashboard/") > 0) {
           url = "Save_Selection?act=set_assignment&idstr=" + idstr;
       } else url = "Dashboard/Save_Selection?act=set_assignment&idstr=" + idstr;
       //alert(url);
       window.document.location.href = url;
    }

    function open_reminder() {
       if (currenturl.indexOf("Reminder/") > 0) {
           url = "Reminder_Load";
       } else url = "Reminder/Reminder_Load";
       //alert(url);
       window.open(url, "reminder", "toolbar=0,menubar=0,location=0,status=0,width=500,height=700,scrollbars=yes,resizable=yes,left=100,top=100,right=100");
    }

    function help_me(object) {
       if (object == 'Expedited_Grants') {
           var notice = 'Grant(s) marked in GPMATS as an expedited grant.';
       }

       if (object == 'Late_Grants') {
           var notice = 'Grant(s) 45+ days after assignment (non-competing) and 60 days (competing).';
       }

       if (object == 'New_Grants') {
           var notice = 'Grant(s) assigned within the last 10 days.';
       }

       if (object == 'Competing_Grants') {
           var notice = 'Competing grant(s) that are near 60 day deadline.';
       }

       if (object == 'Non-Competing_Grants') {
           var notice = 'Non-competing grant(s) that are near 45 day deadline.';
       }

       if (object == 'widget_links') {
           var notice = 'widget links';
       }

       if (object == 'avg_time') {
           var notice = 'Average Time in days';
       }

       if (object == 'grants_status') {
           var notice = 'Display grants status';
       }

       if (object == 'audit_report') {
           var notice = 'Display egrants audit report';
       }

       alert(notice);
   }
</script>

<body onload="set_focus()">
    <form name="frmGetInfo">
        <input type="text" id="hidTotalWidgets" name="TotalWidgets" value="@ViewBag.TotalWidgets" hidden/>
    </form>

    <div id="maincontainer" class="container-fluid">
        <!--start container-->
        <div class="row">
            <!--start row-->
            <div id="maincol" class="col-lg-2">               
                <!--start col-2-->
                <div id="mySidenav" class="sidenav" style="display:none">
                    <!--start sidenav-->
                    <table>
                        <tbody>
                            <tr><td width="50"></td><td width="250"></td><td width="20"></td><td width="20"></td><td width="20"></td></tr>
                            <tr>
                                <td></td>
                                <td colspan="3" style=" vertical-align:top; text-align:right">
                                    <img width="14" height="14" border="0" hspace="2" src="~/Content/images/clear.jpg" title="close side nav" onClick="close_nav();" />
                                </td>
                                <td></td>
                            </tr>
                            <tr><td></td><td colspan="4">&#0160;&#0160;<h3>Select Widgets</h3></td></tr>
                            @foreach (var widget in ViewBag.Widgets)
                            {
                                <tr>
                                    <td></td>
                                    <td>@widget.widget_title</td>
                                    <td></td>
                                    <td alighn="left">
                                        @if (Convert.ToChar(widget.selected) == 'y')
                                        {
                                            <input type="checkbox" name="checkbox" id="checkbox_@widget.widget_id" value="@widget.widget_id" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="checkbox" id="checkbox_@widget.widget_id" value="@widget.widget_id" />
                                        }
                                    </td>
                                    <td></td>
                                </tr>
                            }
                            <tr><td colspan="5" height="15px"></td></tr>
                            <tr>
                                <td></td>
                                <td colspan="4">
                                    <input id="savewidget" type="button" value="Save Widget Selection" class="btn btn-primary" onclick="save_selection()" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--end sidenav-->           
            </div><!--end col-2-->

            <!--adde 4/3/2019 for return to the TOP functionality by Ayu-->
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> @*--AYu*@

            <!--start dashboardmain --> 
            <div class="col-lg-12">                                          
                <div id="dashboardmain">
                    <table width="900"><tr><td width="20"></td><td align="left"><a href="Javascript:open_nav()">Setting</a></td></tr></table>
                    <br/>  @*&#0160;|&#0160;<a href="Javascript:open_reminder()">Reminder</a>*@ 
                    @Html.Partial("~/Egrants/Views/_egrants_showSearchForm.cshtml")
                   
                    @if (ViewBag.SelectedWidgets == null)
                    {
                        <div>
                            <br /><br />
                            Please click on <a href="javaScript:open_nav()">Setting</a> and select widget(s) from widget list to display on your dashboard.<br />
                            <b>If you need help please  email to: </b> <a target="_new" href="mailto:egrantsissues@mail.nih.gov">egrantsissues@mail.nih.gov</a><br />
                        </div>
                    }
                    <br /><br />
                                             
                    <!--start selected assignment-->
                    @if (ViewBag.SelectedWidgets != null)
                    {
                        <table width="900">
                            <thead>
                                <tr>
                                    <td width="30%"></td>
                                    <td width="30%"></td>
                                    <td width="30%"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        @foreach (var SelectedWidgets in ViewBag.SelectedWidgets)
                                        {
                                            if (Convert.ToInt16(SelectedWidgets.order_id) == 1 || Convert.ToInt16(SelectedWidgets.order_id) == 4 || Convert.ToInt16(SelectedWidgets.order_id) == 7)
                                            {
                                                string template_name = "_" + Convert.ToString(SelectedWidgets.template_name);
                                                @Html.Partial("~/Dashboard/Views/" + template_name + ".cshtml");
                                            }
                                        }
                                    </td>
                                    <td valign="top">
                                        @foreach (var SelectedWidgets in ViewBag.SelectedWidgets)
                                        {
                                            if (Convert.ToInt16(SelectedWidgets.order_id) == 2 || Convert.ToInt16(SelectedWidgets.order_id) == 5 || Convert.ToInt16(SelectedWidgets.order_id) == 8)
                                            {
                                                string template_name = "_" + Convert.ToString(SelectedWidgets.template_name);
                                                @Html.Partial("~/Dashboard/Views/" + template_name + ".cshtml");
                                            }
                                        }
                                    </td>
                                    <td valign="top">
                                        @foreach (var SelectedWidgets in ViewBag.SelectedWidgets)
                                        {
                                            if (Convert.ToInt16(SelectedWidgets.order_id) == 3 || Convert.ToInt16(SelectedWidgets.order_id) == 6 || Convert.ToInt16(SelectedWidgets.order_id) == 9)
                                            {
                                                string template_name = "_" + Convert.ToString(SelectedWidgets.template_name);
                                                @Html.Partial("~/Dashboard/Views/" + template_name + ".cshtml");
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div><!--end dashboardmain-->
            </div> 
        </div><!--end row-->
    </div><!--end container-->

</body>



