<!--start display appls and documents-->
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/datetime-moment.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet"/>
<script src="~/scripts/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-icons.min.css">
<script src="~/scripts/fontawesome/fontawesome.min.js" data-auto-replace-svg="nest"></script>

<script src="~/scripts/fontawesome/solid.min.js"></script>
@* <script src="~/scripts/fontawesome/brands.min.js"></script> *@
<link href="~/Content/fontawesome/solid.min.css" rel="stylesheet"/>
@* <link href="~/Content/fontawesome/fontawesome.min.css" rel="stylesheet"> *@

<style>
   table.dataTable thead th {
      background: transparent !important;
      white-space: nowrap;
   }

   /* when a column is not activly sorted the */

   table.dataTable thead .sorting .bi-sort-down {
      display: none;
      color: black;
   }

   table.dataTable thead .sorting .bi-sort-up {
      display: none;
      color: black;
   }

   table.dataTable thead .sorting .bi-arrow-down-up {
      display: inline;
      color: #a9a9a9;
   }

   table.dataTable thead .sorting_asc .bi-sort-down {
      display: inline;
      color: black;
   }

   table.dataTable thead .sorting_desc .bi-sort-up {
      display: none;
      color: black;
   }

   table.dataTable thead .sorting_desc .bi-sort-down {
      display: none;
      color: black;
   }

   table.dataTable thead .sorting_desc .bi-sort-up {
      display: inline;
      color: black;
   }

   /* when the datatable column is in asc or des sort mode, hide the updown arrow */

   table.dataTable thead .sorting_asc .bi-arrow-down-up { display: none; }

   table.dataTable thead .sorting_desc .bi-arrow-down-up { display: none; }

   table.dataTable thead .sorting:before,
   table.dataTable thead .sorting_asc:before,
   table.dataTable thead .sorting_desc:before,
   table.dataTable thead .sorting_asc_disabled:before,
   table.dataTable thead .sorting_desc_disabled:before { content: "" !important; }

   table.dataTable thead .sorting:after,
   table.dataTable thead .sorting_asc:after,
   table.dataTable thead .sorting_desc:after,
   table.dataTable thead .sorting_asc_disabled:after,
   table.dataTable thead .sorting_desc_disabled:after { content: "" !important; }

   table.dataTable tbody tr.even-row {
      background-color: #ffffff;
      height: 30px;
   }

   table.dataTable tbody tr.odd-row {
      background-color: #AED6F1;
      height: 30px;
   }

   #overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 99999;
      background-color: white;
      /* filter: alpha( opacity=75 ); */
      opacity: 0.75;
      display: none;
   }

   .fa-file-lines { color: blue; }

   .fa-circle-check { color: green; }

   .fa-rotate { color: blueviolet }

   .fa-circle-exclamation { color: red; }
</style>

<script language="JavaScript" type="text/javascript">

   // This optional function html-encodes messages for display in the page.
   function htmlEncode(value) {
      var encodedValue = $('<div />').text(value).html();
      return encodedValue;
   }

   function show_doc(docurl) {
      var ImageServer = document.getElementById("hidImageServer").value;

      if (docurl.substring(0, 12) == "https://s2s.") {
         var url = "@Url.Action("show_era_doc", "EgrantsDoc")?docurl=" + docurl;
      } else if (docurl.substring(0, 5) == "/data") {
         var url = ImageServer + docurl.substring(1, docurl.length);
      } else if (docurl.substring(0, 5) == "data/") {
         var url = ImageServer + docurl;
      } else url = docurl;
      window.open(url);
   }

   function show_qc(document_id, type) {
      document_id = document_id.split("_")[2];
      // var el = document_id;
      if (type == 1) {
         if (document.getElementById("qc_checkbox_" + document_id)) {
            document.getElementById("qc_checkbox_" + document_id).style.display = "inline";
         }
         document.getElementById("show_qc_" + document_id).style.display = "none";
         document.getElementById("hide_qc_" + document_id).style.display = "inline";
      }
      if (type == 0) {
         if (document.getElementById("qc_checkbox_" + document_id)) {
            document.getElementById("qc_checkbox_" + document_id).style.display = "inline";
         }
         document.getElementById("show_qc_" + document_id).style.display = "inline";
         document.getElementById("hide_qc_" + document_id).style.display = "none";
      }
   }

//   function check_changed_header(applId) {
//      console.log(applId);
//   }


   // download documents in the appls
   function downloadDocs(doc, appl_id) {
      var previous_url = encodeURIComponent(currenturl);
      console.log(appl_id);
      //  var table = $('#loadgrid_' + appl_id).DataTable();
      var table = document.getElementById("loadgridDownload_" + appl_id);
      var tr = $('#loadgridDownload_' + appl_id).closest('tr');
      var row = table.row(tr);
      var data = row.data();
      console.log(data);
   }

//   //to upload document image
//   function upload_doc(document_id) {
//      var url = "@Url.Action("doc_upload_default", "EgrantsDoc")?doc_id=" + document_id;
//      window.self.location = url;
//   }
//
//   //to modify index for normal document
//   function update_doc(document_id) {
//      var current_url = encodeURIComponent(currenturl);
//      var url = "@Url.Action("doc_index_update_default", "EgrantsDoc")?document_id=" + document_id + "&previous_url=" + current_url;
//      window.document.location.href = url;
//   }
//
//   //modify index for Unidentified documents
//   function unidentified_update_doc(document_id, document_date, category_id) {
//      var url = "@Url.Action("unidentified_doc_modify", "EgrantsDoc")?document_id=" + document_id + "&category_id=" + category_id + "&document_date=" + document_date + "&current_url=" + currenturl;
//      window.document.location.href = url;
//   }
</script>
@{
   var appl_id = Model.ApplId;
   var fullGrantNumber = Model.FullGrantNumber;
   <div id="overlay">
      <img style="width: 150px; height: 150px; margin-left: 400px; margin-top: 150px;" src="~/Content/images/Loading.gif"/>
   </div>

   <div id="create new buttons" style="float: right; display: inline;">

      <button type="button" id="downloadData" accesskey="D" class="btn btn-sm btn-primary" style="background-color: #008b8b; font-size: medium; height: 35px; width: 150px;" title="Click here to download documents selected [shift + alt + O]"><u>D</u>ownload</button>
      @* @{ *@
      @*    <asp:LinkButton ID="lnkDownload" Text="Download" CommandArgument='<%# Eval("Value") %>' runat="server" OnClick="DownloadFile"></asp:LinkButton> *@
      @* } *@
   </div>
   <div id="data_table">
      <div class="container">
         <br/>
         <div style="width: 880px; float: left">
            <table id="loadgridDownload_@appl_id" class="" style="width: 100%">
               <thead>
               <tr>
                  <th>

                     <div id="qc_checkbox_all_@appl_id" style="display: inline;" class="ml-1">
                        @*class="hide_qc_all"*@
                        <input type="checkbox" title="Check All" class="showmodeall" id="checkboxall_@appl_id"/>
                        @*onchange="check_changed_header(@appl_id)"/>*@

                        @* <a class='hidemodeall' href='javascript:void(0);' title='hide all qc mode'> *@
                        @*    <img name='hide_qc_all' style="height: 30px;" src='~/Content/images/minus.png' /> *@
                        @* </a> *@
                     </div>
                  </th>
                  <th>
                     Document Name
                     @*bootstrap icons for sorting icons*@
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down ml-1" viewBox="0 0 16 16">
                        <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                     </svg>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up ml-1" viewBox="0 0 16 16">
                        <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                     </svg>
                     <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-down-up ml-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                     </svg>
                  </th>
                  <th>
                     Date
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down ml-1" viewBox="0 0 16 16">
                        <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                     </svg>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up ml-1" viewBox="0 0 16 16">
                        <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                     </svg>
                     <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-down-up ml-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                     </svg>
                  </th>
                  @* <th>Pages</th> *@
                  @* <th> *@
                  @*    @if (Convert.ToInt16(Session["position_id"]) >= 2) *@
                  @*    { *@
                  @*       <span>Upload</span> *@
                  @*    } *@
                  @* </th> *@


                  <th></th>
                  @* <th></th> *@
                  @* <th></th> *@
                  @* <th></th> *@


                  @* <th> *@
                  @*    @if (Convert.ToInt16(Session["position_id"]) >= 2) *@
                  @*    { *@
                  @*       <span>Update</span> *@
                  @*    } *@
                  @* </th> *@
                  @* <th>Report Error</th> *@
               </tr>
               </thead>
            </table>
         </div>
      </div>
      <script language="javascript" type="text/javascript">
         // start load document dat to data table
         $("#overlay").show();

         $(document).ready(function() {

            $.fn.dataTable.moment('MM/DD/YYYY');
            jQuery.extend(jQuery.fn.dataTableExt.oSort,
               {
                  'dateNonStandard-asc': function(a, b) {
                     var x = Date.parse(a);
                     var y = Date.parse(b);
                     if (x == y) {
                        return 0;
                     }
                     if (isNaN(x) || x < y) {
                        return 1;
                     }
                     if (isNaN(y) || x > y) {
                        return -1;
                     }
                  },
                  'dateNonStandard-desc': function(a, b) {
                     var x = Date.parse(a);
                     var y = Date.parse(b);
                     if (x == y) {
                        return 0;
                     }
                     if (isNaN(y) || x < y) {
                        return -1;
                     }
                     if (isNaN(x) || x > y) {
                        return 1;
                     }
                  }
               });
            var table = $("#loadgridDownload_" + @appl_id).DataTable({
               "paging": false, // for reinitialize
               "searching": false, // for reinitialize
               "ordering": true,
               "order": [[2, 'asc']], // desc
               "processing": true, // for show progress bar
               "serverSide": false, // for process server side
               "filter": true, // this is for disable filter (search box)
               "orderMulti": false, // for disable multiple column at once
               "bInfo": false,
               "initComplete": function(settings, json) {
                  //var info = this.api().page.info();
                  //console.log(info);
                  //console.log(this.api());
                  //console.log("Settings:" + JSON.stringify(settings));
                  //console.log("Json: " + JSON.stringify(json));
//                  console.log("Grant: " + ViewBag.);
                  var api = this.api();
                  console.log(this.api());
                  //api.$('#loadgrid_' + @appl_id).click(function () {
//                  api.$('.showmode').click(function () {
//
//                     console.log("Tablerow clicky: " + this.innerHTML);
//
//                     var isAllChecked = true;
//
//                     $.each($('#loadgrid_' + @appl_id + ' input.showmode'),
//                        function () {
//                           if (!$(this).prop('disabled') && !$(this).prop('checked')) {
//                              isAllChecked = false;
//                           }
//                        });
//
//                     if (isAllChecked) {
//                        $('#checkboxall_' + @appl_id).prop('checked', true);
//                     } else {
//                        $('#checkboxall_' + @appl_id).prop('checked', false);
//                     }
//                  });
                  //api.$('#loadgrid_' + @appl_id + ' input.showmode').click(function () {
                  //        api.$('#loadgrid_' + @appl_id).click(function () {
                  //         if ($(this).attr('disabled') == "disabled" ) {
                  //           return false;
                  //       }
                  //       console.log("test");
//                     var tr = $(this).closest('tr');
//                     console.log("tr: " + tr);
//                     var row = table.row(tr);
//
//
//                     var data = row.data();
//
//                     // console.log(data);
//
//                     row.child(format(data)).show();
//                     tr.next('tr').addClass(tr.attr('class'));


                  //   });

                  // add the lower row showing the created by info
                  $.each($('#loadgridDownload_' + @appl_id + ' input.showmode'),
                     function() {
                        if ($(this).attr('disabled') == "disabled") {
                           return false;
                        }

                        var tr = $(this).closest('tr');
                        console.log("tr: " + tr);
                        var row = table.row(tr);


                        var data = row.data();

                        // console.log(data);

                        row.child(format(data)).show();
                        tr.next('tr').addClass(tr.attr('class'));
                     });


                  //  $.each(api.$('tr' + @appl_id + ' input.showmode'),
//                  api.$('#41407254').click(function () {
                  //api.$('.showmode').click(function () {
//                  api.$('.showmode')( function() {
//                     console.log("Hello");
//                  })
                  //    console.log("Checkbox clicky: " + this.checked);
                  //api.search(this.innerHTML).draw();
                  //  });


                  // if (info.recordsTotal > 1) $('#show_qc_all_' + @appl_id).show();
               },

               "ajax": {
                  "url": "/Egrants/LoadDocsGrid?appl_id=" + @appl_id + "&search_type=@Convert.ToString(ViewBag.SearchStyle)" + "&category_list=@Convert.ToString(ViewBag.SelectedCats)",
                  "type": "GET",
                  "datatype": "json"
               },
               "stripeClasses": ['odd-row', 'even-row'],
               "columnDefs": [
                  { "width": "75%", "targets": 1 },
                  { "width": "5%", "targets": 0 },
                  { "width": "5%", "targets": 3 },
                  {
                     "targets": [0],
                     "orderable": false
                  },
                  {
                     "visible": true,
                     "searching": false,
                     "paging": false
                  },
                  {
                     "className": "text-center",
                     "targets": [3]
                  },
                  {
                     "type": 'dateNonStandard',
                     targets: [2]
                  }
               ],
               "columns": [
                  {
                     "className": "details-control",
                     // show qc icon and checkbox
                     "render": function(data, type, full, meta) {

                        return "<div id=\"qc_checkbox_" +
                           full.document_id +
                           "\"" +
                           " name=\"qc_checkbox\" class=\"show_qc ml-1\" style=\"display:inline;vertical-align:middle;\"> " +
                           " <input type=\"checkbox\" class=\"showmode\" id=\"" +
                           full.document_id +
                           "\"" +
                           " class=\"qc\" name=\"qc\" value=\"" +
                           full.document_id +
                           "\"" +
                           " title=\"Check here to select this document for download\" " +
                           ((full.url.substring(0, 11) == "https://i2e" ? "disabled" : "enabled")) +
                           "/></div>";
                     }
                  },
                  {
                     // show document_name with url
                     "render": function(data, type, full, meta) {
                        if (full.frc_destroyed == 0) {
                           if (full.fsr_count > 1 && (full.document_name == "FFR" || full.document_name == "Financial Report")) {
                              var str = "<a href=JavaScript:show_doc('" +
                                 full.url +
                                 "') title='show document'>" +
                                 full.document_name +
                                 "</a>" +
                                 "<a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='fsr' data-assigned-id=" +
                                 full.appl_id +
                                 " title='Display all financial reports'>All FFR</a>";


                              return str;
                           } else if (full.attachment_count > 0) {
                              var str = "<a href=JavaScript:show_doc('" +
                                 full.url +
                                 "') title='show document'>" +
                                 full.document_name +
                                 "</a>" +
                                 "<a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='attachments' data-assigned-id=" +
                                 full.document_id +
                                 " title='Display all attachments'>Attachments</a>";

                              return str;

                           } else if (full.document_name == "Closeout Notification") {
                              var str = "<a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='closeout' data-assigned-id=" + full.appl_id + " title='Display Closeout Notification'>" + full.document_name + "</a>";

                              return str;

                           } else {


                              var str = "<a href=JavaScript:show_doc(\"" + full.url + "\") title=\"show document\">" + full.document_name + "</a>";

                              //   console.log(full);
                              //str = str +
//                              str = str + formatDetails(full);
                              // str = str + "<div> </div>";

                              return str;
                           }
                        } else return "<strike>" + full.document_name + "</strike>";
                     }


                  },
                  {
                     "data": "doc_date",
                     render: function(data, type, full, meta) {
                        if (full.document_date == "") {
                           return '';
                        } else {
                           return moment(data).format('MM/DD/YYYY');
                        }
                     },
                     "autoWidth": true
                  },
//                  {
//                      "data": "page_count", "autoWidth": true
//                  },
                  {
                     // replace document image
                     "render": function(data, type, full, meta) {
                        var str = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-emoji-heart-eyes text-success\" viewBox=\"0 0 16 16\">" +
                           "<path d=\"M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"/>" +
                           "<path d=\"M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z\"/></svg>";

//                        var redblink = "<i data-fa-i2svg>" +
//                           "<svg class=\"svg-inline--fa fa-camera fa-w-16\" aria-hidden=\"true\" data-prefix=\"fa-solid\" data-icon=\"camera\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" data-fa-i2svg=\"\">"
//                           + "<path fill=\"currentColor\" d=\"M188.12 210.74L142.86 256l45.25 45.25L233.37 256l-45.25-45.26zm113.13-22.62L256 142.86l-45.25 45.25L256 233.37l45.25-45.25zm-90.5 135.76L256 369.14l45.26-45.26L256 278.63l-45.25 45.25zM256 0C114.62 0 0 114.62 0 256s114.62 256 256 256 256-114.62 256-256S397.38 0 256 0zm186.68 295.6l-11.31 11.31c-3.12 3.12-8.19 3.12-11.31 0l-28.29-28.29-45.25 45.25 33.94 33.94 16.97-16.97c3.12-3.12 8.19-3.12 11.31 0l11.31 11.31c3.12 3.12 3.12 8.19 0 11.31l-16.97 16.97 16.97 16.97c3.12 3.12 3.12 8.19 0 11.31l-11.31 11.31c-3.12 3.12-8.19 3.12-11.31 0l-16.97-16.97-16.97 16.97c-3.12 3.12-8.19 3.12-11.31 0l-11.31-11.31c-3.12-3.12-3.12-8.19 0-11.31l16.97-16.97-33.94-33.94-45.26 45.26 28.29 28.29c3.12 3.12 3.12 8.19 0 11.31l-11.31 11.31c-3.12 3.12-8.19 3.12-11.31 0L256 414.39l-28.29 28.29c-3.12 3.12-8.19 3.12-11.31 0l-11.31-11.31c-3.12-3.12-3.12-8.19 0-11.31l28.29-28.29-45.25-45.26-33.94 33.94 16.97 16.97c3.12 3.12 3.12 8.19 0 11.31l-11.31 11.31c-3.12 3.12-8.19 3.12-11.31 0l-16.97-16.97-16.97 16.97c-3.12 3.12-8.19 3.12-11.31 0l-11.31-11.31c-3.12-3.12-3.12-8.19 0-11.31l16.97-16.97-16.97-16.97c-3.12-3.12-3.12-8.19 0-11.31l11.31-11.31c3.12-3.12 8.19-3.12 11.31 0l16.97 16.97 33.94-33.94-45.25-45.25-28.29 28.29c-3.12 3.12-8.19 3.12-11.31 0L69.32 295.6c-3.12-3.12-3.12-8.19 0-11.31L97.61 256l-28.29-28.29c-3.12-3.12-3.12-8.19 0-11.31l11.31-11.31c3.12-3.12 8.19-3.12 11.31 0l28.29 28.29 45.25-45.26-33.94-33.94-16.97 16.97c-3.12 3.12-8.19 3.12-11.31 0l-11.31-11.31c-3.12-3.12-3.12-8.19 0-11.31l16.97-16.97-16.97-16.97c-3.12-3.12-3.12-8.19 0-11.31l11.31-11.31c3.12-3.12 8.19-3.12 11.31 0l16.97 16.97 16.97-16.97c3.12-3.12 8.19-3.12 11.31 0l11.31 11.31c3.12 3.12 3.12 8.19 0 11.31l-16.97 16.97 33.94 33.94 45.26-45.25-28.29-28.29c-3.12-3.12-3.12-8.19 0-11.31l11.31-11.31c3.12-3.12 8.19-3.12 11.31 0L256 97.61l28.29-28.29c3.12-3.12 8.19-3.12 11.31 0l11.31 11.31c3.12 3.12 3.12 8.19 0 11.31l-28.29 28.29 45.26 45.25 33.94-33.94-16.97-16.97c-3.12-3.12-3.12-8.19 0-11.31l11.31-11.31c3.12-3.12 8.19-3.12 11.31 0l16.97 16.97 16.97-16.97c3.12-3.12 8.19-3.12 11.31 0l11.31 11.31c3.12 3.12 3.12 8.19 0 11.31l-16.97 16.97 16.97 16.97c3.12 3.12 3.12 8.19 0 11.31l-11.31 11.31c-3.12 3.12-8.19 3.12-11.31 0l-16.97-16.97-33.94 33.94 45.25 45.26 28.29-28.29c3.12-3.12 8.19-3.12 11.31 0l11.31 11.31c3.12 3.12 3.12 8.19 0 11.31L414.39 256l28.29 28.28a8.015 8.015 0 0 1 0 11.32zM278.63 256l45.26 45.25L369.14 256l-45.25-45.26L278.63 256z\">"
//                           + "</path>" + "</svg>" + "</i>";
                        var spinit = "<i class=\"fa fa-file-lines\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"\"></i>";
                        //  <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
                        // var spinit = "<i class=\"bi bi-file-earmark\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"Select row to download\"></i>";
//                        var spinit = "<div class=\"fa=1x\"><i  class=\"fa fa-file text-secondary\"></i></div>";
//                        var spinit = "<div class=\"fa-1x\">"
//                          + "<i class=\"fa fa-sync fa-spin\"></i>"
////                           + "<i class=\"fa-solid fa-circle-notch fa-spin\"></i>"
////                           + "<i class=\"fa-solid fa-cog fa-spin\"></i>"
////                           + "<i class=\"fa-solid fa-cog fa-spin fa-spin-reverse\"></i>"
////                           + "<i class=\"fa-solid fa-spinner fa-spin-pulse\"></i>"
////                           + "<i class=\"fa-solid fa-spinner fa-spin-pulse fa-spin-reverse\"></i>"
//                           + "</div>";

                        return spinit;
                        // <svg class="bi bi-exclamation-triangle text-success" width="32" height="32" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        // ...
                        // </svg>
//                        if (document.getElementById("hidPositionID").value >= 2 && full.can_upload == "y" && full.frc_destroyed == 0) {
//                           return "<a href='JavaScript:upload_doc(" + full.document_id + ")' title='Replace Document'><img class='img_14_14' src='../Content/images/upl.png' /></a>";
//                        } else return "";
                     }
                  },


//                  {
//                     // replace document image
//                     "render": function(data, type, full, meta) {
//                        if (document.getElementById("hidPositionID").value >= 2 && full.can_upload == "y" && full.frc_destroyed == 0) {
//                           return "<a href='JavaScript:upload_doc(" + full.document_id + ")' title='Replace Document'><img class='img_14_14' src='../Content/images/upl.png' /></a>";
//                        } else return "";
//                     }
//                  },
//                  {
//                     // update document index
//                     "render": function(data, type, full, meta) {
//                        if (document.getElementById("hidPositionID").value >= 2 && full.can_modify_index == "y" && full.frc_destroyed == 0) {
//                           return "<a href='JavaScript:update_doc(" + full.document_id + ")' title='Update Document'><img class='img_16_16' src='../Content/images/Update File.png'/></a>";
//                        } else return "";
//                     }
//                  },
//                  {
//                     // report document error
//                     "render": function(data, type, full, meta) {
//                        if (full.can_qc == "y" && full.frc_destroyed == 0) {
//                           return "<a href='#' class='NormalModal' data-toggle='modal' data-target='#NormalModal' data-id='error' data-assigned-id='" + full.document_id + "' title='Report problem with document'><img class='img_16_16' src='../../Content/images/Report Doc Error.png'/></a>";
//                        } else return "";
//                     }
//                  }
               ]
            });

//            document.addEventListener('DOMContentLoaded', function () {
//               $('button').on('click', function () {
//                  $(this)
//                     .find('[data-fa-i2svg]')
//                     .toggleClass('fa-angle-down')
//                     .toggleClass('fa-angle-right');
//               });
//            });
//            $(function() {
//               $('[data-toggle="popover"]').popover();
//            });

            // when a user checks the checkbox in the header all row checkboxs are checked
            $('#loadgridDownload_' + @appl_id + ' thead').on('click',
               'input.showmodeall',
               function() {
                  var isAllChecked = $(this).prop('checked');
                  $.each($('#loadgridDownload_' + @appl_id + ' input.showmode'),
                     function() {
                        console.log(isAllChecked);
                        var tr = $(this).closest('tr');
                        var trSvg = tr.find('[data-fa-i2svg]');
                        // skip the item if it is disabled
                        if (!$(this).prop('disabled')) {
                           // check the box if all should be checked or uncheck if all should be unchecked
                           if (isAllChecked) {

                              $(this).prop('checked', true);

//                           console.log(trSvg.attr("class"));

                              //if (trSvg.attr("class") === "fa-file-lines" || trSvg.attr("class") == null)
                              //{
//                              trSvg
//                                 .toggleClass('fa-file-lines')
//                                 .toggleClass('fa-file');

                              //trVsg.attr("style", )
//                              trSvg.attr("title", "Ready for Download...");
                              //}
//                           if (trSvg.attr("class") === "fa-file-lines")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file-lines')
//                                 .toggleClass('fa-file-lines');
//
//                              //trVsg.attr("style", )
//                              trSvg.attr("title", "Ready for Download...");
//                           }
//                           if (trSvg.attr("class") === "text-success")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file-lines text-warning')
//                                 .toggleClass('fa-circle-check text-success');
//
//                              trSvg.attr("title", "Ready for Download...");
//                           }
//                           if (trSvg.attr("class") === "text-danger")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file-lines text-warning')
//                                 .toggleClass('fa-circle-exclamation text-danger');
//
//                              trSvg.attr("title", "Ready for Download...");
//                           }
                           } else {
                              $(this).prop('checked', false);

                              //if (trSvg.attr("class") === "fa-file-lines fa-file")
                              // {
//                              trSvg
//                                 .toggleClass('fa-file')
//                                 .toggleClass('fa-file-lines');

//                              trSvg.attr("title", "Select row to download");
                              //   }
//                           if (trSvg.attr("class") === "fa-file-lines text-warning")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file text-secondary')
//                                 .toggleClass('fa-file-lines text-warning');
//
//                              //trVsg.attr("style", )
//                              trSvg.attr("title", "Ready for Download...");
//                           }
//                           if (trSvg.attr("class") === "text-success")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file text-secondary')
//                                 .toggleClass('fa-circle-check text-success');
//
//                              trSvg.attr("title", "Select row to download");
//                           }
//                           if (trSvg.attr("class") === "text-danger")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file text-secondary')
//                                 .toggleClass('fa-circle-exclamation text-danger');
//
//                              trSvg.attr("title", "Select row to download");
//                           }
                           }
                           console.log(trSvg.attr("class"));
                        }
                     });
               });

            // when the user clicks on a row's checkbox
            $('#loadgridDownload_' + @appl_id + ' tbody').on('click',
               'input.showmode',
               function() {
                  // assume all are checked
                  var isAllChecked = true;

                  // if anyone is not checked set the flag to false
                  $.each($('#loadgridDownload_' + @appl_id + ' input.showmode'),
                     function() {
//                        var tr = $(this).closest('tr');
//                        var trSvg = tr.find('[data-fa-i2svg]');
//
                        if (!$(this).prop('disabled') && !$(this).prop('checked')) {
                           isAllChecked = false;
                        }
//
//                        if ($(this).prop('checked')) {
//                           console.log(trSvg.attr("class"));
//                           console.log("Checked");
//                           if (trSvg.attr("class") === "text-secondary")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file-lines')
//                                 .toggleClass('fa-file');
//
//                              trSvg.attr("title", "Ready for Download...");
//                           }
//                           if (trSvg.attr("class") === "text-success")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file-lines text-warning')
//                                 .toggleClass('fa-circle-check text-success');
//
//                              trSvg.attr("title", "Ready for Download...");
//                           }
//                           if (trSvg.attr("class") === "text-danger")
//                           {
//                              trSvg
//                                 .toggleClass('fa-file-lines text-warning')
//                                 .toggleClass('fa-circle-exclamation text-danger');
//
//                              trSvg.attr("title", "Ready for Download...");
//                              }
//                        }
//                        else {
//                           console.log("Not Checked");
//                           if (trSvg.attr("class") === "text-warning") {
//                              trSvg
//                                 .toggleClass('fa-file')
//                                 .toggleClass('fa-file-lines');
//
//                              trSvg.attr("title", "Select row to download");
//                           }
//                           if (trSvg.attr("class") === "text-success") {
//                              trSvg
//                                 .toggleClass('fa-file text-secondary')
//                                 .toggleClass('fa-circle-check text-success');
//
//                              trSvg.attr("title", "Select row to download");
//                           }
//                           if (trSvg.attr("class") === "text-danger") {
//                              trSvg
//                                 .toggleClass('fa-file text-secondary')
//                                 .toggleClass('fa-circle-exclamation text-danger');
//
//                              trSvg.attr("title", "Select row to download");
//                           }
//                        }
//                        console.log(trSvg.attr("class"));
                     });

                  // if all checkboxes are checked, check the header checkbox
                  if (isAllChecked) {
                     $('#checkboxall_' + @appl_id).prop('checked', true);
                  } else {
                     $('#checkboxall_' + @appl_id).prop('checked', false);
                  }
               });

            // when the user clicks the download button get all the rows that are checked
            $('#downloadData').on('click',
               function() {
                  // create an object of appl_id and list of urls to send to save method
                  var dataToSend = {};
                  dataToSend.appl = @appl_id;
                  dataToSend.fullGrantNumber = "@fullGrantNumber";


                  var list = new Array();
                  // loop through each datatable row and add the checked items to a list
                  $.each($('#loadgridDownload_' + @appl_id + ' input.showmode'),
                     function() {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);
                        var data = row.data();

                        var trSvg = tr.find('[data-fa-i2svg]');

                        console.log(data);
                        // if the row is checked add the url to the list of data
                        if ($(this).prop('checked')) {
                           // dataToSend.catagoeryName = data.category_name;
                           //dataToSend.subCategoryName = data.sub_category_name;
                           list.push(data.url + "|" + data.category_name + "|" + data.sub_category_name + "|" + data.document_id + "|" + moment(data.document_date).format('MM/DD/YYYY'));

                           if (trSvg.attr("class") === "fa-circle-check") {
                              trSvg
                                 .toggleClass('fa-circle-check');
                           }

                           if (trSvg.attr("class") === "fa-circle-exclamation") {
                              trSvg
                                 .toggleClass('fa-circle-exclamation');
                           }

                           if (trSvg.attr("class") === "fa-file-lines") {
                              trSvg
                                 .toggleClass('fa-file-lines');
                           }

                           trSvg
                              .toggleClass('fa-solid fa-rotate fa-spin');
                           trSvg.attr("title", "Downloading...");
                        }
                     });

                  dataToSend.listOfUrl = list;

                  console.log("Data To C# = " + JSON.stringify(list));

                  // post the data to the server
                  $.ajax(
                     {
                        cache: false,
                        async: true,
                        type: 'POST',
                        dataType: 'JSON',
                        contentType: 'application/json; charset=utf=8',
                        url: "/Egrants/IsDownloadForm",
                        data: JSON.stringify(dataToSend),
                        success: function(data) {
                           console.log("SUCCESS: ");
                           console.log(JSON.stringify(data));

                           $.each($('#loadgridDownload_' + @appl_id + ' input.showmode'),
                              function() {
                                 var tr = $(this).closest('tr');
                                 var row = table.row(tr);
                                 console.log("row: ");
                                 console.log(row);

                                 var rowData = row.data();

                                 console.log("RowData:" + JSON.stringify(rowData));

                                 // if the row is checked add the url of the link is the same as one found in the object,
                                 // check the error flag to see if there is an error and show the success or error icon
                                 if ($(this).prop('checked')) {
                                    var found = data.DownloadDataList.filter(function(item) { return item.Url === rowData.url; });

                                    if (found != null) {
                                       var trSvg = tr.find('[data-fa-i2svg]');
                                       console.log("Found: ");
                                       console.log(JSON.stringify(found));
                                       console.log(found[0].Error);
                                       if (found[0].Error == null) {
                                          trSvg
                                             .toggleClass('fa-circle-check')
                                             .toggleClass('fa-solid fa-rotate fa-spin');

                                          trSvg.attr("title", "File Download Successful!");
                                       } else {
                                          trSvg
                                             .toggleClass('fa-circle-exclamation')
                                             .toggleClass('fa-solid fa-rotate fa-spin');

                                          trSvg.attr("title", found[0].Error);
                                       }
                                    } else {
//                                          trSvg
//                                          .toggleClass('fa-angle-down')
//                                          .toggleClass('fa-angle-right');
                                       alert("A matching row was never found!");

                                    }
                                 }
                              });
                           //  data.downloadModel.handle;
                           //console.log(data.FileGuid);
                           //console.log(data.FileName);
                           //var response = JSON.parse(data);

                           //console.log(response.FileGuid);
                           // console.log(response.FileName);
                           window.location = '/Egrants/Download?fileGuid=' + data.Handle + '&filename=' + data.ZipFilename;
                        },
                        error: function(resp) {
                           console.log("ERROR: " + resp);
                        }
                     });
               });


            // show bootstrap modal
            $('#loadgridDownload_' + @appl_id + ' tbody').on('click',
               'a.NormalModal',
               function() {
                  console.log("Firing JS MethodA");
                  var act = $(this).data('id');
                  // show all FFRs or closeout notification for this appl
                  if (act == "fsr" || act == "closeout") {
                     var appl_id = $(this).data('assigned-id');
                     var route = '@Url.Action("impac_docs", "EgrantsDoc")?act=' + act + '&appl_id=' + appl_id;

                     if (act == "closeout") {
                        modal_title = "Closeout Notifications";
                     } else modal_title = "Show All FFR(s)";
                  }

                  $('#NormalModalTitle').html(modal_title);
                  $('#NormalModalPartial').load(route);
               });

         });

         /* Formatting function for row details   margin-left:65px;*/
         function format(d) {
            var str = '<div>'; // cellpadding="0" style="border-style:none!important; word-wrap:break-all; border=none; border-collapse:collapse; white-space:normal; width:840px; float:right; display:inline;">';
            str = str + 'Created On ' + d.created_date + ' by ' + d.created_by;

            if (d.file_modified_by != "") {
               str = str + '; Document uploaded On ' + d.file_modified_date;
               str = str + ' by ' + d.file_modified_by;
            }

            if (d.modified_by != "") {
               str = str + '; Updated On ' + d.modified_date;
               str = str + ' by ' + d.modified_by;
            }

            if (d.problem_msg != "" && d.qc_date != "") {
               str = str + '; Error Reported by ' + d.problem_reported_by;
               str = str + ':<b id="error">' + d.problem_msg + '</b>';
            }

            str = str + '</div>';
            // display all qc options
            return '<div id=' + d.document_id + ' name="qc_options" class="qc_options" style="display:inline; float:left; width:880px;"><div class="processing" id="' + "process_" + d.document_id + '" style="width:40px; display:none; float:left;"><img style="width:30px; height:30px; margin-left:5px;" src="../Content/images/Loading.gif"/></div>' + str + '</div>';
         }

         window.onload = function() {
            $("#overlay").hide();
         };
      </script>
   </div>


}
<!--end show documents-->