@{
    ViewBag.Title = "eGrants [IMPAC Documents]";
}

<script language="JavaScript" type="text/javascript">

    function show_doc(docurl) {
        if (docurl.substring(0,12) == "https://s2s."){
            var url = "@Url.Action("show_era_doc", "EgrantsDoc")?docurl=" + docurl;
        }
        else
        {
        var url = docurl;
        }
        window.open(url);
    }

    function show_notification(appl, notif_name) {       
        var url_closeout = "@Url.Action("closeout_notif", "EgrantsDoc")?applid=" + appl + "&notifName=" + notif_name;
        window.open(url_closeout);
        //window.document.location.href = url_closeout;
        //window.close();
    }
</script>

<div id="main">
    @if (ViewBag.ImpacDocs.Count > 0)
    {
        if (ViewBag.act == "fsr")
        {
            foreach (var item1 in ViewBag.ImpacDocs)
            {
                if (Convert.ToInt16(item1.tag) == 1)
                {
                    <b>For: @item1.full_grant_num</b><br /><br />
                    }
            }

            foreach (var item2 in ViewBag.ImpacDocs)
            {
                if (Convert.ToInt16(item2.tag) == 2)
                {
                    <a href="javascript:show_doc('@item2.url')" title="To show documents">Financial Report</a><I>(@item2.accepted_date)</I><br />
                }
            }
            <br />
            foreach (var item3 in ViewBag.ImpacDocs)
            {
                if (Convert.ToInt16(item3.tag) == 3)
                {
                    <a href="javascript:show_notification('@ViewBag.appl_id','@item3.category_name')" title="Display FFR REJECTION Report">FFR_REJECTION</a><I>(@item3.created_date)</I><br />
                }
            }
        }

        if (ViewBag.act == "closeout")
        {
            foreach (var item in ViewBag.ImpacDocs)
            {
                if (Convert.ToInt16(item.tag) == 1)
                {
                    <b>For: @item.full_grant_num</b><br /><br />
                }
                else
                {
                    <a href="JavaScript:show_notification('@ViewBag.appl_id', '@item.category_name')" title="Display Closeout Notification">@item.category_name</a><I>(@item.created_date)</I><br />
                }
            }
        }
    }
</div>
