@{
    ViewBag.Title = "egrants [Supplement Workflow]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<script language="JavaScript">
    var currenturl = window.document.location.href;

    $(document).ready(function () {
        set_default();
    });

    function set_default() {
        if (document.getElementById("hidReturnNotice").value != '') {
                alert(document.getElementById("hidReturnNotice").value);
            }

            if (document.getElementById("hidACT").value == 'show_email_rule') {
                document.getElementById("edit_wf").style.display = "inline";
            }
        }

    function hide_all() {
            if (document.getElementById("View_EmailRule")) {
                document.getElementById("View_EmailRule").style.display = "none";
            }

            if (document.getElementById("Add_EmailRule")) {
                  document.getElementById("Add_EmailRule").style.display = "none";
            }

            if (document.getElementById("Edit_EmailRule")){
                document.getElementById("Edit_EmailRule").style.display = "none";
            }
    }

    function hide_clone() {
            if (document.getElementById("clone")) {
                document.getElementById("clone").style.display = "none";
            }
    }

    function email_rule_act(act) {
            //action for eamil rules
            if (act == "add") {
                hide_all();
                hide_clone();
                document.getElementById("Add_EmailRule").style.display = "inline";
                document.getElementById("edit_wf").style.display = "none";
            }

            if (act == "edit") {
                hide_all();
                hide_clone();
                document.getElementById("Edit_EmailRule").style.display = "inline";
            }

            if (act == 'show_pa') {
                if (document.getElementById("ddlPAList").selectedIndex == 0) {
                    var url="@Url.Action("Load_Workflow", "Supplement")?area=Egrants_Admin";
                }

                if (document.getElementById("ddlPAList").selectedIndex != 0) {
                    var pa = document.getElementById("ddlPAList").options[document.getElementById("ddlPAList").selectedIndex].value;
                    var url="@Url.Action("Show_Email_Rule", "Supplement")?act=show_email_rule&pa=" + pa;
                }
                //alert(url);
                window.document.location.href = url;
            }

            if (act == "cancel") {
                hide_all();
                document.getElementById("add_wf").style.display = "inline";
                document.getElementById("edit_wf").style.display = "inline";
                document.getElementById("View_EmailRule").style.display = "inline";
            }

            if (act == "delete") {
                if (confirm('Are you sure that you want to delete ' + document.getElementById("hidPA").value + ' current workflow?')) {
                    var url = "@Url.Action("Access_Email_Rule", "Supplement")?act=delete_email_rule&pa=" + document.getElementById("hidPA").value + "&detail=&name=&subject=&id=0";
                    window.document.location.href = url;
                }
            }

            if (act == "create" || act == "save") {

                var el = "txtPA" + act;
                if (document.getElementById(el).value == '') {
                    alert("Please insert PA");
                    document.getElementById(el).focus();
                    return false
                } else var pa = document.getElementById(el).value;

                var el = "txtTO" + act;
                if (document.getElementById(el).value=='') {
                    alert("Please insert Email to");
                    document.getElementById(el).focus();
                    return false
                } else var to = document.getElementById(el).value;

                var el = "txtCC" + act;
                if (document.getElementById(el).value != '') {
                    var cc = document.getElementById(el).value;
                } else var cc = "";

                var el = "ddlID" + act;
                if (document.getElementById(el).selectedIndex == 0) {
                    alert("Please select email template name");
                    return false;
                } else var tampleid = document.getElementById(el).options[document.getElementById(el).selectedIndex].value;

                if (pa !='' && to !='' && tampleid !=''){
                    if (confirm('Are you sure that you want to ' + act + ' this workflow?')) {
                        var url="@Url.Action("Access_Email_Rule", "Supplement")?act=" + act + "_email_rule&id=" + tampleid + "&subject=" + to + "&name=" + cc + "&pa=" + pa + "&detail=";
                        window.document.location.href = url;
                   }
                }
            }

            if (act == "to_clone") {
                if (document.getElementById("clone").style.display == 'none') {
                    document.getElementById("clone").style.display = "inline";
                    document.getElementById("txtClone").focus();
                } else document.getElementById("clone").style.display = "none";
            }

            if (act == "clone") {
                if (document.getElementById("txtClone").value==''){
                    alert("Please insert PA to clone");
                    document.getElementById("txtClone").focus();
                    return false;
                } else var clonepa = document.getElementById("txtClone").value;

                if (confirm('Are you sure that you want to clone '+ document.getElementById("hidPA").value + ' to '+ clonepa + '?')) {
                    var url="@Url.Action("Access_Email_Rule", "Supplement")?act=clone_email_rule&pa=" + document.getElementById("hidPA").value + "&name=" + clonepa + "&detail=&subject=&id=0";
                    window.document.location.href = url;
                }
            }
        }
</script>

<div id="main">
    <!--start main-->
    <form name="frmGetInfo">
        <input type="text" hidden id="hidPA" name="pa" value="@ViewBag.PA" />
        <input type="text" hidden id="hidACT" name="act" value="@ViewBag.ACT" />
        <input type="text" hidden id="hidReturnNotice" name="ReturnNotice" value="@ViewBag.ReturnNotice" />
    </form>
    <div>
        @Html.Partial("~/Egrants_Admin/Views/_AdminMenuIndex.cshtml")
    </div>
    <div id="caption">
        <b id="page_title">Admin Supplement</b><br />
        @Html.ActionLink("eRA Notification", "Index", "Supplement", new { area = "Egrants_Admin" }, null) |
        @Html.ActionLink("Email Template", "Load_Email_Template", "Supplement", new { area = "Egrants_Admin" }, null) |
        @Html.ActionLink("Workflow", "Load_Workflow", "Supplement", new { area = "Egrants_Admin" }, null)
    </div>
    <div>
        <div class="form-inline">
            <table class="documents" width="800">
                <thead>
                    <tr>
                        <td height="30" valign="middle"><center><b id="cover_font">Admin Supplement Workflow Management</b></center></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        
                                &#0160;&#0160;&#0160;&#0160;Assign the responsible parties (PD, Specialist, or individuals) to Administrative supplements notifications or PA# <br />
                                &#0160;&#0160;&#0160;&#0160;and then assign an email template to this whole selection, so that when a notification comes to system it could send<br />
                                &#0160;&#0160;&#0160;&#0160;email to these people. Setting end date will not send emails after that date.
                          <br /><br />
                        </td>
                    </tr>
                    <tr><td><center><b id="cover_font">Create New Workflow</b></center></td></tr>
                    <tr>
                        <td height="30" style="vertical-align:bottom">
                            <center>
                                <label for="select pa">Select PA:</label>&#0160;&#0160;
                                <select id="ddlPAList" name="PAList" class="form-control" style="height:30px; width:150px;" title="Select PA to edit" onchange="email_rule_act('show_pa');">
                                    <option></option>
                                    @foreach (var emailrules in ViewBag.EmailRules)
                                    {
                                        if (ViewBag.PA == emailrules.pa)
                                        {
                                            <option id="@emailrules.id" value="@emailrules.pa" selected="selected">@emailrules.pa</option>
                                        }
                                        else
                                        {
                                            <option id="@emailrules.id" value="@emailrules.pa">@emailrules.pa</option>
                                        }

                                    }
                                </select>
                                &#0160;&#0160;&#0160;&#0160;
                                <div class="menu" id="add_wf" style="display:inline">
                                    <a href="JavaScript:email_rule_act('add')" title="to create new PA">Add</a>
                                </div>
                                <div class="menu" id="edit_wf" style="display:none">
                                    |
                                    <a href="JavaScript:email_rule_act('edit')" title="to edit PA</xsl:attrib">Edit </a>
                                    |
                                    <a href="JavaScript:email_rule_act('delete')" title="to delete PA">Delete </a>
                                    |
                                    <a href="JavaScript:email_rule_act('to_clone')" title="to Clone">Clone To</a>
                                    &#0160;
                                    <div class="menu" id="clone" style="display:none">
                                        <input type="text" id="txtClone" class="form-control" style="height:30px; width:100px;" />&#0160;
                                        <button name="btnClone" accesskey="C" class="btn btn-primary btn-sm" title="Click here to clone[shift + alt + C]" onclick="email_rule_act('clone');">
                                            <u>C</u>lone
                                        </button>
                                    </div>
                                </div>
                            </center>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--start view Email Rule-->
    @if (ViewBag.EmailRule != null && ViewBag.EmailRule.Count > 0)
    {
        <div id="View_EmailRule" class="form-inline" style="display:inline">
            <table width="850">
                <thead>
                    <tr>
                        <th width="350" height="50"><center>Email Template</center></th>
                        <th width="500" height="50"><center>eMail Attributes</center></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pa in ViewBag.EmailRule)
                    {
                        <tr>
                            <td height="15px"><label for="pa"><b>PA:</b></label>&#0160;&#0160;@pa.pa</td>
                            <td height="15px"><label for="email to"><b>email to:</b></label>&#0160;&#0160;@pa.email_to</td>
                        </tr>
                        <tr>
                            <td height="15px"><label for="created by"><b>Created by:</b></label>&#0160;&#0160;@pa.person_name</td>
                            <td height="15px"><label for="email CC"><b>email CC:</b></label>&#0160;&#0160;@pa.email_cc</td>
                        </tr>
                        <tr>
                            <td height="15px"><label for="Start Date"><b>Start Date:</b></label>&#0160;&#0160;@pa.start_date</td>
                            <td height="15px"><label for="End Date"><b>End Date:</b></label>&#0160;&#0160;@pa.end_date</td>
                        </tr>
                        <tr><td height="15px"><label for="Template Name"><b>Template Name:</b></label>&#0160;&#0160;@pa.email_template_name</td></tr>
                        <tr><td colspan="2" height="15px"><label for="Subject"><b>Subject:</b></label>&#0160;&#0160;@pa.email_subject</td></tr>
                        <tr>
                            <td colspan="2">
                                <label for="Body"><b>Body:</b></label>&#0160;&#0160;<br /><br />
                                <div id="et_body">@pa.email_body</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <br /><br />
</div>
<!--end view Email Rule-->
<!--start add Email Rule-->
<div id="Add_EmailRule" class="form-inline" style="display:none">
    <table width="850">
        <thead>
            <tr>
                <th width="350" height="50"><center>Email Template</center></th>
                <th width="100" height="50"></th>
                <th width="400" height="50"><center>eMail Attributes</center></th>
            </tr>
        </thead>
        <tbody>
            <tr height="30">
                <td><label for="pa"><b>PA:</b></label>&#0160;&#0160;&#0160;<input type="text" id="txtPAcreate" class="form-control" style="height:30px; width:150px;" /></td>
                <td><label for="email to"><b>email to:</b></label></td>
                <td><input type="text" id="txtTOcreate" class="form-control" style="height:30px; width:350px;" /></td>
            </tr>
            <tr height="30">
                <td><label for="Created by"><b>Created by:</b></label>&#0160;&#0160;@ViewBag.Userid</td>
                <td><label for="email CC"><b>email CC:</b></label></td>
                <td><input type="text" id="txtCCcreate" class="form-control" style="height:30px; width:350px;" /></td>
            </tr>
            <tr height="30">
                <td>
                    <label for="Template"><b>Template:</b></label>&#0160;
                    <select id="ddlIDcreate" name="createTemplate" class="form-control" style="height:30px; width:250px;" title="Select email master">
                        <option></option>
                        @foreach (var EmailTemplate in ViewBag.EmailTemplate)
                        {
                            <option value="@EmailTemplate.id">@EmailTemplate.template_name</option>
                        }
                    </select>
                </td>
                <td></td>
                <td>
                    <button name="btnAdd" accesskey="A" class="btn btn-primary btn-sm" title="Click here to save edited workflow[shift + alt + A]" onclick="email_rule_act('create');">
                        <u>A</u>dd New
                    </button>
                    &#0160;
                    <button name="btnCancel" accesskey="C" class="btn btn-primary btn-sm" title="Click here to cancel edited workflow[shift + alt + C]" onclick="email_rule_act('cancel');">
                        <u>C</u>ancel
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!--end add Email Rule-->
<!--start edit Email Rule-->
<div id="Edit_EmailRule" class="form-inline" style="display:none">
    @if (ViewBag.EmailRule != null && ViewBag.EmailRule.Count == 1)
    {
        <table width="850">
            <thead>
                <tr>
                    <th width="350" height="50"><center>Email Template</center></th>
                    <th width="500" height="50"><center>eMail Attributes</center></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pa in ViewBag.EmailRule)
                {
                    <tr>
                        <td><label for="pa"><b>PA:</b></label>&#0160;&#0160;&#0160;<input type="text" id="txtPAsave" class="form-control" style="height:30px; width:150px;" value="@pa.pa" /></td>
                        <td><label for="email to"><b>email to:</b></label>&#0160;&#0160;&#0160;<input type="text" id="txtTOsave" class="form-control" style="height:30px; width:350px;" value="@pa.email_to" /></td>
                    </tr>
                    <tr>
                        <td><label for="Created by"><b>Created by:</b></label>&#0160;&#0160;@pa.person_name</td>
                        <td><label for="email CC"><b>email CC:</b></label>&#0160;&#0160;<input type="text" id="txtCCsave" class="form-control" style="height:30px; width:350px;" value="@pa.email_cc" /></td>
                    </tr>
                    <tr>
                        <td><label for="Start Date"><b>Start Date:</b></label>&#0160;&#0160;&#0160;@pa.start_date</td>
                        <td><label for="End Date"><b>End Date:</b></label>&#0160;&#0160;@pa.end_date</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Template"><b>Template:</b></label>&#0160;
                            <select id="ddlIDsave" name="saveTemplate" class="form-control" style="height:30px; width:250px;" title="Select email master">
                                <option></option>
                                @foreach (var EmailTemplate in ViewBag.EmailTemplate)
                                {
                                    if (pa.email_template_name == EmailTemplate.template_name)
                                    {
                                        <option value="@EmailTemplate.id" selected="selected">@EmailTemplate.template_name</option>
                                    }
                                    else
                                    {
                                        <option value="@EmailTemplate.id">@EmailTemplate.template_name</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <button name="btnSave" accesskey="S" class="btn btn-primary btn-sm" title="Click here to save edited workflow[shift + alt + S]" onclick="email_rule_act('save');">
                                <u>S</u>ave changes
                            </button>
                            &#0160;
                            <button name="btnCancel" accesskey="C" class="btn btn-primary btn-sm" title="Click here to cancel edited workflow[shift + alt + C]" onclick="email_rule_act('cancel');">
                                <u>C</u>ancel
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }<!--end edit Email Rule-->
    <br /><br />
</div><!--end main-->
