@{
    ViewBag.Title = "egrants [Supplement Review]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<script language="JavaScript">
        var currenturl = window.document.location.href;
          
        function en_act(act, paid) {
            if (act == 'resent') {
                alert(document.getElementById("hidID").value);
            }      
        }

        function to_open(){
            //close all
            for(var i = 2; i < 7; i++){
                to_close(i);
            }
            document.getElementById("resent_1").style.display = "inline";
        }

        function to_add(divid) {
            var el = "resent_" + divid;
            document.getElementById(el).style.display = "inline";
        }

        function to_close(divid) {
            var el = "resent_" + divid;
            document.getElementById(el).style.display = "none";
        }       

        function to_resent(id){
            if (get_en_type(1) == false || get_en_type(1) == 'false') {
                return true;
            } else var en_type_1 = get_en_type(1);

            if (get_en_position(1) == false || get_en_position(1) == 'false') {
                return true;
            } else var en_position_1 = get_en_position(1);

            var en_name_1 = get_en_name(1);

            if (get_en_address(1) == false || get_en_address(1) == 'false') {
                return true;
            } else var en_address_1 = get_en_address(1);

            var detail = '(email email_type="' + en_type_1 + '" person_position="' + en_position_1 + '" person_name="' + en_name_1 + '" email_address="' + en_address_1 + '")(/email)';

            for (var i = 2; i < 7; i++) {
                if (document.getElementById("resent_" + i).style.display == 'inline') {
                    if (get_en_type(i) == false || get_en_type(i) == 'false') {
                        return true;
                    } else var en_type_i = get_en_type(i);

                    if (get_en_position(i) == false || get_en_position(i) == 'false') {
                        return true;
                    } else var en_position_i = get_en_position(i);

                    var en_name_i = get_en_name(i);

                    if (get_en_address(i) == false || get_en_address(i) == 'false') {
                        return true;
                    } else var en_address_i = get_en_address(i);

                    var detail = detail + '(email email_type="' + en_type_i + '" person_position="' + en_position_i + '" person_name="' + en_name_i + '" email_address="' + en_address_i + '")(/email)';
                }
            }
     
            var url="@Url.Action("Resent_Notification", "Supplement")?id=" + id + "&detail=" + detail;
            window.document.location.href = url;
        }

        function get_en_type(seq_id) {
            //alert(seq_id);
            var el = "ddlEmail_Type_" + seq_id;
            if (document.getElementById(el) && document.getElementById(el).selectedIndex == 0) {
                alert("Please select email notification type");
                return false;
            } else var email_type = document.getElementById(el).options[document.getElementById(el).selectedIndex].value;
            return email_type;
        }

        function get_en_position(seq_id) {
            var el = "ddlEmail_Position_" + seq_id;
            if (document.getElementById(el) && document.getElementById(el).selectedIndex == 0) {
                alert("Please select email notification position");
                return false;
            } else var email_position = document.getElementById(el).options[document.getElementById(el).selectedIndex].value;
            return email_position;
        }

        function get_en_name(seq_id) {
            var el = "txtName_" + seq_id;
            if (document.getElementById(el) && document.getElementById(el).value != '') {
                var person_name = document.getElementById(el).value;
            } else var person_name = "";
            return person_name;
        }

        function get_en_address(seq_id) {
            var el = "txtAddress_" + seq_id;
            if (document.getElementById(el) && document.getElementById(el).value == '') {
                alert("Please insert email address");
                document.getElementById(el).focus();
                return false;
            } else var email_address = document.getElementById(el).value;
            return email_address;
        }
</script>

<div id="main"><!--start main-->
    <form name="frmGetInfo">
        <input type="text" hidden id="hidSerialNum" name="SerialNum" value="@ViewBag.SerialNum" />
        <input type="text" hidden id="hidID" name="ID" value="@ViewBag.ID" />
    </form>
    <div>
        @Html.Partial("~/Egrants_Admin/Views/_AdminMenuIndex.cshtml")
    </div>
    <div id="caption">
        <b id="page_title">Admin Supplement</b><br />
        @Html.ActionLink("eRA Notification", "Index", "Supplement", new { area = "Egrants_Admin" }, null) |
        @Html.ActionLink("Email TemplateEmail", "Load_Email_Template", "Supplement", new { area = "Egrants_Admin" }, null) |
        @Html.ActionLink("Workflow", "Load_Workflow", "Supplement", new { area = "Egrants_Admin" }, null)
    </div>

<table width="780">
<tr class="bg_grey"><td height="20" colspan="10"><center><b>Workflow Status</b></center></td></tr>
@foreach (var item in ViewBag.NotificationStatus)
{

    if (Convert.ToInt16(item.tag) == 1)
    {
	<tr>
		<td height="15" colspan="3"><b>Full Grant Number:</b></td>
		<td colspan="7">@item.full_grant_num</td>
	</tr>
	<tr>
		<td height="15" colspan="3"><b>PA:</b></td>
		<td colspan="7">@item.pa</td>
	</tr>
	<tr>
		<td height="15" colspan="3"><b>OGA Notification ID:</b></td>
		<td colspan="7">@item.id</td>
	</tr>
    }
}
    @foreach (var doc in ViewBag.NotificationStatus)
    {
	    <tr>
			<td colspan="3"></td>
			<td colspan="2">@doc.category_name</td>
			<td colspan="5">@doc.document_date</td>
		</tr>
    }

<tr><td height="10" colspan="9"></td></tr>
<tr class="bg_grey">
	<td align="center" width="50"><lable for="email"><b>Email</b></lable></td>
	<td align="center" width="80"><lable for="Position"><b>Position</b></lable></td>
	<td align="center" width="100"><lable for="Name"><b>Name</b></lable></td>
	<td align="center" width="100"><lable for="Email"><b>Email Address</b></lable></td>
	<td align="center" width="100"><lable for="Created Date"><b>Created Date</b></lable></td>
	<td align="center" width="100"><lable for="Emailed Date"><b>Emailed Date</b></lable></td>
	<td align="center" width="80"><lable for="Status"><b>Status</b></lable></td>
	<td align="center" width="100"><lable for="Reply Date"><b>Reply Date</b></lable></td>
	<td align="center" width="80"><lable for="Reply Status"><b>Reply Status</b></lable></td>
</tr>

 @if (ViewBag.EmailStatus != null) {
    foreach(var email in ViewBag.EmailStatus) {
	<tr>
		<td>@email.email_type</td>
		<td>@email.position</td>
		<td>@email.person_name</td>
		<td>@email.email_address</td>
		<td>@email.created_date</td>
		<td>@email.email_date</td>
		<td>@email.email_send_status</td>
		<td>@email.reply_recieved_date</td>
		<td>@email.reply_status</td>		
	</tr>
     }    
 }
	
    @if (ViewBag.EmailStatus.Count >= 1)
    {
        <tr><td colspan="6"></td><td colspan="3">
		    <a href="JavaScript:to_open()" title="open form to resent Notification">To Resend this Notification...</a>
	    </td></tr>
    }
    <tr><td height="10" colspan="9"></td></tr>
</table>

    <div class="form-inline modify" id="resent_1" style="display:none">
        <table width="780" class="bg_grey">
            <tr>
                <td width="100"></td>
                <td width="120"></td>
                <td width="180"></td>
                <td width="380"></td>
                <td width="20"></td>
            </tr>
            <tr><td colspan="4"></td></tr>
            <tr>
                <td><lable for="type">&#0160;&#0160;&#0160;&#0160;<b>Type:</b></lable></td>
                <td><lable for="position"><b>Position:</b></lable></td>
                <td><lable for="name"><b>Name:</b></lable></td>
                <td><lable for="address"><b>Address:</b></lable></td>
                <td>
                    <img class="img_16_16" src="../Content/images/closebtn.gif" title="close" onclick="JavaScript:to_close(1)" />
                </td>
            </tr>
            <tr>
                <td>
                    &#0160;&#0160;
                    <select id="ddlEmail_Type_1" class="form-control" style="height:30px; width:70px;" title="select email type" >
                        <option></option>
                        <option value="to">TO</option>
                        <option value="cc">CC</option>
                    </select>
                </td>
                <td>
                    <select id="ddlEmail_Position_1" class="form-control" style="height:30px; width:120px;" title="select position" >
                        <option></option>
                        @foreach (var emailposition in ViewBag.EmailPositionList)
                        {
                            <option value="@emailposition.email_position_code">@emailposition.email_position_code</option>
                        }
                    </select>
                </td>
                <td><input type="text" id="txtName_1" class="form-control" style="height:30px; width:180px;"/></td>
                <td colspan="2">
                    <input type="text" id="txtAddress_1" class="form-control" style="height:30px; width:250px;"/>&#0160;
                    <input type="button" value="Add" id="btnAdd" class="btn btn-primary btn-sm" onClick="to_add(2)" />&#0160;               
                </td>
            </tr>    
            <tr><td colspan="5"></td></tr>         
        </table>

        <div class="form-inline modify" id="resent_2" style="display:none">
            <table width="780" class="bg_grey">
                <tr>
                    <td width="100"></td>
                    <td width="120"></td>
                    <td width="180"></td>
                    <td width="380"></td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td><lable for="type">&#0160;&#0160;&#0160;&#0160;<b>Type:</b></lable></td>
                    <td><lable for="position"><b>Position:</b></lable></td>
                    <td><lable for="name"><b>Name:</b></lable></td>
                    <td><lable for="address"><b>Address:</b></lable></td>
                    <td><img class="img_16_16" src="../Content/images/closebtn.gif" title="close" onclick="JavaScript:to_close(2)" /></td>
                </tr>
                <tr>
                    <td>
                        &#0160;&#0160;
                        <select id="ddlEmail_Type_2" class="form-control" style="height:30px; width:70px;" title="select email type">
                            <option></option>
                            <option value="to">TO</option>
                            <option value="cc">CC</option>
                        </select>
                    </td>
                    <td>
                        <select id="ddlEmail_Position_2" class="form-control" style="height:30px; width:120px;" title="select position" >
                            <option></option>
                            @foreach (var emailposition in ViewBag.EmailPositionList)
                            {
                                <option value="@emailposition.email_position_code">@emailposition.email_position_code</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" id="txtName_2" class="form-control" style="height:30px; width:180px;"/></td>
                    <td colspan="2">
                        <input type="text"  id="txtAddress_2" class="form-control" style="height:30px; width:250px;"/>&#0160;
                        <input type="button" value="Add" id="btnAdd" class="btn btn-primary btn-sm" onClick="to_add(3)" />&#0160;
                    </td>
                </tr>
                <tr><td colspan="5"></td></tr>
            </table>
        </div>

        <div class="form-inline modify" id="resent_3" style="display:none">
            <table width="780" class="bg_grey">
                <tr>
                    <td width="100"></td>
                    <td width="120"></td>
                    <td width="180"></td>
                    <td width="380"></td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td><lable for="type">&#0160;&#0160;&#0160;&#0160;<b>Type:</b></lable></td>
                    <td><lable for="position"><b>Position:</b></lable></td>
                    <td><lable for="name"><b>Name:</b></lable></td>
                    <td><lable for="address"><b>Address:</b></lable></td>
                    <td><img class="img_16_16" src="../Content/images/closebtn.gif" title="close" onclick="JavaScript:to_close(3)" /></td>
                </tr>
                <tr>
                    <td>
                        &#0160;&#0160;
                        <select id="ddlEmail_Type_3" class="form-control" style="height:30px; width:70px;" title="select email type" >
                            <option></option>
                            <option value="to">TO</option>
                            <option value="cc">CC</option>
                        </select>
                    </td>
                    <td>
                        <select id="ddlEmail_Position_3" class="form-control" style="height:30px; width:120px;" title="select position" >
                            <option></option>
                            @foreach (var emailposition in ViewBag.EmailPositionList)
                            {
                                <option value="@emailposition.email_position_code">@emailposition.email_position_code</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" id="txtName_3" class="form-control" style="height:30px; width:180px;"/></td>
                    <td colspan="2">
                        <input type="text" id="txtAddress_3" class="form-control" style="height:30px; width:250px;"/>&#0160;
                        <input type="button" value="Add" id="btnAdd" class="btn btn-primary btn-sm" onClick="to_add(4)" />&#0160;
                    </td>
                </tr>
                <tr><td colspan="5"></td></tr>
            </table>
        </div>

        <div class="form-inline modify" id="resent_4" style="display:none">
            <table width="780" class="bg_grey">
                <tr>
                    <td width="100"></td>
                    <td width="120"></td>
                    <td width="180"></td>
                    <td width="380"></td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td><lable for="type">&#0160;&#0160;&#0160;&#0160;<b>Type:</b></lable></td>
                    <td><lable for="position"><b>Position:</b></lable></td>
                    <td><lable for="name"><b>Name:</b></lable></td>
                    <td><lable for="address"><b>Address:</b></lable></td>
                    <td><img class="img_16_16" src="../Content/images/closebtn.gif" title="close" onclick="JavaScript:to_close(4)" /></td>
                </tr>
                <tr>
                    <td>
                        &#0160;&#0160;
                        <select id="ddlEmail_Type_4" class="form-control" style="height:30px; width:70px;" title="select email type" >
                            <option></option>
                            <option value="to">TO</option>
                            <option value="cc">CC</option>
                        </select>
                    </td>
                    <td>
                        <select id="ddlEmail_Position_4" class="form-control" style="height:30px; width:120px;" title="select position" >
                            <option></option>
                            @foreach (var emailposition in ViewBag.EmailPositionList)
                            {
                                <option value="@emailposition.email_position_code">@emailposition.email_position_code</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" id="txtName_4" class="form-control" style="height:30px; width:180px;"/></td>
                    <td colspan="2">
                        <input type="text" id="txtAddress_4" class="form-control" style="height:30px; width:250px;"/>&#0160;
                        <input type="button" value="Add" id="btnAdd" class="btn btn-primary btn-sm" onClick="to_add(5)" />&#0160;
                    </td>
                </tr>
                <tr><td colspan="5"></td></tr>
            </table>
        </div>

        <div class="form-inline modify" id="resent_5" style="display:none">
            <table width="780" class="bg_grey">
                <tr>
                    <td width="100"></td>
                    <td width="120"></td>
                    <td width="180"></td>
                    <td width="380"></td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td><lable for="type">&#0160;&#0160;&#0160;&#0160;<b>Type:</b></lable></td>
                    <td><lable for="position"><b>Position:</b></lable></td>
                    <td><lable for="name"><b>Name:</b></lable></td>
                    <td><lable for="address"><b>Address:</b></lable></td>
                    <td><img class="img_16_16" src="../Content/images/closebtn.gif" title="close" onclick="JavaScript:to_close(5)" /></td>
                </tr>
                <tr>
                    <td>
                        &#0160;&#0160;
                        <select id="ddlEmail_Type_5" class="form-control" style="height:30px; width:70px;" title="select email type" >
                            <option></option>
                            <option value="to">TO</option>
                            <option value="cc">CC</option>
                        </select>
                    </td>
                    <td>
                        <select id="ddlEmail_Position_5" class="form-control" style="height:30px; width:120px;" title="select position" >
                            <option></option>
                            @foreach (var emailposition in ViewBag.EmailPositionList)
                            {
                                <option value="@emailposition.email_position_code">@emailposition.email_position_code</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" id="txtName_5" class="form-control" style="height:30px; width:180px;"/></td>
                    <td colspan="2">
                        <input type="text" id="txtAddress_5" class="form-control" style="height:30px; width:250px;"/>&#0160;
                        <input type="button" value="Add" id="btnAdd" class="btn btn-primary btn-sm" onClick="to_add(6)" />&#0160;
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-inline modify" id="resent_6" style="display:none">
            <table width="780" class="bg_grey">
                <tr>
                    <td width="100"></td>
                    <td width="120"></td>
                    <td width="180"></td>
                    <td width="380"></td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td><lable for="type">&#0160;&#0160;&#0160;&#0160;<b>Type:</b></lable></td>
                    <td><lable for="position"><b>Position:</b></lable></td>
                    <td><lable for="name"><b>Name:</b></lable></td>
                    <td><lable for="address"><b>Address:</b></lable></td>
                    <td><img class="img_16_16" src="../Content/images/closebtn.gif" title="close" onclick="JavaScript:to_close(6)" /></td>
                </tr>
                <tr>
                    <td>
                        &#0160;&#0160;
                        <select id="ddlEmail_Type_6" class="form-control" style="height:30px; width:70px;" title="select email type" >
                            <option></option>
                            <option value="to">TO</option>
                            <option value="cc">CC</option>
                        </select>
                    </td>
                    <td>
                        <select id="ddlEmail_Position_6" class="form-control" style="height:30px; width:120px;" title="select position" >
                            <option></option>
                            @foreach (var emailposition in ViewBag.EmailPositionList)
                            {
                                <option value="@emailposition.email_position_code">@emailposition.email_position_code</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" id="txtName_6" class="form-control" style="height:30px; width:180px;"/></td>
                    <td colspan="2">
                        <input type="text" id="txtAddress_6" class="form-control" style="height:30px; width:250px;"/>&#0160;
                        <input type="button" value="Add" id="btnAdd" class="btn btn-primary btn-sm" onClick="to_add(7)" />&#0160;
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-inline modify" id="resent_7" style="display:none">
            <table width="780" class="bg_grey">
                <tr>
                    <td width="100"></td>
                    <td width="120"></td>
                    <td width="180"></td>
                    <td width="380"></td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td><lable for="type">&#0160;&#0160;&#0160;&#0160;<b>Type:</b></lable></td>
                    <td><lable for="position"><b>Position:</b></lable></td>
                    <td><lable for="name"><b>Name:</b></lable></td>
                    <td><lable for="address"><b>Address:</b></lable></td>
                    <td><img class="img_16_16" src="../Content/images/closebtn.gif" title="close" onclick="JavaScript:to_close(7)" /></td>
                </tr>
                <tr>
                    <td>
                        &#0160;&#0160;
                        <select id="ddlEmail_Type_7" class="form-control" style="height:30px; width:70px;" title="select email type" >
                            <option></option>
                            <option value="to">TO</option>
                            <option value="cc">CC</option>
                        </select>
                    </td>
                    <td>
                        <select id="ddlEmail_Position_7" class="form-control" style="height:30px; width:120px;" title="select position" >
                            <option></option>
                            @foreach (var emailposition in ViewBag.EmailPositionList)
                            {
                                <option value="@emailposition.email_position_code">@emailposition.email_position_code</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" id="txtName_7" class="form-control" style="height:30px; width:180px;"/></td>
                    <td colspan="2">
                        <input type="text" id="txtAddress_7" class="form-control" style="height:30px; width:250px;"/>
                    </td>
                </tr>
                <tr><td colspan="5"></td></tr>
            </table>
        </div>

        <table width="780">
            <tr>
                <td width="650"></td>
                <td width="150" align="right"><input type="button" id="btnResent" value="Resent Notification" class="btn btn-primary btn-sm" onClick="to_resent(@ViewBag.ID)" /></td>
            </tr>
        </table>
    </div>
</div><!--end main-->   

