@{
    ViewBag.Title = "eGrants [Funding Appl Edit]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<script language="JavaScript">
        var currenturl = window.document.location.href;
        var d = new Date();
        var y = d.getFullYear();

        function back_to_funding_index() {
            var url = "@Url.Action("funding_index", "EgrantsFunding")";
            //alert(url);
            window.self.location = url;
        }

        function load_doc_appls() {
            var admincode = document.getElementById("ddlAdmincodes").options[document.getElementById("ddlAdmincodes").selectedIndex].value;

            if (get_serial_num() == false) {
                return false;
            } else var serialnum = document.getElementById("txtSerialnum").value;

            var url = "@Url.Action("load_doc_appls", "EgrantsFunding")?serial_num=" + serialnum + "&admin_code=" + admincode + "&doc_id=" + document.getElementById("hidDocid").value + "&fy=" + document.getElementById("hidFY").value;
            window.self.location = url;
        }

        function by_appl(appl_id) {
            var url = "@Url.Action("by_appl", "Egrants")?appl_id=" + appl_id;
            window.document.location.href = url;
        }

        function appl_add() {
            if (document.getElementById("txtSerialnum").value == '') {
                alert("Please insert serial number for searching available grants");
                return false;
            }

            if (document.getElementById("ddlAppls").selectedIndex == 0 || document.getElementById("ddlAppls").selectedIndex == (document.getElementById("ddlAppls").length - 1)) {
                alert("Please select a grant year");
                return false;
            }
            else
            {
                var appl_id = document.getElementById("ddlAppls").options[document.getElementById("ddlAppls").selectedIndex].value;
            }

            if (appl_id != "" || appl_id !=null) {
                var url = "@Url.Action("appl_edit", "EgrantsFunding")?act=add_appl&appl_id=" + appl_id + "&doc_id=" + document.getElementById("hidDocid").value + "&fy=" + document.getElementById("hidFY").value;
                //alert(url);
                window.self.location = url;
                return true;
            }
        }

        function appl_delete(appl_id) {
            if (confirm('Are you sure that you want to delete the funding document for this appl?')) {
                var url = "@Url.Action("appl_edit", "EgrantsFunding")?act=delete_appl&appl_id=" + appl_id + "&doc_id=" + document.getElementById("hidDocid").value + "&fy=" + document.getElementById("hidFY").value;
                //alert(url);
                window.self.location = url;
            }
        }

        function create_new_appl(object) {
            if (object.options[object.selectedIndex].value == 'CreateGrantYear') {
                var admincode = document.getElementById("ddlAdmincodes").options[document.getElementById("ddlAdmincodes").selectedIndex].value;

                if (get_serial_num() == false) {
                    return false;
                } else var serialnum = document.getElementById("txtSerialnum").value;

                var url = "@Url.Action("appl_create_default", "EgrantsDoc")?admin_code=" + admincode + "&serial_num=" + serialnum;
                window.open(url, "NewAPPL", "toolbar=0,menubar=0,location=0,status=0,width=850,height=400,scrollbars=yes,left=200,top=200");
            }
        }

        function get_serial_num() {
            if (document.getElementById("txtSerialnum").value == "") {
                alert("Please insert serial number");
                document.getElementById("txtSerialnum").focus();
                document.getElementById("ddlAppls").options[0].selected = "selected";
                return false;
            } else if (isInteger(document.getElementById("txtSerialnum").value) == false) {
                alert("Please insert correct serial number");
                document.getElementById("txtSerialnum").value = "";
                document.getElementById("txtSerialnum").focus();
                document.getElementById("ddlAppls").options[0].selected = "selected";
                return false;
            } else return true;
        }
    </script>

    <form name="frmGetInfo">      
        <input type="text" hidden id="hidFY" name="fy" value="@ViewBag.FY" />
        <input type="text" hidden id="hidDocid" name="doc_id" value="@ViewBag.Docid" />
    </form>
   
<!--start main-->
    <div id="main">
       <div id="caption">
          <strong id="page_title">Edit Funding Document for Appl</strong>
       </div>
       <br />
       <a href="JavaScript:back_to_funding_index()">
          <strong>NCI Funding Files Index</strong>
       </a>
       <br /><br />
       <!--start search appl-->
       <div class="form-inline">
          <table width="800">
             <thead>
                <tr>
                   <td colspan="2" class="bg_grey p-1">* Select admin phs org code, inset serial number and press Check Available Grants<br /></td>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td width="100">
                      <label class="float-left ml-2 mt-2" for="ic">
                         <strong>Institute:</strong>
                      </label>
                   </td>
                   <td>
                      <select name="admin_code" id="ddlAdmincodes" class="form-control float-left my-2" style="width:80px;" size="1" title="Select admin phs org code">
                         @foreach (var ic in ViewBag.AdminCodeList)
                         {
                            if (ic.profile != null && Convert.ToString(ic.profile) == Convert.ToString(Session["ic"]))
                            {
                               <option value="@ic.admin_phs_org_code" selected>@ic.admin_phs_org_code</option>
                            }
                            else if (Convert.ToString(ViewBag.admincode) == ic.admin_phs_org_code)
                            {
                               <option value="@ic.admin_phs_org_code">@ic.admin_phs_org_code</option>
                            }
                            else
                            {
                               <option value="@ic.admin_phs_org_code">@ic.admin_phs_org_code</option>
                            }
                         }
                      </select>

                      <label class="float-left mt-3 pl-4" for="txtSerialnum"><strong>Serial Number:</strong></label>

                      <input name="serial_num" type="text" id="txtSerialnum" class="form-control float-left my-2 ml-2" style="width:80px;" title="Insert serial number" value="@ViewBag.SerialNum" />

                      <button type="button" name="load appls" id="btnLoadAppls" class="btn btn-primary btn-sm float-left my-2 ml-3" AccessKey="C" OnClick="return load_doc_appls();" title="Click here to load available appls [shift + alt + C]">
                         <U>C</U>heck Available Grants
                      </button>
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
       <!-- end search appl -->
       <!-- start add or delete appl -->
       <div class="form-inline">
          <table width="800">
             @* <thead> *@
             @*    <tr> *@
             @*       <td colspan="2" class="bg_grey pl-3">* Select grant year and add it for this funding document<br /></td> *@
             @*    </tr> *@
             @* </thead> *@
             <tbody>
             <tr>
                <td colspan="2" class="bg_grey p-1">* Select grant year and add it for this funding document<br /></td>
             </tr>
             <tr>
                <td width="100"><label class="float-left my-2" for="ddlAppls"><b>Grant:</b></label></td>
                <td>
                   <select name="appl_id" id="ddlAppls" class="form-control float-left my-2" style="width: 180px;" onChange="create_new_appl(this)" title="Select here to create new grant year">
                      <option value="select grant year">Select grant year</option>
                      @if (ViewBag.GrantYearList != null)
                      {
                         foreach (var appls in ViewBag.GrantYearList)
                         {
                            <option value="@appls.appl_id">@appls.full_grant_num</option>
                         }
                      }
                      <option value="CreateGrantYear">Create grant year</option>
                   </select>

                   <button type="button" class="btn btn-primary btn-sm float-left my-2 ml-3" AccessKey="N" OnClick="return appl_add();" title="Add available appl [shift + alt + N]">
                      Add <u>N</u>ew Appl
                   </button>
                </td>
             </tr>
             </tbody>
          </table>
       </div>
       <br />
       <b>This funding document has been applied to:</b><br />
       <div class="d-block">
          <table>
             <thead>
                <tr>
                   <td width="200"></td>
                   <td width="150"></td>
                </tr>
             </thead>
             <tbody>
                @foreach (var docappls in ViewBag.DocAppls)
                {
                   <tr>
                      <td>
                         <a href="Javascript:by_appl(@docappls.appl_id)" title="Click here to show funding documents from @docappls.appl_id">@docappls.full_grant_num</a>
                      </td>
                      <td>
                         <a href="JavaScript:appl_delete(@docappls.appl_id)">Delete</a>
                      </td>
                   </tr>
                }
             </tbody>
          </table>
       </div> <!--end add or delete appl-->
    </div><!--end main-->
   
