@{
    ViewBag.Title = "egrant Funding Files[NCI OGA]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

    <script language="JavaScript">
        function view_edit() {
            var d = new Date();
            var y = d.getFullYear();
            var m = d.getMonth();
            //alert(m);
            if (m > 9) {
                y = y + 1;
            }
            var url = "@Url.Action("view_edit", "EgrantsFunding")?fy=" + y;
            //alert(url);
            window.self.location = url;
        }
    </script>

    <div id="main">
        <!--start main-->
        <div id="caption"><b id="page_title">NCI Funding Files Index</b></div>
        <br />
        @if (@Convert.ToInt16(Session["position_id"]) > 4) {
            <a href="JavaScript:view_edit()"><b>Funding Document Quality Control</b></a>
        }
        <br /><br />
        <div>
            @Html.ActionLink("FY2014 NCI Master Funding File", "view_all", "EgrantsFunding", new { fy = 2014 }, new { target = "_self" })<br />
            @Html.ActionLink("FY2013 NCI Master Funding File", "view_all", "EgrantsFunding", new { fy = 2013 }, new { target = "_self" })<br />
            @Html.ActionLink("FY2012 NCI Master Funding File", "view_all", "EgrantsFunding", new { fy = 2012 }, new { target = "_self" })<br />
            @Html.ActionLink("FY2011 NCI Master Funding File", "view_all", "EgrantsFunding", new { fy = 2011 }, new { target = "_self" })<br />
            @Html.ActionLink("FY2010 NCI Master Funding File", "view_all", "EgrantsFunding", new { fy = 2010 }, new { target = "_self" })<br />
            @Html.ActionLink("FY2009 NCI Master Funding File", "view_all", "EgrantsFunding", new { fy = 2009 }, new { target = "_self" })<br />
            <a target="_new" title="Display master funding for 2008" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding08.pdf">
                FY2008 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2007" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding07.pdf">
                FY2007 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2006" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding06.pdf">
                FY2006 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2005" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding05.pdf">
                FY2005 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2004" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding04.pdf">
                FY2004 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2003" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding03.pdf">
                FY2003 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2002" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding02.pdf">
                FY2002 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2001" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding01.pdf">
                FY2001 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 2000" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding00.pdf">
                FY2000 NCI Master Funding File
            </a>
            <br />
            <a target="_new" title="Display master funding for 1998 and 1999" href="@Convert.ToString(Session["ImageServer"])data/funded/nci/funding/funding9899.pdf">
                FY98/99 NCI Master Funding File
            </a>
        </div>
        <br />
    </div><!--end main-->



