@{
    ViewBag.Title = "egrants [QC Assignment]";
    Layout = "~/Shared/Views/_egrants_header.cshtml";
}

<script language="javascript">

    var currenturl = window.document.location.href;

    function to_assign() {
        if (document.getElementById("ddlQCreason").selectedIndex == 0) {
            alert("Please select QC reason to assign");
            return false;
        } else var qc_reason = document.getElementById("ddlQCreason").options[document.getElementById("ddlQCreason").selectedIndex].text;

        if (document.getElementById("ddlQCperson").selectedIndex == 0) {
            alert("Please select QC person to assign");
            return false;
        } else  var qc_person = document.getElementById("ddlQCperson").options[document.getElementById("ddlQCperson").selectedIndex].text;
                var qc_person_id = document.getElementById("ddlQCperson").options[document.getElementById("ddlQCperson").selectedIndex].value;

        if (confirm('Are you sure that you want to assign QC ' + qc_reason + ' documents to ' + qc_person + '?')) {
            var url = "@Url.Action("To_Assign", "Management")?qc_reason=" + qc_reason + "&qc_person_id=" + qc_person_id;
            window.location.href = url;
        }
    }

    function to_remove(qc_reason, qc_person_id, person_name) {
        if (confirm('Are you sure that you want to remove '+ person_name +' from list for QC ' + qc_reason + ' documents?')) {
            var url = "@Url.Action("To_Remove", "Management")?qc_reason=" + qc_reason + "&qc_person_id=" + qc_person_id;
            window.location.href = url;
        }
    }

    function to_route() {
        if (document.getElementById("ddlFromPerson").selectedIndex == 0) {
            alert("Please select the person whose documents will be route out");
            return false;
        } else  var person = document.getElementById("ddlFromPerson").options[document.getElementById("ddlFromPerson").selectedIndex].text;
                var person_id = document.getElementById("ddlFromPerson").options[document.getElementById("ddlFromPerson").selectedIndex].value;

        if (document.getElementById("ddlPercent").selectedIndex == 0) {
                alert("Please select the percent of documents to route");
                return false;
        } else var percent = document.getElementById("ddlPercent").options[document.getElementById("ddlPercent").selectedIndex].value;

        if (document.getElementById("ddlToPerson").selectedIndex == 0) {
            alert("Please select the person whom documents will route to");
            return false;
        } else  var qc_person = document.getElementById("ddlToPerson").options[document.getElementById("ddlToPerson").selectedIndex].text;
                var qc_person_id = document.getElementById("ddlToPerson").options[document.getElementById("ddlToPerson").selectedIndex].value;

        if (confirm('Are you sure that you want to route ' + percent + '%  QC documents from ' + person + ' to ' + qc_person + '?')) {
            var url = "@Url.Action("To_Route", "Management")?person_id=" + person_id + "&percent=" + percent + "&qc_person_id=" + qc_person_id;
            window.location.href = url;
        }
    }
</script>

<div id="main">
      <!--start main-->
      <div style="text-align: left">
         <!--start sub link-->
         @Html.ActionLink("QC Assignment Report", "index", "Management", new { area = "Management" }, null)&#0160;&#47;
         @Html.ActionLink("Document Transaction Report", "index", "DocTransactionReport", new { area = "Management" }, null)&#0160;&#47;
         @Html.ActionLink("System Report", "index", "SystemReport", new { area = "Management" }, null)
      </div>
      <br />
      <div id="caption">
         <b id="page_title">QC Assignment Report</b>
      </div>
      <div id="report" class="form-inline">
         <table class="table table-hover table-sm">
            <caption>* Select QC reason and assign it to particular specialist</caption>
            <thead>
            <tr>
                  <th scope="col">QC Reason:</th>
                  <th scope="col">QC Person:</th>
                  <th scope="col"></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <select name="qc_reason" id="ddlQCreason" class="my-1 mr-sm-2 form-control" title="Select a qc reason from list">
                        <option selected></option>
                        @foreach (var item in ViewBag.QCReasons)
                        {
                           <option value=@item.qc_reason>
                              @item.qc_reason
                           </option>
                        }
                     </select>
                  </td>
                  <td>
                     <select name="qc_person_id" id="ddlQCperson" class="my-1 mr-sm-2 form-control" title="Select a qc person from list">
                        <option selected></option>
                        @foreach (var item in ViewBag.Specialists)
                        {
                           <option value=@item.person_id>
                              @item.person_name
                           </option>
                        }
                     </select>
                  </td>
                  <td>
                     <button AccessKey="A" ID="btnAssign" class="btn btn-primary my-1 mr-sm-2" title="Click to add person for QC [shift + alt + A]" OnClick="to_assign();">
                        <U>A</U>ssign
                     </button>
                  </td>
               </tr>
               @foreach (var item in ViewBag.QCPersons)
               {
                  <tr>
                     <td>@item.qc_reason:</td>
                     <td>@item.person_name</td>
                     <td>
                        <a title="Click to remove" href="JavaScript:to_remove('@item.qc_reason', '@item.person_id','@item.person_name')">
                           Remove
                        </a>
                     </td>
                  </tr>
               }
            </tbody>
         </table>
      </div>
   
      <br />

      <div>
         <b id="page_title">QC Route Report</b>
      </div>
      <div id="report" class="form-inline">
         @*<table id="modify">*@
         <table class="table table-hover table-sm">
            <caption>* Select specialist name and percent of documents, route them to another specialist for QC.</caption>
            <thead>
            <tr>
               <th scope="col">From:</th>
               <th scope="col">To:</th>
               <th scope="col"></th>
            </tr>
            <tbody>
               <tr>
                  <td>
                     <select name="person_id" id="ddlFromPerson" class="my-1 mr-sm-2 form-control" title="Select a qc person from list">
                        <option selected></option>
                        @foreach (var item in ViewBag.Specialists)
                        {
                           <option value=@item.person_id>@item.person_name</option>
                        }
                     </select>
                  </td>
                  <td>
                     <select name="qc_person_id" id="ddlToPerson" class="my-1 mr-sm-2 form-control" title="Select a qc person from list">
                        <option selected></option>
                        @foreach (var item in ViewBag.Specialists)
                        {
                           <option value=@item.person_id>@item.person_name</option>
                        }
                     </select>
                     <select name="percent" id="ddlPercent" class="my-1 mr-sm-2 form-control" title="Select percent">
                        <option selected></option>
                        <option Value="100">100%</option>
                        <option Value="50">50%</option>
                        <option Value="25">25%</option>
                        <option Value="10">10%</option>
                     </select>
                  </td>
                  <td>
                     <button AccessKey="R" ID="btnRoute"class="btn btn-primary my-1 mr-sm-2" title="Click to route [shift + alt + R]" OnClick="to_route();">
                        <U>R</U>oute
                     </button>
                  </td>
               </tr>
               <tr>
                  <td><b>Specialist Name</b></td>
                  <td><b>Documents to QC</b></td>
                  <td><b>Days in</b></td>
               </tr>
               @foreach (var item in ViewBag.QCReport)
               {
                  <tr>
                     <td>@item.qc_person_name</td>
                     <td>@item.files_to_qc</td>
                     <td>@item.qc_days</td>
                  </tr>
               }
            </tbody>
         </table>
      </div>

</div><!--end main-->
